<!-- Herschreven versie van H16_IA_7_forloop.md -->

## 7: Een geneste dictionary doorlopen met een <code>for</code>-loop

<p>Met een <code>for</code>-loop en <code>.items()</code> kun je alle sleutels één voor één doorlopen, om bijvoorbeeld de bijbehorende dictionary af te drukken:</p>

In [ ]:
steden = {
    "Amsterdam": {"land": "Nederland", "inwoners": 921000},
    "Parijs": {"land": "Frankrijk", "inwoners": 2148000},
    "Berlijn": {"land": "Duitsland", "inwoners": 3769000}
}

# Door de steden lopen en alle gegevens printen
for stad, gegevens in steden.items():
    print( stad,  "ligt in", gegevens['land'], "en heeft", gegevens['inwoners'], "inwoners.")

We bekijken de <b>eerste stap</b> van de <code>for</code>-loop:
<ul>
<li><code>stad</code> wordt <code>"Amsterdam"</code>
<li><code>gegevens</code> wordt <code>{"land": "Nederland", "inwoners": 921000}</code>
<li>de uitvoer wordt: <i>Amsterdam ligt in Nederland en heeft 921000 inwoners.</i> 
</ul>

In de <b>tweede stap</b> van de <code>for</code>-loop:
<ul>
<li><code>stad</code> wordt <code>"Parijs"</code>
<li><code>gegevens</code> wordt <code>{"land": "Frankrijk", "inwoners": 2148000}</code>
<li>de uitvoer wordt: <i>Parijs ligt in Frankrijk en heeft 2148000 inwoners.</i>
</ul>


<p>Met een <i>trace tabel</i> kunnen we zien wat de waarde van elk variabel is per stap in de <code>for</code>-loop:</p>

<p>

<table border="1">
  <thead>
    <tr>
      <th>Stap</th>
      <th>stad</th>
      <th>gegevens</th>
      <th>Uitvoer</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Amsterdam</td>
      <td>{'land': 'Nederland', 'inwoners': 921000}</td>
      <td>Amsterdam ligt in Nederland en heeft 921000 inwoners.</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Parijs</td>
      <td>{'land': 'Frankrijk', 'inwoners': 2148000}</td>
      <td>Parijs ligt in Frankrijk en heeft 2148000 inwoners.</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Berlijn</td>
      <td>{'land': 'Duitsland', 'inwoners': 3769000}</td>
      <td>Berlijn ligt in Duitsland en heeft 3769000 inwoners.</td>
    </tr>
  </tbody>
</table>
</p>

### Opdracht 16.7.1 Geneste dictionary doorlopen met een for-loop
<p>Gebruik een <code>for</code>-loop om alle dieren uit de <code>dierentuin</code> dictionary en hun gegevens netjes af te drukken.</p>

<p>De verwachte uitvoer is:<br>
<i>Alle dieren:<br>
Leeuw is van het soort Zoogdier leeft in Savanne en er zijn er 2 van.<br>
Pinguïn is van het soort Vogel leeft in Poolgebied en er zijn er 15 van.<br>
Python is van het soort Reptiel leeft in Terrarium en er zijn er 3 van.</i></p>

In [ ]:
dierentuin = {
    "Leeuw": {"soort": "Zoogdier", "verblijf": "Savanne", "dieet": ["vlees"], "aantal": 2},
    "Pinguïn": {"soort": "Vogel", "verblijf": "Poolgebied", "dieet": ["vis", "kril"], "aantal": 15},
    "Python": {"soort": "Reptiel", "verblijf": "Terrarium", "dieet": ["muizen", "ratten"], "aantal": 3}
}

### Opdracht 16.7.2 Trace table maken

<p>Hieronder staat een stukje Python-code dat informatie over dieren in een dierentuin print:</p>

<pre code="python">
dierentuin = {
    "Leeuw": {"soort": "Zoogdier", "verblijf": "Savanne", "dieet": ["vlees"], "aantal": 2},
    "Pinguïn": {"soort": "Vogel", "verblijf": "Poolgebied", "dieet": ["vis", "kril"], "aantal": 15},
    "Python": {"soort": "Reptiel", "verblijf": "Terrarium", "dieet": ["muizen", "ratten"], "aantal": 3}
}

print("Alle dieren:")
for dier, gegevens in dierentuin.items():
    print(dier, "is van het soort", gegevens['soort'], "leeft in", gegevens['verblijf'], "en er zijn er", gegevens['aantal'], "van.")
</pre>

<p>De code hierboven gebruikt een <code>for</code>-loop om alle dieren in de <code>dierentuin</code> dictionary één voor één te doorlopen. Hieronder zie je een gedeeltelijk ingevulde trace tabel. Vul de lege velden in (A t/m F).</p>

<table border="1"><caption>Trace table</caption>
  <thead>
    <tr>
      <th>Stap</th>
      <th>Waarde van <code>dier</code></th>
      <th>Waarde van <code>gegevens</code></th>
      <th>Uitvoer</th>
    </tr>
  </thead>
  <tbody>
      <tr>
      <td>1</td>
      <td>-</td>
      <td>-</td>
      <td>Alle dieren:</td>
    </tr>
    <tr>
      <td>_______A_________</td>
      <td>Leeuw</td>
      <td>{'soort': 'Zoogdier', 'verblijf': 'Savanne', 'dieet': ['vlees'], 'aantal': 2}</td>
      <td>Leeuw is van het soort Zoogdier leeft in Savanne en er zijn er 2 van.</td>
    </tr>
    <tr>
      <td>3</td>
      <td>_______B_________</td>
      <td>{'soort': 'Vogel', 'verblijf': 'Poolgebied', 'dieet': ['vis', 'kril'], 'aantal': 15}</td>
      <td>_______C_________</td>
    </tr>
    <tr>
      <td>4</td>
      <td>_______D________</td>
      <td>_______E________</td>
      <td>_______F________</td>
    </tr>
  </tbody>
</table>