# Samenvatting / Cheatsheet

In dit hoofdstuk leer je de basis van datatypes, tekst en getallen, printen en invoer. Hieronder staan korte voorbeelden die je zelf kunt uitvoeren.

## Datatypes: string, int en float

In [ ]:
# Een tekst heet een string
naam = "Ada"
print(naam, type(naam))

# Een geheel getal heet een int
leeftijd = 13
print(leeftijd, type(leeftijd))

# Een kommagetal heet een float
pi = 3.14
print(pi, type(pi))

## Tekst en/of getallen tonen met print()

In [ ]:
# Je kunt één ding printen
print("Hallo wereld")

# Met een komma scheid je meerdere dingen, er komt automatisch een spatie tussen
print("Leeftijd:", 13)

# Met + plak je teksten direct aan elkaar zonder spatie
print("Voornaam:" + "Ada")

## Invoer vragen met input()

In [ ]:
# Met input() kun je de gebruiker om invoer vragen
# Standaard wordt de invoer opgeslagen als string (tekst)
naam = input("Wat is je naam? ")
print("Hallo, " + naam)

## Invoer omzetten naar int of float

In [ ]:
# Invoer wordt standaard een string
getal = input("Geef een geheel getal: ")

# Omzetten naar int
getal_int = int(getal)
print("Je gaf het geheel getal:", getal_int)

# Omzetten naar float
kommagetal = float(input("Geef een kommagetal: "))
print("Je gaf het kommagetal:", kommagetal)

## Getal aan tekst plakken met str()

In [ ]:
leeftijd = 13
zin = "Ik ben " + str(leeftijd) + " jaar oud."
print(zin)

## Rekenen met getallen

In [ ]:
a = 10
b = 3
print("Optellen:", a + b)
print("Aftrekken:", a - b)
print("Vermenigvuldigen:", a * b)
print("Delen:", a / b)
print("Machtsverheffen:", a ** b)
print("Modulo (rest):", a % b)

# Haakjes gebruiken voor de juiste volgorde
uitkomst = (a + b) * 2
print("(a + b) * 2 =", uitkomst)