# Onderwerp 3 - Variabelen: Cheatsheet

## Waarde toekennen/veranderen aan een variabele

In [ ]:
score = 10          # startwaarde is 10
score = score + 1   # verhoog score met 1
print(score)        # toont score zien

## Tracetabel (waarden van variabelen traceren)

<table border="1" style="border-collapse: collapse; text-align: center;">
  <caption><b>Tracetabel:</b></caption>
  <tr>
    <th>Stap</th>
    <th>Berekening</th>
    <th>Nieuwe waarde van x</th>
  </tr>
  <tr>
    <td>0</td>
    <td>x = 2</td>
    <td>2</td>
  </tr>
  <tr>
    <td>1</td>
    <td>x = x + 3</td>
    <td>5</td>
  </tr>
  <tr>
    <td>2</td>
    <td>x = x * 2</td>
    <td>10</td>
  </tr>
</table>

## Verkorte operatoren: +=, -=, *=, /=

In [ ]:
n = 80   # variabele n krijgt de waarde 80
n += 5   # 5 bij n optellen, zelfde als: n = n + 5
n -= 3   # 3 van n aftrekken, zelfde als: n = n - 3
n *= 2   # n met 2 vermenigvuldigen, zelfde als: n = n * 2
n /= 4   # n delen door 4, zelfde als: n = n / 4

## Standaardfuncties <code>max()</code>, <code>min()</code>, <code>pow()</code>, <code>round()</code>, <code>abs()</code>, <code>len()</code>

In [ ]:
getallen = [3, 10, -2, 7]   # lijst met getallen
max(getallen)               # grootste waarde kiezen
min(getallen)               # kleinste waarde kiezen
pow(2, 3)                   # 2 tot de macht 3 (dus 2*2*2)
round(3.65, 1)              # afronden van 3.65 op 1 plaats achter de komma
abs(-8)                     # absolute waarde: maak van een negatief getal een positief getal

len( "informatica" )      # telt het aantal tekens (lengte van de string of lijst)

## Willekeurig getal: <code>randint()</code> en <code>random</code>

In [ ]:
import random                               # importeer de module random

dobbelsteen = random.randint(1, 6)          # kiest een willekeurig geheel getal uit 1 t/m 6 (zoals een dobbelsteen)
print(dobbelsteen)

willekeurig_kommagetal = random.random()    # kiest een willekeurig kommagetal tussen 0 (incl.) en 1.0 (excl.)
print(willekeurig_kommagetal)