## 2.3: Alle gegevens van een tabel ophalen

<p>Om alle kolommen op te halen gebruik je na de SELECT een '*':</p>
 
```SQL
SELECT * 
FROM tabelnaam;
```

### Opdracht 2.3 Alle gegevens van tabel pizza ophalen

Toon alle kolommen met gegevens van tabel <i>pizza</i>, zoals in het voorbeeld hieronder: 

| pizzacode | naam                  | omschrijving                                                             | basisprijs |
|-----------|-----------------------|---------------------------------------------------------------------------|------------|
| 1         | Margherita            | Tomaat,kaas en oregano                                                    | 6.0        |
| 2         | Napoletana            | Tomaat, kaas, ansjovis, olijven, kappertjes en oregano                   | 7.5        |
| 3         | Prosciutto            | Tomaat, kaas, ham en oregano                                              | 7.5        |
| 4         | Funghi                | Tomaat, kaas, champignons en oregano                                     | 7.5        |
| ...       | ...                   | ...                                                                       | ...        |
| 36        | Combinazione          | Eigen keuze pizza                                                        | 10.5       |

<p>Bekijk <a href="https://rweeda.github.io/PythonIA/docs/IA_sql_oplossingen.html#opgave23" target="_blank">hier</a> de voorbeelduitwerking.</p>

<!-- ANTWOORD:
<pre><code class="language-sql">
SELECT *
FROM pizza
</code></pre>
-->