
## 4.3: Gegevens sorteren met ORDER BY

Met <code>ORDER BY</code> kun je resultaten sorteren.
Hierbij moet je aangeven op welke kolom er gesorteerd moet worden en hoe: oplopend gesorteerd met ASC of aflopend met DESC. Geef altijd eerst de SELECT en FROM aan, daarna de ORDER BY en daarna ASC of DESC.

<p>Oplopend sorteren met <b>ASC</b> (van laag naar hoog):</p>

<table width="100%"><tr><td style="text-align:left; vertical-align:top; font-size:1.25rem;" width="35%">
<p>
Bijvoorbeeld, om de pizza's op oplopend op prijs te sorteren, dus met de goedkoopste pizza bovenaan:</p>

```SQL
SELECT naam, basisprijs
FROM pizza
ORDER BY basisprijs ASC;
```

</td><td width="65%">
<table border="1">
  <thead>
    <tr>
      <th>naam</th>
      <th>basisprijs</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>Margherita</td><td>6.0</td></tr>
    <tr><td>Cippola</td><td>6.5</td></tr>
    <tr><td>Napoletana</td><td>7.5</td></tr>
    <tr><td>Prosciutto</td><td>7.5</td></tr>
    <tr><td>...</td><td>...</td></tr>
    <tr><td>Specialit√† di Danilo</td><td>9.5</td></tr>
    <tr><td>Combinazione</td><td>10.5</td></tr>
  </tbody>
</table>
</td></tr></table>

<p>Aflopend sorteren met <b>DESC</b> (hoog naar laag):</p>
<table width="100%"><tr><td style="text-align:left; vertical-align:top; font-size:1.25rem;" width="35%">
Of om de bezorgers te aflopende sorteren op geboortedatum, dus met de jongste bezorger bovenaan:

```SQL
SELECT naam, gebdatum
FROM bezorger
ORDER BY gebdatum DESC;
```

</td><td width="65%">
<table border="1">
  <thead>
    <tr>
      <th>gebdatum</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>2021-12-01</td></tr>
    <tr><td>2001-09-01</td></tr>
    <tr><td>1996-07-13</td></tr>
    <tr><td>1995-09-18</td></tr>
    <tr><td>...</td></tr>
    <tr><td>1994-01-04</td></tr>
  </tbody>
</table>
</td></tr></table>


### Verwerkingsopdracht 4.3.1 de drie duurste pizza's

<table width="100%"><tr><td style="text-align:left; vertical-align:top; font-size:1.25rem;" width="35%">
Geef een overzicht van de pizza's gesorteerd op prijs van laag naar hoog.
</td><td width="65%">
    <table border="1">
  <thead>
    <tr>
      <th>naam</th>
      <th>basisprijs</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>Margherita</td><td>6</td></tr>
    <tr><td>Cippola</td><td>6.5</td></tr>
    <tr><td>Napoletana</td><td>7.5</td></tr>
    <tr><td>...</td><td>...</td></tr>
    <tr><td>Combinazione</td><td>10.5</td></tr>
  </tbody>
</table>

</td></tr></table>



<p>Bekijk <a href="https://rweeda.github.io/PythonIA/docs/IA_sql_oplossingen.html#opgave431" target="_blank">hier</a> de voorbeelduitwerking.</p>
<!-- ANTWOORD:
<pre><code class="language-sql">
SELECT naam, basisprijs
FROM pizza
ORDER BY basisprijs;
</code></pre>
Ook goed:
<pre><code class="language-sql">
SELECT naam, basisprijs
FROM pizza
ORDER BY basisprijs ASC;
</code></pre>
-->


### Verwerkingsopdracht 4.3.2 De vijf laatste bezorgingen
<table width="100%"><tr><td style="text-align:left; vertical-align:top; font-size:1.25rem;" width="35%">
Geef een overzicht van de pizza's gesorteerd op <b>bestel_datum</b>, zoals in het overzicht hiernaast. <br>
Tip: eerst aflopend sorteren, dan met LIMIT de bovenste acht bestellingen tonen.

</td><td width="65%">
<table border="1">
  <thead>
    <tr>
      <th>bestelcode</th>
      <th>bestel_datum</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>1469</td><td>2022-03-03</td></tr>
    <tr><td>1470</td><td>2022-03-03</td></tr>
    <tr><td>1471</td><td>2022-03-03</td></tr>
    <tr><td>1473</td><td>2022-03-03</td></tr>
    <tr><td>1464</td><td>2022-03-02</td></tr>
    <tr><td>1465</td><td>2022-03-02</td></tr>
    <tr><td>1466</td><td>2022-03-02</td></tr>
    <tr><td>1467</td><td>2022-03-02</td></tr>
  </tbody>
</table>


    
</td></tr></table>


<p>Bekijk <a href="https://rweeda.github.io/PythonIA/docs/IA_sql_oplossingen.html#opgave432" target="_blank">hier</a> de voorbeelduitwerking.</p>
<!-- ANTWOORD:
<pre><code class="language-sql">
SELECT bestelcode, bestel_datum
FROM bestelling
ORDER BY bestel_datum DESC
LIMIT 8;
</code></pre>
-->