## 7.3: Gegevens in een tabel aanpassen
<p>Met UPDATE kun je gegevens in een tabel aanpassen:</p>

<pre><code class="language-sql">
UPDATE tabelnaam
SET kolom1 = nieuwe_waarde1, kolom2 = nieuwe_waarde2
WHERE voorwaarde;
</code></pre>

<ul>
  <li>Achter UPDATE geef je de naam van de tabel aan.</li>
  <li>Met SET geef je aan welke kolom(kolommen) je wilt aanpassen en wat de nieuwe waarde wordt.</li>
  <li>Met WHERE geef je aan welke rij(en) je wilt aanpassen, bij voorkeur via de <i>primary key</i>.</li>
  <li>Let op: Als je geen WHERE gebruikt, worden <i>alle</i> rijen aangepast!</li>
</ul>

<p>Voorbeeld: deze query past de naam van de pizza met <b>pizzacode</b> 1 aan naar "Hawaii". Alle andere kolommen blijven ongewijzigd:</p>
<pre><code class="language-sql">
UPDATE pizza
SET pizzanaam = "Hawaii"
WHERE pizzacode = 1;
</code></pre>

### Verwerkingsopdracht 7.3.1 Pas de prijs van een pizza aan

<ol type="a">
  <li>Schrijf een query die voor de pizza met <b>naam</b> gelijk aan <i>"Margherita"</i> de <b>basisprijs</b> verhoogt naar â‚¬8,00.</li>
  <li>Controleer daarna met SELECT * of het gelukt is.</li>
</ol>

<p>Bekijk <a
href="https://rweeda.github.io/PythonIA/docs/IA_sql_oplossingen.html#opgave731"
target="_blank">hier</a> de voorbeelduitwerking.</p>
<!--
<pre><code class="language-sql"> 
UPDATE pizza
SET basisprijs = 8.00
WHERE naam = "Margherita";
</code></pre>
-->