## 6.6: Aflsuitende opdrachten

### Afsluitende Opdracht 6.6.1 Aantal bestellingen per bodem
<table width="100%"><tr><td style="text-align:left; vertical-align:top; font-size:1.25rem;" width="35%">
Toon een overzicht van het aantal bestellingen per bodem (<b>bodemcode</b>). De informatie komt uit de tabel <i>besteldePizza</i>. Sorteer het resultaat zodat de meest bestelde bodem bovenaan staat, zoals hiernaast.
</td><td width="65%">
<table border="1">
  <thead><tr><th>bodemcode</th><th>aantal_besteld_per_bodem</th></tr></thead>
  <tbody>
    <tr><td>2</td><td>2905</td></tr>
    <tr><td>1</td><td>2788</td></tr>
    <tr><td>3</td><td>140</td></tr>
  </tbody>
</table>
</td></tr></table>

<p>Bekijk <a href="https://rweeda.github.io/PythonIA/docs/IA_sql_oplossingen.html#opgave6611" target="_blank">hier</a> de voorbeelduitwerking.</p>
<!--
<pre><code class="language-sql">
SELECT bodemcode, COUNT(*) AS aantal_besteld_per_bodem
FROM besteldePizza
GROUP BY bodemcode 
ORDER BY aantal_besteld_per_bodem DESC;
</code></pre>
-->

### Afsluitende Opdracht 6.6.2 Bekijk hoe vaak een specifieke bodem is gebruikt


<table width="100%"><tr><td style="text-align:left; vertical-align:top; font-size:1.25rem;" width="35%">
<p>Hoe vaak is <b>bodemcode</b> 2 gebruikt in <i>bestellingen</i>? Toon alleen het resultaat als deze bodem meer dan 1 keer is gebruikt. Sorteer het resultaat aflopend en geef alleen de bovenste regel weer, zoals hiernaast.<br>Tip: gebruik <code>GROUP BY</code>.</p>
</td><td width="65%">
<table border="1">
  <thead><tr><th>bodemcode</th><th>aantal_besteld</th></tr></thead>
  <tbody><tr><td>2</td><td>2905</td></tr></tbody>
</table>
<!--Tips:
<li>Filter op <code>bodemcode = 2</code></li>
<li>Groepeer op <code>bodemcode</code></li>
<li>Gebruik <code>HAVING</code> voor filtering na groepering</li>
<li>Sorteer aflopend op <code>aantal_besteld</code></li>
<li>Gebruik <code>LIMIT 1</code> om één regel te tonen</li>
-->
</td></tr></table>

<p>Bekijk <a href="https://rweeda.github.io/PythonIA/docs/IA_sql_oplossingen.html#opgave662" target="_blank">hier</a> de voorbeelduitwerking.</p>
<!--
<pre><code>
SELECT bodemcode, COUNT(*) AS aantal_besteld
FROM besteldepizza
WHERE bodemcode = 2
GROUP BY bodemcode
HAVING COUNT(*) > 1
ORDER BY aantal_besteld DESC
LIMIT 1;
</code></pre>
-->

### Afsluitende Opdracht 6.6.3 Totale aantal pizza’s per klant


<table width="100%"><tr><td style="text-align:left; vertical-align:top; font-size:1.25rem;" width="35%">
Toon per klant (<b>klantnummer</b>) hoeveel pizza’s hij of zij in totaal heeft besteld (dus over alle bestellingen samen).
</td><td width="65%">
<table border="1">
  <thead><tr><th>klantnummer</th><th>totaal_aantal</th></tr></thead>
  <tbody>
    <tr><td>101</td><td>87</td></tr>
    <tr><td>103</td><td>62</td></tr>
    <tr><td>104</td><td>66</td></tr>
    <tr><td colspan="2" style="text-align:center;">...</td></tr>
    <tr><td>474</td><td>105</td></tr>
  </tbody>
</table>
</td></tr></table>
<p>Bekijk <a href="https://rweeda.github.io/PythonIA/docs/IA_sql_oplossingen.html#opgave663" target="_blank">hier</a> de voorbeelduitwerking.</p>
<!--
<pre><code class="language-sql">
SELECT bestelling.klantnummer, SUM(besteldePizza.aantal)
FROM bestelling
JOIN besteldePizza ON bestelling.bestelcode = besteldePizza.bestelcode
GROUP BY bestelling.klantnummer;
</code></pre>
-->

### Afsluitende Opdracht 6.6.4 Meest bestelde pizzabodem


<table width="100%"><tr><td style="text-align:left; vertical-align:top; font-size:1.25rem;" width="35%">
Schrijf een query die de meest bestelde pizzabodem toont. Tip: Sorteer het resultaat en beperk daarna tot één regel.
</td><td width="65%">
<table border="1">
  <thead><tr><th>bodemcode</th><th>aantal_besteld</th></tr></thead>
  <tbody><tr><td>2</td><td>2905</td></tr></tbody>
</table>
</td></tr></table>
<p>Bekijk <a href="https://rweeda.github.io/PythonIA/docs/IA_sql_oplossingen.html#opgave664" target="_blank">hier</a> de voorbeelduitwerking.</p>
<!--
<pre><code class="language-sql">
SELECT bodemcode, COUNT(*) as aantal_besteld
FROM besteldepizza
GROUP BY bodemcode
ORDER BY aantal_besteld DESC
LIMIT 1;
</code></pre>
-->