
## 2.2: Meerdere kolommen uit een tabel halen
Je kunt ook een meerdere kolommen ophalen. Dat doe je als volgt:
 
 ```SQL
SELECT kolom1, kolom2, ...
FROM tabelnaam;
```
### Opdracht 2.2 Menu printen

Maak een menu door de pizzanamen (kolom <i>naam</i>), <i>omschrijving</i> en de prijs (kolom <i>basisprijs</i> uit het tabel <i>pizza</i> te halen.


| naam                   | omschrijving                                                             | basisprijs |
|------------------------|----------------------------------------------------------------------------|------------|
| Margherita             | Tomaat,kaas en oregano                                                    | 6.0        |
| Napoletana             | Tomaat, kaas, ansjovis, olijven, kappertjes en oregano                   | 7.5        |
| Prosciutto             | Tomaat, kaas, ham en oregano                                              | 7.5        |
| Funghi                 | Tomaat, kaas, champignons en oregano                                     | 7.5        |
| ...                    | ...                                                                      | ...        |
| Combinazione           | Eigen keuze pizza                                                        | 10.5       |


<p>Bekijk <a href="https://rweeda.github.io/PythonIA/docs/IA_sql_oplossingen.html#opgave22" target="_blank">hier</a> de voorbeelduitwerking.</p>

<!-- ANTWOORD:
SELECT naam, omschrijving, basisprijs 
FROM pizza;
-->