

## 3.4: Wiskundige operatoren

<p>Naast de '='-teken kun ook andere operatoren in de WHERE gebruiken. Hier is een overzicht:</p>

<table border="1">
  <thead>
    <tr>
      <th>Operator</th>
      <th>Betekenis</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>=</td><td>gelijk aan</td></tr>
    <tr><td>&gt;</td><td>groter dan</td></tr>
    <tr><td>&gt;=</td><td>groter dan of gelijk aan</td></tr>
    <tr><td>&lt;</td><td>kleiner dan</td></tr>
    <tr><td>&lt;=</td><td>kleiner dan of gelijk aan</td></tr>
    <tr><td>&lt;&gt;</td><td>ongelijk aan</td></tr>
  </tbody>
</table>


<b>Bijvoorbeeld, met de volgende query laten we de gegevens zien van klanten die <b>niet</b> in Enschede wonen:

In [ ]:
SELECT *
FROM klant
WHERE plaats <> 'Enschede';

En met de volgende query laten we de gegevens zien van pizza's die 8 euro of minder kosten:

In [ ]:
SELECT *
FROM pizza
WHERE basisprijs <= 8;


### Verwerkingsopdracht 3.4.1 Dure pizza's

<table width="100%"><tr><td style="text-align:left; vertical-align:top; font-size:1.25rem;" width="35%">
Toon de <b>naam</b> en <b>basisprijs</b> van de pizza's die 9,50 euro kosten of meer, zoals in het overzicht hiernaast.
</td><td width="65%">
<table border="1">
  <thead>
    <tr>
      <th>naam</th>
      <th>basisprijs</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>Specialità di Danilo</td><td>9.5</td></tr>
    <tr><td>Combinazione</td><td>10.5</td></tr>
  </tbody>
</table>


</td></tr></table>


<p>Bekijk <a href="https://rweeda.github.io/PythonIA/docs/IA_sql_oplossingen.html#opgave341" target="_blank">hier</a> de voorbeelduitwerking.</p>
<!-- ANTWOORD:
<pre><code class="language-sql">
SELECT naam, basisprijs
FROM pizza
WHERE basisprijs >=9.50;
</code></pre>
-->

### Verwerkingsopdracht 3.4.2: Geen 8 euro pizza's

<table width="100%"><tr><td style="text-align:left; vertical-align:top; font-size:1.25rem;" width="35%">
Toon de <b>naam</b> en <b>basisprijs</b> van de pizza's die <b>niet</b> 8 euro kosten.
</td><td width="65%">
    <table border="1">
  <thead>
    <tr>
      <th>naam</th>
      <th>basisprijs</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>Margherita</td><td>6</td></tr>
    <tr><td>Napoletana</td><td>7.5</td></tr>
    <tr><td>...</td><td>...</td></tr>
    <tr><td>Della Casa</td><td>8.5</td></tr>
    <tr><td>Specialità di Danilo</td><td>9.5</td></tr>
    <tr><td>Combinazione</td><td>10.5</td></tr>
  </tbody>
</table>

</td></tr></table>




<p>Bekijk <a href="https://rweeda.github.io/PythonIA/docs/IA_sql_oplossingen.html#opgave342" target="_blank">hier</a> de voorbeelduitwerking.</p>
<!-- ANTWOORD:
<pre><code class="language-sql">
SELECT naam, basisprijs
FROM pizza
WHERE basisprijs<>8;
</code></pre>
-->