

## 4.9: SUM() – Totaal optellen


`SUM(kolom)` telt **alle waarden in een kolom op**.  


<table width="100%"><tr><td style="text-align:left; vertical-align:top; font-size:1.25rem;" width="35%">

Bijvoorbeeld: de totale waarde van alle pizza’s samen.

```sql
SELECT SUM(basisprijs) AS totaal_waarde
FROM pizza;
```
</td><td width="65%">

<table border="1">
  <thead>
    <tr>
      <th>totaal_waarde</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>293.5</td>
    </tr>
  </tbody>
</table>

</td></tr></table>



### Verwerkingsopdracht 4.9.1 Totaal van alle kortingen

<table width="100%"><tr><td style="text-align:left; vertical-align:top; font-size:1.25rem;" width="35%">
Bereken de totale korting van alle bestellingen in de tabel <i>bestelling</i>. Maak een overzicht zoals hiernaast.

</td><td width="65%">
    <table border="1">
  <thead>
    <tr>
      <th>totaal_korting</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>40</td>
    </tr>
  </tbody>
</table>

</td></tr></table>



<p>Bekijk <a
href="https://rweeda.github.io/PythonIA/docs/IA_sql_oplossingen.html#opgave491"
target="_blank">hier</a> de voorbeelduitwerking.</p>
 <!-- ANTWOORD:
<pre><code class="language-sql"> 
SELECT SUM(korting) AS totaal_korting
FROM bestelling;
</code></pre>
-->