## 6.2: Gegevens uit een tabel verwijderen

<p>Met <code>DELETE FROM</code> kun je een of meerdere rijen verwijderen uit een tabel:
<pre><code class="language-sql">DELETE FROM tabelnaam
WHERE voorwaarde;
</code></pre>
Toelichting:
<ul>
  <li>Achter <code>DELETE FROM</code> geef je de naam van de tabel aan.</li>
  <li>Met <code>WHERE</code> geef je aan welke rij(en) je wilt verwijderen. Gebruik hier bij voorkeur de <b>primary key</b>.</li>
  <li>Let op: Als je geen <code>WHERE</code> gebruikt, worden <i>alle</i> rijen uit de tabel verwijderd!</li>
</ul>

<hr>
<p><b>Voorbeeld</b>. Deze query verwijdert de rij uit de tabel <i>pizza</i> waarbij de <b>pizzacode</b> gelijk is aan 3:</p>
<pre><code class="language-sql">DELETE FROM pizza
WHERE pizzacode = 3;
</code></pre>

### Verwerkingsopdracht 6.2.1 Pizza verwijderen en controleren
<p>Bekijk de twee blokken code hieronder om deze opdracht te maken.</p>
<p>
a. Toon een tabel van alle pizza's.
<br><br>
b. Voer de code hierboven uit waarmee de pizza met <b>pizzacode</b> 3 wordt verwijderd uit de tabel <i>pizza</i>.
<br><br>
c. Controleer daarna of het is gelukt met <code>SELECT *</code>.
</p>

In [ ]:
-- a. toon alle pizza's
SELECT *
FROM pizza;

In [ ]:
-- b. verwijder pizza 3
DELETE FROM pizza
WHERE pizzacode = 3;

In [ ]:
-- c. controleer of het gelukt is
SELECT *
FROM pizza;

### Verwerkingsopdracht 6.2.2 Verwijder de Pazza pizza

<p>Omdat deze nauwelijks besteld wordt, wil Danilo de "Pazza"-pizza van het menu halen.</p>
<p>
a. Schrijf in het eerst blok hieronder een query om deze pizza uit de tabel te verwijderen.
<br><br>
b. Controleer daarna, in het blok eronder of het gelukt is.
</p>

In [ ]:
-- a. verwijder de pizza

In [ ]:
-- b. controleer of de pizza is verwijderd
SELECT *
FROM pizza;

### Verwerkingsopdracht 6.2.3 Verwijder bestelling

<p>Een klant heeft gebeld dat die toch wil afzien van zijn bestelling. Verwijder de bestelling uit tabel <i>bestelling</i> die geplaatst is door klantnummer <b>413</b> op datum <b>2021-12-01</b>.</p>
<p>
a. Schrijf in het eerst blok hieronder een query om deze bestelling uit de tabel te verwijderen.
<br><br>
b. Controleer daarna, in het blok eronder of het gelukt is.
</p>

In [ ]:
-- a. verwijder bestelling

In [ ]:
-- b. controleer of de bestelling is verwijderd
SELECT *
FROM bestelling;