### 4.13: Afsluitende Opdrachten

<p>Klik <a href="https://raw.githubusercontent.com/rweeda/PythonIA/main/sql/img/DaniloIA_ERD.png" target="_blank">hier</a> voor een overzicht van alle tabellen.</p>


### Afsluitende Opdracht 4.13.1 De drie duurste pizza's

<table width="100%"><tr><td style="text-align:left; vertical-align:top; font-size:1.25rem;" width="65%">
Toon van de drie duuste pizza's de <b>naam</b> en <b>basisprijs</b> zoals in het overzicht hiernaast.
</td><td width="35%">
<table border="1" cellpadding="4" cellspacing="0">
  <thead>
    <tr>
      <th>naam</th>
      <th>basisprijs</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>Combinazione</td><td>10.5</td></tr>
    <tr><td>Specialità di Danilo</td><td>9.5</td></tr>
    <tr><td>Calzone (dichte pizza)</td><td>9</td></tr>
  </tbody>
</table>


</td></tr></table>


### Afsluitende Opdracht 4.13.2 Vijf goedkope pizza's
<table width="100%"><tr><td style="text-align:left; vertical-align:top; font-size:1.25rem;" width="65%">
Geef een overzicht van de namen en prijzen van pizza’s die minder dan €8 kosten. Sorteer de namen op alfabetische volgorde en toon alleen de eerste vijf pizza's, zoals in het overzicht hiernaast.
</td><td width="35%">
<table border="1" cellpadding="4" cellspacing="0">
  <thead>
    <tr>
      <th>Naam</th>
      <th>Basisprijs</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Bolognese</td>
      <td>7.5</td>
    </tr>
    <tr>
      <td>Borromea</td>
      <td>7.5</td>
    </tr>
    <tr>
      <td>Calimero</td>
      <td>7.5</td>
    </tr>
    <tr>
      <td>Cippola</td>
      <td>6.5</td>
    </tr>
    <tr>
      <td>Funghi</td>
      <td>7.5</td>
    </tr>
  </tbody>
</table>



</td></tr></table>

### Afsluitende Opdracht 4.13.3 Gemiddelde prijs
<table width="100%"><tr><td style="text-align:left; vertical-align:top; font-size:1.25rem;" width="65%">
<p>Toon de gemiddelde prijs van alle pizza’s zonder ham. Hernoem de kolom zoals in het overzicht hiernaast.</p>
<p>Tip: begin met een overzicht van alle pizza’s zonder ham.</p>
</td><td width="35%">
  <table border="1">
    <tr>
      <th>gemiddelde_prijs_zonder_ham</th>
    </tr>
    <tr>
      <td>8.07</td>
    </tr>
  </table>

</td></tr></table>

### Afsluitende Opdracht 4.13.4 Plaatsen met vaste telefoonnummers
<table width="100%"><tr><td style="text-align:left; vertical-align:top; font-size:1.25rem;" width="65%">
Hoeveel unieke woonplaatsen zijn er onder klanten die geen 06-nummer hebben opgegeven?
</td><td width="35%">
<table border="1" cellpadding="4" cellspacing="0">
  <thead>
    <tr>
      <th>woonplaatsen_zonder_06</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>3</td></tr>
  </tbody>
</table>


</td></tr></table>

### Afsluitende Opdracht 4.13.5 Aantal normale pizza's
<table width="100%"><tr><td style="text-align:left; vertical-align:top; font-size:1.25rem;" width="65%">
<p>Toon hoeveel pizza’s tussen €7 en €10 kosten (inclusief 7 en 10). Hernoem de kolom zoals in het overzicht hiernaast.</p>
<p>Tip: maak eerst een juist overzicht van de pizza’s die aan de voorwaarden voldoen.</p>

</td><td width="35%">
  <table border="1">
    <tr>
      <th>Aantal</th>
    </tr>
    <tr>
      <td>33</td>
    </tr>
  </table>

</td></tr></table>

### Afsluitende Opdracht 4.13.6 Totale toeslagen
<table width="100%"><tr><td style="text-align:left; vertical-align:top; font-size:1.25rem;" width="65%">
<p>Wat is het totaal van alle toeslagen (<b>plusprijs</b>) voor formaat met een prijs hoger dan €1? De gegevens komen uit tabel <i>formaat</i>. Toon het overzicht zoals hiernaast.</p>
</td><td width="35%">
<table border="1" cellpadding="4" cellspacing="0">
  <thead>
    <tr>
      <th>totaal_toeslagen</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>1.5</td></tr>
  </tbody>
</table>


</td></tr></table>


### Afsluitende Opdracht 4.13.7
<table width="100%"><tr><td style="text-align:left; vertical-align:top; font-size:1.25rem;" width="65%">
<p>Je wilt weten wat de hoogste prijs is van een pizza die iets met vis te maken heeft (bijvoorbeeld in de omschrijving) of waarvan de naam eindigt op de letter 'a'.</p>
<p>Tip: maak eerst een juist overzicht van de pizza's die aan de voorwaarden voldoen.</p>
</td><td width="35%">
<table border="1">
    <tr>
      <th>duurste</th>
    </tr>
    <tr>
      <td>9</td>
    </tr>
  </table>

</td></tr></table>