## 4.4: Groepsfuncties

Stel dat je wilt tellen hoeveel klanten of bestellingen er zijn, of wat een klant gemiddeld besteed. Voor dit soort berekeningen gebruik je <i>groepsfuncties</i>. Met een groepsfunctie kan je een berekening uitvoeren op een groep rijen in plaats van op één rij.

Bijvoorbeeld:

| Zonder groepsfunctie | Met groepsfunctie            |
| -------------------- | ---------------------------- |
| Toon alle pizza's    | Tel hoeveel pizza's er zijn  |
| Toon prijzen         | Toon gemiddelde prijs        |
| Toon klantnamen      | Toon hoeveel klanten er zijn |


### Voorbeelden van groepsfuncties

| Functie               | Wat het doet                        | Voorbeeldgebruik                         |
| --------------------- | ----------------------------------- | ---------------------------------------- |
| `COUNT()`             | Telt hoeveel rijen er zijn          | Hoeveel pizza’s zijn er?                 |
| `COUNT(DISTINCT ...)` | Telt hoeveel unieke waarden er zijn | Hoeveel verschillende klanten bestellen? |
| `MIN()`               | Kleinste waarde in een kolom        | Goedkoopste pizza                        |
| `MAX()`               | Grootste waarde in een kolom        | Duurste bestelling                       |
| `SUM()`               | Tel alle getallen bij elkaar op     | Totale omzet van bestellingen            |
| `AVG()`               | Gemiddelde van een kolom berekenen  | Gemiddelde prijs van pizza's             |





### Hoe je een groepsfunctie gebruikt

Je gebruikt een groepsfunctie altijd in de `SELECT`. Bijvoorbeeld om het aantal pizza's te tellen:

```sql
SELECT COUNT(*) FROM pizza;
```

Je mag meerdere groepsfuncties in de `SELECT` gebruiken. Bijvoorbeeld om zowel het aantal pizza's en de gemiddelde basisprijs van alle pizza's te tonen:

```sql
SELECT COUNT(*), AVG(basisprijs) FROM pizza;
```

Je mag <b>niet</b> groepsfuncties combineren met gewone kolommen, dus dit mag niet: <code>SELECT naam, COUNT(*)</code>. Wil je dat wel, dan kan dat alleen met een `GROUP BY`. In de verdieping leer je hoe je een `GROUP BY` kan gebruiken.