
## 6.6: Tabel aanpassen – Kolom toevoegen

<p>Met <code>ALTER TABLE</code> kun je de structuur van een bestaande tabel aanpassen. Bijvoorbeeld, in combinatie met <code>ADD</code> voeg je een kolom toe.</p>

<pre><code class="language-sql">
ALTER TABLE tabelnaam
ADD kolomnaam datatype;
</code></pre>

Toelichting:
<ul>
  <li>Achter <code>ALTER TABLE</code> geef je de naam van de tabel op.</li>
  <li>Met <code>ADD</code> voeg je een kolom toe, gevolgd door de kolomnaam en het datatype.</li>
  <li>De bestaande rijen krijgen automatisch lege waarden (<code>NULL</code>) in de nieuwe kolom.</li>
</ul>


<hr>
<p><b>Voorbeeld</b>. 

<table width="100%"><tr><td style="text-align:left; vertical-align:top; font-size:1.25rem;" width="65%">

Deze query voegt een kolom <b>email</b> toe aan de tabel <i>bezorger</i>:</p>

<pre><code class="language-sql">
ALTER TABLE bezorger
ADD email TEXT;
</code></pre>

</td><td width="35%">

<table border="1" cellpadding="4" cellspacing="0">
  <thead>
    <tr>
      <th>bezorgernummer</th>
      <th>wachtwoord</th>
      <th>naam</th>
      <th>gebdatum</th>
      <th>telefoon</th>
      <th>email</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>0nbekend</td>
      <td>Ageeth Mooy</td>
      <td>1994-02-02</td>
      <td>06-73X37362</td>
      <td>null</td>
    </tr>
    <tr>
      <td>2</td>
      <td>I234S67B9</td>
      <td>Eric Henze</td>
      <td>1994-01-04</td>
      <td>06-X4226714</td>
      <td>null</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Kwertie</td>
      <td>Han Fröling</td>
      <td>1994-04-17</td>
      <td>06-6X702511</td>
      <td>null</td>
    </tr>
    <tr>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
  </tbody>
</table>


</td></tr></table>


### Verwerkingsopdracht 6.6.1 Kolom geboortedatum toevoegen

Voeg de kolom <b>geboortedatum</b> toe aan tabel <i>klant</i>. Bedenk daarbij welk datatype in SQLite gebruikt wordt voor geboortedatum: TEXT, INT of REAL. Controleer dan met SELECT * of het gelukt is.

In [ ]:
-- voeg kolom toe

In [ ]:
-- controleer of de aanpassing gelukt is
SELECT *
FROM klant;