## 3.16: AVG() â€“ Gemiddelde van een kolom

`AVG(kolom)` geeft het **gemiddelde** van de waarden in een kolom.  


<table width="100%"><tr><td style="text-align:left; vertical-align:top; font-size:1.25rem;" width="35%">

Bijvoorbeeld: de gemiddelde prijs van een pizza.


```sql
SELECT AVG(basisprijs) AS gemiddelde_pizza_prijs
FROM pizza;
```
</td><td width="65%">

<table border="1">
  <thead>
    <tr>
      <th>gemiddelde_pizza_prijs</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>8.15277777779</td>
    </tr>
  </tbody>
</table>

</td></tr></table>

### Verwerkingsopdracht 3.16.1 Gemiddelde toeslag

<table width="100%"><tr><td style="text-align:left; vertical-align:top; font-size:1.25rem;" width="35%">
Bereken de gemiddelde toeslag voor bodems in de tabel<i>bodem</i>.
</td><td width="65%">
    <table border="1">
  <thead>
    <tr>
      <th>gemiddelde_bodem_toeslag</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>0.25</td>
    </tr>
  </tbody>
</table>

</td></tr></table>





<p>Bekijk <a
href="https://rweeda.github.io/PythonIA/docs/IA_sql_oplossingen.html#opgave231"
target="_blank">hier</a> de voorbeelduitwerking.</p>
 <!-- ANTWOORD:
<pre><code class="language-sql"> 
SELECT AVG(plusprijs) AS gemiddelde_bodem_toeslag
FROM bodem;
 </code></pre>