
## Afsluitende Opdrachten 2: SQL SELECT-FROM

### Afsluitende Opdracht 2.12.1 Kolomnamen opzoeken 

Je wil weten welke kolomnamen er in de
tabel <i>bestelling</i> zitten. Welke query helpt je hierbij?


<p>Bekijk <a
href="https://rweeda.github.io/PythonIA/docs/IA_sql_oplossingen.html#opgave2121"
target="_blank">hier</a> de voorbeelduitwerking.</p>


<!-- ANTWOORD: Met de volgende query krijg je een overzicht van de hele
tabel, inclusief de kolomnamen: <pre><code class="language-sql"> SELECT *
FROM bestelling; </code></pre> -->


### Afsluitende Opdracht 2.12.2: Toon gegevens van een specifieke pizza

Toon de omschrijving en de basisprijs van de pizza met de naam **Quattro Formaggi**.

<p>Bekijk <a
href="https://rweeda.github.io/PythonIA/docs/IA_sql_oplossingen.html#opgave2122"
target="_blank">hier</a> de voorbeelduitwerking.</p>


<!--
<pre><code class="language-sql">
SELECT omschrijving, basisprijs
FROM pizza
WHERE naam = 'Quattro Formaggi';
</code></pre>
-->



### Afsluitende Opdracht 2.12.3: Klanten in een specifieke plaats
Toon het **klantnummer**, **naam** en **plaats** van alle klanten die wonen in **Utrecht**. 

<!--
<pre><code class="language-sql">
SELECT klantnummer, naam, plaats
FROM klant
WHERE plaats = 'Utrecht';
</code></pre>
-->

<p>Bekijk <a
href="https://rweeda.github.io/PythonIA/docs/IA_sql_oplossingen.html#opgave2123"
target="_blank">hier</a> de voorbeelduitwerking.</p>

### Afsluitende Opdracht 2.12.4: Netjes schrijven  
Onderstaande query werkt wel, maar is rommelig:


TODO GIVEN
<!--
<pre><code class="language-sql">
select naam,basisprijs from pizza where basisprijs>9
</code></pre>
-->
<ol type="alpha">
<li>Herschrijf de query netjes volgens de afspraken.
<li>Voeg commentaar toe bij de `WHERE`.
</ol>

<p>Bekijk <a
href="https://rweeda.github.io/PythonIA/docs/IA_sql_oplossingen.html#opgave2124"
target="_blank">hier</a> de voorbeelduitwerking.</p>


<!--
<pre><code class="language-sql">
SELECT naam, basisprijs
FROM pizza
WHERE basisprijs > 9; -- pizza's duurder dan 9 euro
</code></pre>
-->


### Afsluitende Opdracht 2.12.5 Debuggen van een fout  
Onderstaande query geeft een foutmelding. Zoek de fout en verbeter de query.

<!--
<pre><code class="language-sql">
SELECT wachtwoord FROM bezorger WHERE naam = Ronald Marbus;
</code></pre>
-->
<p>Bekijk <a
href="https://rweeda.github.io/PythonIA/docs/IA_sql_oplossingen.html#opgave2125"
target="_blank">hier</a> de voorbeelduitwerking.</p>

<!--
<pre><code class="language-sql">
SELECT wachtwoord
FROM bezorger
WHERE naam = 'Ronald Marbus';
</code></pre>
-->


### Afsluitende Opdracht 2.12.6 Debuggen en herschrijven van slordige query
De volgende query werkt niet goed. Voer hem eerst uit en analyseer de foutmelding. Herschrijf daarna de query netjes Ã©n correct:

<!--
<pre><code class="language-sql">
SELECT naam basisprijs FROM pizza WHERE basisprijs<7
</code></pre>
-->

<ol type="alpha">
<li>Wat is er fout?
<li>Schrijf een correcte en goed opgemaakte versie met commentaar.
</ol>

<p>Bekijk <a
href="https://rweeda.github.io/PythonIA/docs/IA_sql_oplossingen.html#opgave2126"
target="_blank">hier</a> de voorbeelduitwerking.</p>

<!--
<pre><code class="language-sql">
-- Er ontbreekt een komma tussen de kolommen.
-- Er ontbreekt een puntkomma aan het eind.
SELECT naam, basisprijs
FROM pizza
WHERE basisprijs < 7;
</code></pre>
-->


### Afsluitende Opdracht 2.12.7 Alle bezorgers bekijken  
<ol type="alpha">
<li>Toon alle kolommen en gegevens uit de tabel `bezorger`.  
<li>Welke kolomnamen zie je terug? Geef er drie en leg kort uit wat ze betekenen.
</ol>
<p>Bekijk <a
href="https://rweeda.github.io/PythonIA/docs/IA_sql_oplossingen.html#opgave2127"
target="_blank">hier</a> de voorbeelduitwerking.</p>

<!--
<ol type="alpha">
<li><pre><code class="language-sql">
SELECT * FROM bezorger;
</code></pre>
<li>Mogelijke kolommen:
<ul>
<li>`bezorgernummer`: uniek nummer van elke bezorger  
<li>`naam`: de naam van de bezorger  
<li>`wachtwoord`: gebruikt voor inloggen in het systeem
</ul>
</o>
-->