## 3.13: MIN() â€“ Laagste waarde

`MIN(kolom)` geeft de **laagste waarde** (minimum) in een kolom terug. <br> 


<table width="100%"><tr><td style="text-align:left; vertical-align:top; font-size:1.25rem;" width="35%">

Bijvoorbeeld: Toon de goedkoopste pizza.

```sql
SELECT MIN(basisprijs) AS goedkoopste_pizza
FROM pizza;
```

</td><td width="65%">
<table border="1">
  <thead>
    <tr>
      <th>goedkoopste_pizza</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>6</td>
    </tr>
  </tbody>
</table>

</td></tr></table>


### Verwerkingsopdracht 3.13.1 Vroegste bezorging

<table width="100%"><tr><td style="text-align:left; vertical-align:top; font-size:1.25rem;" width="35%">
Toon de vroegste <b>bezorg_tijd</b> in de tabel <i>bestelling</i>.

</td><td width="65%">
    <table border="1">
  <thead>
    <tr>
      <th>vroegste_bezorging</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>17:47:00</td>
    </tr>
  </tbody>
</table>

</td></tr></table>



<p>Bekijk <a
href="https://rweeda.github.io/PythonIA/docs/IA_sql_oplossingen.html#opgave3131"
target="_blank">hier</a> de voorbeelduitwerking.</p>
 <!-- ANTWOORD:
SELECT MIN(bezorg_tijd) AS vroegste_bezorging
FROM bestelling;
</code></pre> -->