## 4.6: COUNT(DISTINCT kolomnaam) â€“ Aantal unieke waarden tellen

<p>Wil je alleen <b>unieke waarden tellen</b>? Dan gebruik je <code>COUNT(DISTINCT kolomnaam)</code>. Deze gebruik je na de SELECT.</p>

<table width="100%"><tr><td style="text-align:left; vertical-align:top; font-size:1.25rem;" width="65%">
Bijvoorbeeld, voor een overzicht van het aantal verschillende klanten die een bestelling hebben geplaatst, tel je het aantal unieke waarden in de kolom <b>klantnummer</b>:

```SQL
SELECT COUNT(DISTINCT klantnummer)
FROM bestelling;
```
</td><td width="35%">

<table border="1">
  <thead>
    <tr>
      <th>COUNT(DISTINCT klantnummer)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>122</td>
    </tr>
  </tbody>
</table>

</td></tr></table>




### Verwerkingsopdracht 4.6.1 Unieke pizzacode's tellen

<table width="100%"><tr><td style="text-align:left; vertical-align:top; font-size:1.25rem;" width="65%">
Hoeveel verschillende (unieke) <b>pizzacode</b>'s staan er in de tabel <i>besteldePizza</i>? Maak het overzicht zoals hiernaast.
</td><td width="35%">
    <table border="1">
  <thead>
    <tr>
      <th>aantal_pizzas</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>36</td>
    </tr>
  </tbody>
</table>

</td></tr></table>


<p>Bekijk <a
href="https://rweeda.github.io/PythonIA/docs/IA_sql_oplossingen.html#opgave461"
target="_blank">hier</a> de voorbeelduitwerking.</p>
<!--
<pre><code class="language-sql">
SELECT COUNT(DISTINCT pizzacode) AS aantal_pizzas
FROM besteldePizza;
</code></pre>
-->