
## 4: Verschil tussen WHERE en HAVING

<p>
Met zowel <code>WHERE</code> als <code>HAVING</code> kun je een voorwaarde opgeven om gegevens te filteren. Er is echter een belangrijk verschil tussen deze twee:
</p>
<ul>
<li><code>WHERE</code> werkt op individuele rijen — dus <i>vóór</i> het groeperen met <code>GROUP BY</code>.</li>
<li><code>HAVING</code> werkt op groepen — dus <i>ná</i> het groeperen met <code>GROUP BY</code>.</li>
</ul>


### Verwerkingsopdracht 6.4.1: Verschil tussen WHERE en HAVING

<ol type="a">
<li>Schrijf een query met <code>WHERE</code> die alleen bestellingen met <code>bodemcode = 1</code> toont, zoals links hieronder.</li>
<li>Schrijf een query met <code>GROUP BY</code> en <code>HAVING</code> die alleen bodems toont die meer dan één keer zijn besteld, zoals rechts hieronder.</li>
<li>Vergelijk de resultaten en leg in je eigen woorden uit wat het verschil is.</li>
</ol>

<table>
<tr><td>
    <table border="1">
    <thead>
        <tr>
        <th>besteldepizzacode</th>
        <th>pizzacode</th>
        <th>bestelcode</th>
        <th>bodemcode</th>
        <th>formaatcode</th>
        <th>aantal</th>
        </tr>
    </thead>
    <tbody>
        <tr><td>7</td><td>25</td><td>2</td><td>1</td><td>4</td><td>1</td></tr>
        <tr><td>15</td><td>25</td><td>4</td><td>1</td><td>1</td><td>1</td></tr>
        <tr><td>18</td><td>19</td><td>5</td><td>1</td><td>4</td><td>3</td></tr>
        <tr><td colspan="6" style="text-align: center;">...</td></tr>
        <tr><td>5832</td><td>24</td><td>1470</td><td>1</td><td>4</td><td>3</td></tr>
    </tbody>
    </table>
</td><td>
    <table border="1">
    <thead>
        <tr>
        <th>bodemcode</th>
        <th>aantal</th>
        </tr>
    </thead>
    <tbody>
        <tr><td>1</td><td>2788</td></tr>
        <tr><td>2</td><td>2905</td></tr>
        <tr><td>3</td><td>140</td></tr>
    </tbody>
    </table>
</td></tr></table>


<p>Bekijk <a href="https://rweeda.github.io/PythonIA/docs/IA_sql_oplossingen.html#opgave641" target="_blank">hier</a> de voorbeelduitwerking.</p>

<!--
<ol type="a">
<li>WHERE-filter op rij-niveau:<br><pre><code>
SELECT * 
FROM besteldepizza
WHERE bodemcode = 1;
</code></pre></li>
<li>HAVING-filter op groep-niveau:<br><pre><code>
SELECT bodemcode, COUNT(*) AS aantal
FROM besteldepizza
GROUP BY bodemcode
HAVING COUNT(*) > 1;
</code></pre></li>
<li>Uitleg:
<ul>
<li><code>WHERE</code> gebruik je als je rijen wilt uitsluiten vóór het groeperen.</li>
<li><code>HAVING</code> gebruik je als je groepen wilt filteren ná het groeperen.</li>
</ul>
</li>
</ol>
-->

### Verwerkingsopdracht 6.4.2: Bodems die vaak zijn besteld (zonder kleine bestellingen)

<p>Bij deze opdracht moet je goed nadenken welke voorwaarden je in <code>WHERE</code> en welke in <code>HAVING</code> gebruikt.</p>

<table width="100%"><tr><td style="text-align:left; vertical-align:top; font-size:1.25rem;" width="35%">
<ol type="a">
<li>Toon per <code>bodemcode</code> hoeveel pizza’s er in totaal zijn besteld, maar reken alleen bestellingen mee waarbij meer dan 1 pizza is besteld.</li>
<li>Toon alleen de bodems waarvan het totaal meer dan 2000 is.</li>
</ol>
De informatie komt uit de tabel <i>besteldePizza</i>.
</td><td width="65%">
<table border="1">
  <thead>
    <tr>
      <th>bodemcode</th>
      <th>aantal_bestellingen</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>1</td><td>2788</td></tr>
    <tr><td>2</td><td>2905</td></tr>
  </tbody>
</table>
</td></tr></table>

<p>Bekijk <a href="https://rweeda.github.io/PythonIA/docs/IA_sql_oplossingen.html#opgave642" target="_blank">hier</a> de voorbeelduitwerking.</p>

<!--
<pre><code>
SELECT bodemcode, SUM(aantal) AS totaal_besteld
FROM besteldePizza
WHERE aantal > 1             -- filter op rij-niveau vóór de GROUP BY
GROUP BY bodemcode
HAVING SUM(aantal) > 2000;   -- filter ná de GROUP BY
</code></pre>
-->