## 2.7: Kennis maken met de andere tabellen


<p>Danilo's pizzeria database bestaat uit meer tabellen dan alleen
<i>pizza</i>. Er wordt ook bijvoorbeeld informatie opgeslagen over
klanten, bezorgers en bestellingen. In de afbeelding hieronder zie je alle 7
tabellen.</p>


<p> <a
href="https://raw.githubusercontent.com/rweeda/PythonIA/main/sql/img/DaniloIA_ERD.png"
target="_blank">
  <img src="https://raw.githubusercontent.com/rweeda/PythonIA/main/sql/img/DaniloIA_ERD.png" alt="Klik om in een nieuw venster te openen" width="1000"/>
</a></p>



### Opdracht 2.7.1 Alle gegevens uit tabel <code>klant</code> tonen
<table>
  <tr><td style="text-align:left; vertical-align:top; font-size:1.25rem;" width="35%">
<p>Toon alle gegevens
uit tabel <code>klant</code>, zoals in het voorbeeld hiernaast.
</td><td width="65%">
</td>
</tr>
</table>


<p>Bekijk <a
href="https://rweeda.github.io/PythonIA/docs/IA_sql_oplossingen.html#opgave271"
target="_blank">hier</a> de voorbeelduitwerking.</p>

<!-- ANTWOORD: <pre><code class="language-sql"> SELECT * FROM klant;
</code></pre> -->


### Opdracht 2.7.2 Alle klanten uit Enschede tonen

<table>
  <tr><td style="text-align:left; vertical-align:top; font-size:1.25rem;" width="35%">
  Toon het adres, de postcode en de plaats van alle klanten die in Enschede
wonen, zoals hiernaast. Tip: De gegevens komen uit tabel <code>klant</code>.</p> 
</td><td width="65%">
<table border="1">
  <thead>
    <tr>
      <th>adres</th>
      <th>postcode</th>
      <th>woonplaats</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Gladioolstraat 11</td>
      <td>3742TC</td>
      <td>Enschede</td>
    </tr>
    <tr>
      <td>Banckertlaan 7</td>
      <td>3742MG</td>
      <td>Enschede</td>
    </tr>
    <tr>
      <td>Talmalaan 11</td>
      <td>3741TX</td>
      <td>Enschede</td>
    </tr>
    <tr>
      <td>Krugerlaan 9</td>
      <td>3743CJ</td>
      <td>Enschede</td>
    </tr>
    <tr>
      <td>Zandvoortweg 199</td>
      <td>3741BE</td>
      <td>Enschede</td>
    </tr>
  </tbody>
</table>
</td></tr></table>

<p>Bekijk <a
href="https://rweeda.github.io/PythonIA/docs/IA_sql_oplossingen.html#opgave272"
target="_blank">hier</a> de voorbeelduitwerking.</p>

<!-- ANTWOORD: <pre><code class="language-sql"> SELECT adres, postcode,
woonplaats FROM klant WHERE plaats='Enschede'; </code></pre> -->


### Opdracht 2.7.3 Wachtwoord van een bezorger tonen
<table width="100%">
  <tr><td style="text-align:left; vertical-align:top; font-size:1.25rem;" width="35%">
      Toon het wachtwoord van de
      bezorger met de naam Ronald Marbus, zoals hiernaast.
      Tips: <ul> <li>De gegevens komen uit tabel <code>bezorger</code>,</li> <li>toon
eerst alle kolommen, en kies dan welk kolom je nodig hebt.</li> </ul>
      </td>
          <td width="65%">
      <table border="1">
        <thead>
          <tr>
            <th>wachtwoord</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>R0nalt</td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
</table>

<p>Bekijk <a
href="https://rweeda.github.io/PythonIA/docs/IA_sql_oplossingen.html#opgave273"
target="_blank">hier</a> de voorbeelduitwerking.</p>

<!-- ANTWOORD: <pre><code class="language-sql"> SELECT wachtwoord FROM
bezorger WHERE naam = 'Ronald Marbus'; </code></pre> -->