## 3.12: COUNT(DISTINCT kolomnaam) â€“ Aantal unieke rijen tellen

<p>Wil je alleen unieke waarden tellen? Dan gebruik je <code>COUNT(DISTINCT kolom)</code>.</p>

<table width="100%"><tr><td style="text-align:left; vertical-align:top; font-size:1.25rem;" width="35%">
Bijvoorbeeld, het aantal klanten die een bestelling hebben geplaatst:
```SQL
SELECT COUNT(DISTINCT klantnummer)
FROM bestelling;
```
</td><td width="65%">

<table border="1">
  <thead>
    <tr>
      <th>COUNT(DISTINCT klantnummer)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>122</td>
    </tr>
  </tbody>
</table>

</td></tr></table>




### Verwerkingsopdracht 3.12.1 Unieke pizzacode's tellen

<table width="100%"><tr><td style="text-align:left; vertical-align:top; font-size:1.25rem;" width="35%">
Hoeveel verschillende (unieke) <b>pizzacode</b>'s staan er in de tabel <i>besteldePizza</i>? Maak het overzicht zoals hiernaast.
</td><td width="65%">
    <table border="1">
  <thead>
    <tr>
      <th>aantal_pizzas</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>36</td>
    </tr>
  </tbody>
</table>

</td></tr></table>


<p>Bekijk <a
href="https://rweeda.github.io/PythonIA/docs/IA_sql_oplossingen.html#opgave3121"
target="_blank">hier</a> de voorbeelduitwerking.</p>
<!--
<pre><code class="language-sql">
SELECT COUNT(DISTINCT pizzacode) AS aantal_pizzas
FROM besteldePizza;
</code></pre>
-->