## 5.1: Gegevens uit meerdere tabellen combineren

<p>In het <b>ERD-schema</b> (Entity-Relationship Diagram) hieronder zie je een overzicht van de tabellen en hoe ze met elkaar verbonden zijn. De pijlen geven de koppelingen tussen tabellen aan. Een bestelde pizza (in tabel <i>besteldePizza</i>) heeft een <b>pizzacode</b>. Aan het pijltje zie je dat de gegevens over de pizza te vinden zijn in de tabel <i>pizza</i>.</p>

<a href="https://raw.githubusercontent.com/rweeda/PythonIA/main/sql/img/DaniloIA_ERD.png" target="_blank">
<img src="https://raw.githubusercontent.com/rweeda/PythonIA/main/sql/img/DaniloIA_ERD.png" alt="overzicht tabellen" width="1000"></a>





<p>Tot nu toe heb je geleerd hoe je gegevens uit één tabel opvraagt. Maar soms wil je gegevens uit meerdere tabellen combineren. Daarvoor gebruik je JOIN .. ON ...</p>


<p>
Zoals je in dit ERD-schema ziet, de tabellen <em>besteldepizza</em> en <em>pizza</em> zijn aan elkaar gekoppeld:<br>
<img src="https://raw.githubusercontent.com/rweeda/PythonIA/main/sql/img/DaniloIA_ERD_besteldePizza_pizza.png" alt="tabellen" width="500">
</p>


<p>Als tabellen aan elkaar gekoppeld zijn, geldt dat de gegevens in de gekoppelde kolommen gelijk zijn. In het voorbeeld geldt dat kolom <em>pizzacode!</em> uit tabel <em>besteldepizza</em> dezelfde codes heeft als kolom <em>pizzacode</em> uit tabel <em>pizza</em>:</p>
<p>
<img src="https://raw.githubusercontent.com/rweeda/PythonIA/main/sql/img/KoppelingTabellenBesteldepizzaPizza.png" alt="Tabellen met zelfde kolommen" width="500">
</p>


<table width="100%">
<tr><td style="text-align:left; vertical-align:top; font-size:1.25rem;" width="65%">
Tabel: <em>pizza</em>
</td><td width="35%">
<table border="1" cellpadding="4" cellspacing="0">
  <thead>
    <tr>
      <th>pizzacode</th>
      <th>naam</th>
      <th>omschrijving</th>
      <th>basisprijs</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>1</td><td>Margherita</td><td>Tomaat, kaas en oregano</td><td>6</td></tr>
    <tr><td>2</td><td>Napoletana</td><td>Tomaat, kaas, ansjovis, olijven, kappertjes en oregano</td><td>7.5</td></tr>
    <tr><td>...</td><td>...</td><td>...</td><td>...</td></tr>
    <tr><td>7</td><td>Borromea</td><td>Tomaat, kaas, ham, champignons en oregano</td><td>7.5</td></tr>
    <tr><td>8</td><td>Hawaii</td><td>Tomaat, kaas, ham, annanas en oregano</td><td>7.5</td></tr>
    <tr><td>9</td><td>Calimero</td><td>Tomaat, kaas, champignons, salami, uien en oregano</td><td>7.5</td></tr>
    <tr><td>10</td><td>Capricciosa</td><td>Tomaat, kaas, ham, champignons, paprika, artisjokken en oregano</td><td>8</td></tr>
    <tr><td>...</td><td>...</td><td>...</td><td>...</td></tr>
    <tr><td>17</td><td>Marinara</td><td>Tomaat, kaas en diverse soorten vis</td><td>8.5</td></tr>
    <tr><td>18</td><td>Mozzarella</td><td>Tomaat, kaas, ham, salami, mozzarella kaas, artisjokken en oregano</td><td>8.5</td></tr>
    <tr><td>19</td><td>Quattro formaggi</td><td>Tomaat, 4 soorten Italiaanse kaas en oregano</td><td>8</td></tr>
    <tr><td>...</td><td>...</td><td>...</td><td>...</td></tr>
    <tr><td>26</td><td>Bolognese</td><td>Tomaat, kaas, bolognese saus en oregano</td><td>7.5</td></tr>
    <tr><td>27</td><td>Salmone</td><td>Tomaat, kaas, zalm, uien, kappertjes en oregano</td><td>8.5</td></tr>
    <tr><td>28</td><td>Fantasia</td><td>Tomaat, kaas, ham, salami, uien, ei, bolognese saus, prei en oregano</td><td>9</td></tr>
    <tr><td>29</td><td>Parma</td><td>Tomaat, kaas, parmaham, gorgonzola kaas en oregano</td><td>8.5</td></tr>
    <tr><td>...</td><td>...</td><td>...</td><td>...</td></tr>
  </tbody>
</td></tr>
</table>



<p>Stel je voor: je wilt een overzicht van elk <b>besteldepizzacode</b> met daarbij de <b>naam</b> van de pizza.<!--<br>
In de tabel <em>besteldepizza</em> zie je welke pizza is besteld, maar niet de naam — alleen een <em>pizzacode</em>. De namen van de pizza’s staan in een andere tabel: <em>pizza</em>. Als je wilt weten welke pizza’s er precies besteld zijn, moet je gegevens <strong>uit beide tabellen combineren</strong>.</p>
-->
<p>In de tabellen hieronder zie je dat er in <em>besteldepizza</em> wél staat welke pizzacode er besteld is, bijvoorbeeld, maar alleen in tabel <em>pizza</em> staat dat dit de 'Hawaii' is.</p>
<p>Door de gegevens <b>uit beide tabellen te combineren</b> kun je tot een overzicht komen waarbij je van elk bestelde pizza weet hoe die heet:</p>
<img src="https://raw.githubusercontent.com/rweeda/PythonIA/main/sql/img/JoinBesteldepizzaPizza.png" alt="tabellen" width="600">

<!--
<p>
<table cellpadding= "10">
<tr><td>
Tabel: <em>besteldepizza</em>


<table border="1" cellpadding="4" cellspacing="0">
  <thead>
    <tr>
      <th>besteldepizzacode</th>
      <th>pizzacode</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>1</td><td>17</td></tr>
    <tr><td>2</td><td>8</td></tr>
    <tr><td>3</td><td>28</td></tr>
      <tr><td>...</td><td>...</td></tr>
  </tbody>
</table>
</td><td>


Tabel: <em>pizza</em>

<table border="1" cellpadding="4" cellspacing="0">
  <thead>
    <tr>
      <th>pizzacode</th>
      <th>naam</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>7</td><td>Borromea</td></tr>
    <tr><td>8</td><td>Hawaii</td></tr>
    <tr><td>9</td><td>Calimero</td></tr>
    <tr><td>...</td><td>...</td></tr>
  </tbody>
</table>
</td></tr></table>

</p>

<table border="1">
  <thead>
    <tr>
      <th>besteldepizzacode</th>
      <th>pizzacode</th>
      <th>naam</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>17</td>
      <td>Marinara</td>
    </tr>
    <tr>
      <td>2</td>
      <td>8</td>
      <td>Hawaii</td>
    </tr>
    <tr>
      <td>3</td>
      <td>28</td>
      <td>Fantasia</td>
    </tr>
    <tr>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
  </tbody>
</table>
<br>

<table border="1">
  <thead>
    <tr>
     <th>pizzacode</th>
      <th>naam</th>
      <th>omschrijving</th>
      <th>basisprijs</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>17</td>
      <td>Marinara</td>
    </tr>
    <tr>
      <td>2</td>
      <td>8</td>
      <td>Hawaii</td>
    </tr>
    <tr>
      <td>3</td>
      <td>28</td>
      <td>Fantasia</td>
    </tr>
    <tr>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
  </tbody>
</table>

<br>
<table border="1">
  <thead>
    <tr>
      <th>pizzacode</th>
      <th>naam</th>
      <th>omschrijving</th>
      <th>basisprijs</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>1</td><td>Margherita</td><td>Tomaat, kaas en oregano</td><td>6</td></tr>
    <tr><td>2</td><td>Napoletana</td><td>Tomaat, kaas, ansjovis, olijven, kappertjes en oregano</td><td>7.5</td></tr>
    <tr><td>...</td><td>...</td><td>...</td><td>...</td></tr>
    <tr><td>7</td><td>Borromea</td><td>Tomaat, kaas, ham, champignons en oregano</td><td>7.5</td></tr>
    <tr><td>8</td><td>Hawaii</td><td>Tomaat, kaas, ham, annanas en oregano</td><td>7.5</td></tr>
    <tr><td>9</td><td>Calimero</td><td>Tomaat, kaas, champignons, salami, uien en oregano</td><td>7.5</td></tr>
    <tr><td>10</td><td>Capricciosa</td><td>Tomaat, kaas, ham, champignons, paprika, artisjokken en oregano</td><td>8</td></tr>
    <tr><td>...</td><td>...</td><td>...</td><td>...</td></tr>
    <tr><td>17</td><td>Marinara</td><td>Tomaat, kaas en diverse soorten vis</td><td>8.5</td></tr>
    <tr><td>18</td><td>Mozzarella</td><td>Tomaat, kaas, ham, salami, mozzarella kaas, artisjokken en oregano</td><td>8.5</td></tr>
    <tr><td>19</td><td>Quattro formaggi</td><td>Tomaat, 4 soorten Italiaanse kaas en oregano</td><td>8</td></tr>
    <tr><td>...</td><td>...</td><td>...</td><td>...</td></tr>
    <tr><td>26</td><td>Bolognese</td><td>Tomaat, kaas, bolognese saus en oregano</td><td>7.5</td></tr>
    <tr><td>27</td><td>Salmone</td><td>Tomaat, kaas, zalm, uien, kappertjes en oregano</td><td>8.5</td></tr>
    <tr><td>28</td><td>Fantasia</td><td>Tomaat, kaas, ham, salami, uien, ei, bolognese saus, prei en oregano</td><td>9</td></tr>
    <tr><td>29</td><td>Parma</td><td>Tomaat, kaas, parmaham, gorgonzola kaas en oregano</td><td>8.5</td></tr>
    <tr><td>...</td><td>...</td><td>...</td><td>...</td></tr>
  </tbody>
</table>

-->


### Verwerkingsopdracht 5.1.1 Koppelingen tussen tabellen

Welke twee tabellen zijn in het ERD-schema direct aan elkaar gekoppeld via de kolom <b>formaatcode</b>?

<ul style="list-style-type: upper-alpha;">
  <li><em>klant</em> en <em>bestelling</em></li>
  <li><em>klant</em> en <em>pizza</em></li>
  <li><em>besteldepizza</em> en <em>formaat</em></li>
  <li><em>bestelling</em> en <em>formaat</em></li>
</ul>