
## 3.3: Gegevens sorteren met ORDER BY

Met ORDER BY kun je resultaten sorteren.
Hierbij moet je aangeven op welke kolom er gesorteerd moet worden en of het oplopend ('ASC') of juist 
aflopend ('DESC') moet zijn. Geef altijd eerst de SELECT en FROM aan, en daarna de ORDER BY.



Bijvoorbeeld, om de pizza's op oplopend op prijs te sorteren, dus met de goedkoopste pizza bovenaan:

In [ ]:

SELECT naam, basisprijs
FROM pizza
ORDER BY basisprijs ASC;


Of om de bezorgers te aflopende sorteren op geboortedatum, dus met de jongste bezorger bovenaan:

In [ ]:

SELECT naam, geboortedatum
FROM bezorger
ORDER BY gebdatum DESC;

Ter herinnering, hieronder de volgorde waarin alle commando's die gebruikt worden moeten staan:
<p><img
src="https://raw.githubusercontent.com/rweeda/PythonIA/main/sql/img/H1_commandos.png"
alt="Commando's voor het ophalen van informatie" width="400"></p>


### Verwerkingsopdracht 3.3.1 de drie duurste pizza's

<table width="100%"><tr><td style="text-align:left; vertical-align:top; font-size:1.25rem;" width="35%">
Geef een overzicht van de pizza's gesorteerd op prijs van laag naar hoog.
</td><td width="65%">
    <table border="1">
  <thead>
    <tr>
      <th>naam</th>
      <th>basisprijs</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>Margherita</td><td>6</td></tr>
    <tr><td>Cippola</td><td>6.5</td></tr>
    <tr><td>Napoletana</td><td>7.5</td></tr>
    <tr><td>...</td><td>...</td></tr>
    <tr><td>Combinazione</td><td>10.5</td></tr>
  </tbody>
</table>

</td></tr></table>



<p>Bekijk <a href="https://rweeda.github.io/PythonIA/docs/IA_sql_oplossingen.html#opgave331" target="_blank">hier</a> de voorbeelduitwerking.</p>
<!-- ANTWOORD:
<pre><code class="language-sql">
SELECT naam, basisprijs
FROM pizza
ORDER BY basisprijs;
</code></pre>
Ook goed:
<pre><code class="language-sql">
SELECT naam, basisprijs
FROM pizza
ORDER BY basisprijs ASC;
</code></pre>
-->


### Verwerkingsopdracht 3.3.2 De vijf laatste bezorgingen
<table width="100%"><tr><td style="text-align:left; vertical-align:top; font-size:1.25rem;" width="35%">
Geef een overzicht van de pizza's gesorteerd op <b>bestel_datum</b>, zoals in het overzicht hiernaast. <br>
Tip: eerst aflopend sorteren, dan met LIMIT de bovenste acht bestellingen tonen.

</td><td width="65%">
<table border="1">
  <thead>
    <tr>
      <th>bestelcode</th>
      <th>bestel_datum</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>1469</td><td>2022-03-03</td></tr>
    <tr><td>1470</td><td>2022-03-03</td></tr>
    <tr><td>1471</td><td>2022-03-03</td></tr>
    <tr><td>1473</td><td>2022-03-03</td></tr>
    <tr><td>1464</td><td>2022-03-02</td></tr>
    <tr><td>1465</td><td>2022-03-02</td></tr>
    <tr><td>1466</td><td>2022-03-02</td></tr>
    <tr><td>1467</td><td>2022-03-02</td></tr>
  </tbody>
</table>


    
</td></tr></table>


<p>Bekijk <a href="https://rweeda.github.io/PythonIA/docs/IA_sql_oplossingen.html#opgave332" target="_blank">hier</a> de voorbeelduitwerking.</p>
<!-- ANTWOORD:
<pre><code class="language-sql">
SELECT bestelcode, bestel_datum
FROM bestelling
ORDER BY bestel_datum DESC
LIMIT 8;
</code></pre>
-->


### Verwerkingsopdracht 3.3.3 Volgorde van onderdelen

Zet de onderdelen van een SQL-query in de juiste volgorde:
FROM – ORDER BY – LIMIT - SELECT – WHERE

<p>Bekijk <a href="https://rweeda.github.io/PythonIA/docs/IA_sql_oplossingen.html#opgave333" target="_blank">hier</a> de voorbeelduitwerking.</p>
<!-- ANTWOORD:
SELECT
FROM
WHERE
ORDER BY
LIMIT
-->