## 3.10: Fouten opsporen

Het kan voorkomen dat er een fout in je code zit. Hier zijn wat tips om die
op te sporen: 
<ul> 
<li>Krijg je een foutmelding? Lees die goed. Vaak staat er
welke regel of welk onderdeel fout is. 
<li>Soms krijg je geen foutmelding,
maar ook geen resultaten. Dan heb je een denkfout in je code zitten en vraag
je iets op wat er niet is. 
<li>Als iets niet werkt, test dan een stukje
tegelijk. Begin eerst alleen met: 
<pre><code class="language-sql">SELECT * 
FROM ...</code></pre>Pas als dat werkt voor je
daarna stukje voor stukje de WHERE-voorwaarden toe.
 <li>Controleer de tabel-
en kolomnamen. Typefouten in kolomnamen komen vaak voor. Met de volgende code kun je kolomnamen bekijken:
 <pre><code class="language-sql">SELECT * 
FROM ...</code></pre>
<li>Zet tijdelijk delen van je code in
commentaar (met <code>--</code>) om te testen wat het probleem veroorzaakt. 
<li>SQLite
is niet hoofdlettergevoelig voor sleutelwoorden, maar wel voor strings,
bijvoorbeeld 'enschede' in plaats van 'Enschede'. 
</ul>

### Opdracht 3.10.1 Fout in query (1) 
<table width="100%">
  <tr><td style="text-align:left; vertical-align:top; font-size:1.25rem;" width="65%">
Piet wil met de query hieronder een
overzicht van alle pizza's die minder dan 7 euro kosten. Wat is de fout in
deze query? Los die op.
    </td>
    <td width="35%">
<table border="1">
  <thead>
    <tr>
      <th>naam</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>Margherita</td></tr>
    <tr><td>Cippola</td></tr>
  </tbody>
</table>
</tr>
</table>

In [ ]:
SELECT naam basisprijs < 7.0 
FROM WHERE pizza;

<p>Bekijk <a
href="https://rweeda.github.io/PythonIA/docs/IA_sql_oplossingen.html#opgave3101"
target="_blank">hier</a> de voorbeelduitwerking.</p>


<!-- ANTWOORD: De fout zat in de volgorde van de regels code. <pre><code
class="language-sql"> SELECT naam FROM pizza WHERE basispijs < 7.0;
</code></pre> -->

### Opdracht 3.10.2 Fout in query (2) 

<table width="100%">
  <tr><td style="text-align:left; vertical-align:top; font-size:1.25rem;" width="35%">
Lukas wil alle klantgegevens van klanten
in Nijmegen zien, zoals het overzicht. Hij gebruikt daarvoor het onderstaande code, maar dat
levert niets op!<br>

<ol style="list-style-type: lower-alpha"> 
<li>Waarom levert het niets op? Kies de juiste antwoord.
  <ol style="list-style-type: upper-alpha">
  <li> De kolom woonplaats bestaat niet <li>De woonplaats moet
  met een hoofdletter geschreven zijn <li>Er staan geen klanten in de database
  <li>Er mogen geen spaties om de '='-teken staan 
  </ol>
  <li>Pas de code aan zodat het de juiste overzicht
  geeft.
  </ol>
</ol>
    </td>
    <td width="65%">
      <table border="1">
        <thead>
          <tr>
            <th>klantnummer</th>
            <th>wachtwoord</th>
            <th>klantnaam</th>
            <th>adres</th>
            <th>postcode</th>
            <th>woonplaats</th>
            <th>telefoon</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>425</td>
            <td>M8eoyfuVd5</td>
            <td>Nina Vos</td>
            <td>Graafseweg 115</td>
            <td>6531ZG</td>
            <td>Nijmegen</td>
            <td>06-63017195</td>
          </tr>
          <tr>
            <td>426</td>
            <td>BV8aYhfTeH</td>
            <td>Noa de Boer</td>
            <td>Daalseweg 103</td>
            <td>6521GS</td>
            <td>Nijmegen</td>
            <td>06-87240602</td>
          </tr>
          <tr>
            <td>427</td>
            <td>IcMD8WuNRk</td>
            <td>Bram Kuipers</td>
            <td>Heyendaalseweg 300</td>
            <td>6525EC</td>
            <td>Nijmegen</td>
            <td>06-13617853</td>
          </tr>
          <tr>
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
</table>

In [ ]:
SELECT *
FROM klant 
WHERE woonplaats = 'nijmegen';

<p>Bekijk <a
href="https://rweeda.github.io/PythonIA/docs/IA_sql_oplossingen.html#opgave3102"
target="_blank">hier</a> de voorbeelduitwerking.</p>

<!-- ANTWOORD: b De woonplaatsen zijn met een hoofdletter geschreven (bv.
'Nijmegen'). SQL vergelijkt tekst hoofdlettergevoelig. In dit geval zijn er
klanten die in 'nijmegen' wonen, maar wel in 'Nijmegen'.

De juiste query is:

<pre><code class="language-sql"> SELECT * FROM klant WHERE woonplaats =
'Nijmegen'; -->


### Opdracht 3.10.3 Fout in query (3) 

De code hieronder bevat een fout. Run de
code, lees de foutmelding en herstel de fout.

In [ ]:
SELECT naam FROM pizzas WHERE basispijs < 7.0;


<p>Bekijk <a
href="https://rweeda.github.io/PythonIA/docs/IA_sql_oplossingen.html#opgave3103"
target="_blank">hier</a> de voorbeelduitwerking.</p>


<!-- ANTWOORD: De fout zat in de naam van de tabel. <pre><code
class="language-sql"> SELECT naam FROM pizza WHERE basispijs < 7.0;
</code></pre> -->


### Opdracht 3.10.4 Fout in query (4) 

De code hieronder bevat een fout. Run de
code, lees de foutmelding en herstel de fout.

In [ ]:
SELECT pizzanaam 
FROM pizza 
WHERE basispijs < 7.0;


<p>Bekijk <a
href="https://rweeda.github.io/PythonIA/docs/IA_sql_oplossingen.html#opgave3104"
target="_blank">hier</a> de voorbeelduitwerking.</p>


<!-- ANTWOORD: De fout zat in de kolomnaam. <pre><code class="language-sql">
SELECT naam FROM pizza WHERE basispijs < 7.0; </code></pre> -->