
## 6.4: Nieuwe tabel aanmaken

<p>Met CREATE TABLE maak je een nieuwe tabel aan in de database.</p>
<pre><code class="language-sql">
CREATE TABLE tabelnaam (
  kolom1 datatype,
  kolom2 datatype,
  kolom3 datatype,
  ...
);
</code></pre>

<ul>
  <li>Achter CREATE TABLE geef je de naam van de nieuwe tabel aan.</li>
  <li>Tussen haakjes zet je per kolom de kolomnaam en het datatype (zoals TEXT, INTEGER of REAL).</li>
</ul>

<p>Elke tabel moet een primary key hebben. De database kan automatisch doornummeren zodra er nieuwe gegevens worden toegevoegd. In die kolom mag elke waarde maar één keer voorkomen. Dit doe je met: <code>INTEGER PRIMARY KEY AUTOINCREMENT</code>.</p>

<p>Voorbeeld: Deze query maakt een tabel <i>pizza</i> waarbij de <b>pizzacode</b> als primary key automatisch wordt genummerd:</p>

<pre><code class="language-sql">
CREATE TABLE pizza (
  pizzacode INTEGER PRIMARY KEY AUTOINCREMENT, 
  naam TEXT,
  omschrijving TEXT,
  basisprijs REAL
);
</code></pre>

### Verwerkingsopdracht 6.4.1 Nieuwe tabel kortingsbonnen aanmaken

<p>Maak een nieuwe tabel <i>kortingsbon</i> aan waarin je informatie opslaat over kortingsbonnen die in omloop zijn: <b>boncode</b>, hoeveel <b>korting</b> ze geven en tot welke <b>datum</b> ze geldig zijn.</p>

<ol type="a">
  <li>Schrijf een CREATE TABLE-query voor de tabel <i>kortingsbon</i>. Bedenk welke kolommen je nodig hebt, en welke datatypes je gebruikt. Denk aan:
    <ul>
      <li>Een primary key: <b>boncode</b></li>
      <li>Automatisch doornummeren met AUTOINCREMENT</li>
      <li>De juiste datatypes: TEXT, INTEGER, REAL</li>
    </ul>
  </li>
  <li>Als je met SELECT * controleert of de tabel is aangemaakt, zie je geen gegevens. Waarom niet?</li>
</ol>


<p>Bekijk <a
href="https://rweeda.github.io/PythonIA/docs/IA_sql_oplossingen.html#opgave741"
target="_blank">hier</a> de voorbeelduitwerking.</p>

<!-- ANTWOORD:
<ol type="a">
<li>
<pre><code class="language-sql">
CREATE TABLE kortingsbon (
    boncode INTEGER PRIMARY KEY AUTOINCREMENT,
    korting REAL,
    datum TEXT
);
</code></pre>
</li>
<li>
Als de code geen foutmelding geeft, maar wel een lege tabel oplevert, dan is het aanmaken gelukt. Met <code>CREATE TABLE</code> heb je alleen de tabel aangemaakt. Met <code>INSERT INTO</code> kun je daarna gegevens invoeren.
</li>
</ol> 
-->