
## 3: GROUP BY en HAVING

<p>
Met <code>HAVING</code> kun je de resultaten <i>na</i> het groeperen filteren. Hiermee kun je voorwaarden stellen aan groepen — iets wat niet met <code>WHERE</code> kan, want <code>WHERE</code> werkt vóór het groeperen. In <code>HAVING</code> kun je gebruik maken van groepsfuncties zoals <code>COUNT()</code>, <code>AVG()</code>, <code>SUM()</code>, <code>MAX()</code> en <code>MIN()</code>.
</p>


<table width="100%"><tr><td style="text-align:left; vertical-align:top; font-size:1.25rem;" width="65%">

<h3>Voorbeeld</h3>
<p>De volgende query toont alleen bodems die meer dan één keer zijn besteld. <code>HAVING</code> filtert op het aantal per groep:</p>

<pre><code>SELECT bodemcode, COUNT(*) AS aantal_besteld_per_bodem
FROM besteldepizza
GROUP BY bodemcode
HAVING COUNT(*) > 1;
</code></pre>

</td><td width="35%">

<table border="1">
  <thead>
    <tr>
      <th>bodemcode</th>
      <th>aantal_besteld_per_bodem</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>1</td><td>2788</td></tr>
    <tr><td>2</td><td>2905</td></tr>
    <tr><td>3</td><td>140</td></tr>
  </tbody>
</table>

</td></tr></table>

### Verwerkingsopdracht 7.3.1 Bestelde bodems

<table width="100%"><tr><td style="text-align:left; vertical-align:top; font-size:1.25rem;" width="65%">
Toon alleen bodems die meer dan één keer zijn besteld.<br>
<strong>Tip:</strong> Gebruik <code>HAVING</code> om te filteren op het aantal per groep.
</td><td width="35%">

<table border="1">
  <thead>
    <tr>
      <th>bodemcode</th>
      <th>aantal_besteld_per_bodem</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>1</td><td>2788</td></tr>
    <tr><td>2</td><td>2905</td></tr>
    <tr><td>3</td><td>140</td></tr>
  </tbody>
</table>

</td></tr></table>

<p>Bekijk <a
href="https://rweeda.github.io/PythonIA/docs/IA_sql_oplossingen.html#opgave631"
target="_blank">hier</a> de voorbeelduitwerking.</p>
 <!--
<pre><code class="language-sql">
SELECT bodemcode, COUNT(*) as aantal_besteld_per_bodem
FROM besteldepizza
GROUP BY bodemcode
HAVING COUNT(*) > 1;
</code></pre>
-->


### Verwerkingsopdracht 7.3.2 Ervaren bezorgers

<table width="100%"><tr><td style="text-align:left; vertical-align:top; font-size:1.25rem;" width="65%">
De manager wil weten welke bezorgers veel ervaring hebben. Een bezorger geldt als "ervaren" als hij of zij meer dan 150 bestellingen heeft bezorgd. Toon het overzicht zoals hiernaast.
</td><td width="35%">

<table border="1">
  <thead>
    <tr><th>bezorgernummer</th></tr>
  </thead>
  <tbody>
    <tr><td>0</td></tr>
    <tr><td>2</td></tr>
    <tr><td>3</td></tr>
    <tr><td>4</td></tr>
    <tr><td>5</td></tr>
    <tr><td>6</td></tr>
    <tr><td>7</td></tr>
    <tr><td>8</td></tr>
  </tbody>
</table>

</td></tr></table>


<p>Bekijk <a
href="https://rweeda.github.io/PythonIA/docs/IA_sql_oplossingen.html#opgave631"
target="_blank">hier</a> de voorbeelduitwerking.</p>
 <!--
<pre><code class="language-sql">
SELECT bodemcode, COUNT(*) as aantal_besteld_per_bodem
FROM besteldepizza
GROUP BY bodemcode
HAVING COUNT(*) > 1;
</code></pre>
-->

### Verwerkingsopdracht 7.3.3 Bodems met meer dan 2000 bestellingen

<table width="100%"><tr><td style="text-align:left; vertical-align:top; font-size:1.25rem;" width="65%">

<p>Geef een overzicht van de bodems met meer dan 2000 bestellingen, zoals in het overzicht hiernaast.<br>
<strong>Tip:</strong> tel het aantal bestellingen per bodem en toon alleen de bodems die meer dan 2000 keer zijn besteld.</p>

</td><td width="35%">

<table border="1">
  <thead>
    <tr>
      <th>bodemcode</th>
      <th>aantal_bestellingen</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>1</td><td>2788</td></tr>
    <tr><td>2</td><td>2905</td></tr>
  </tbody>
</table>

</td></tr></table>

<p>Bekijk <a
href="https://rweeda.github.io/PythonIA/docs/IA_sql_oplossingen.html#opgave633"
target="_blank">hier</a> de voorbeelduitwerking.</p>
 <!--
<pre><code class="language-sql">
SELECT bodemcode, COUNT(*) AS aantal_bestellingen
FROM besteldePizza
GROUP BY bodemcode
HAVING COUNT(*) > 2000;
</code></pre>
-->