## 4.7: MIN() â€“ Laagste waarde

`MIN(kolomnaam)` geeft de <b>laagste waarde</b> (minimum) in een kolom terug. Deze gebruik je na de SELECT.<br> 


<table width="100%"><tr><td style="text-align:left; vertical-align:top; font-size:1.25rem;" width="65%">

Bijvoorbeeld, de goedkoopste pizza:

```sql
SELECT MIN(basisprijs) AS goedkoopste_pizza
FROM pizza;
```

</td><td width="35%">
<table border="1">
  <thead>
    <tr>
      <th>goedkoopste_pizza</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>6</td>
    </tr>
  </tbody>
</table>

</td></tr></table>


### Verwerkingsopdracht 4.7.1 Vroegste bezorging

<table width="100%"><tr><td style="text-align:left; vertical-align:top; font-size:1.25rem;" width="65%">
Toon de vroegste <b>bezorg_tijd</b> in de tabel <i>bestelling</i>. Hernoem de kolom zoals in het voorbeeld.

</td><td width="35%">
    <table border="1">
  <thead>
    <tr>
      <th>vroegste_bezorging</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>17:47:00</td>
    </tr>
  </tbody>
</table>

</td></tr></table>