## 7.1: Gegevens in een tabel invoeren

<p>Met een <code>INSERT INTO... VALUES (...)</code>-query voeg je nieuwe gegevens toe aan een tabel.</p>

<pre><code class="language-sql">
INSERT INTO tabelnaam 
VALUES (waarde1, waarde2, waarde3, ... );
</code></pre>

<ul>
  <li>Achter <code>INSERT INTO</code> geef je de naam van de tabel aan.</li>
  <li>Achter <code>VALUES</code> geef je tussen haakjes voor elke kolom afzonderlijk de gegevens die ingevuld moeten worden.</li>
</ul>

<p>Bij sommige tabellen wordt voor de primary key gebruik gemaakt van <code>AUTOINCREMENT</code>. Een kolom met <code>AUTOINCREMENT</code> betekent dat de database zelf een oplopend nummer verzint. Bijvoorbeeld: de eerste rij krijgt automatisch nummer 1, de volgende 2, enzovoort. Voor zo'n kolom hoef je dat nummer niet zelf in te vullen — in plaats daarvan geef je <code>NULL</code> op.</p>

<p><strong>Let op:</strong></p>
<ul>
  <li>De volgorde van kolommen en waarden moet overeenkomen.</li>
  <li>Tekst moet tussen aanhalingstekens staan. Bij getallen is dat niet nodig.</li>
  <li>Bij een <code>AUTOINCREMENT</code> geef je <code>NULL</code> op, zodat automatisch wordt genummerd.</li>
</ul>

<p>Voorbeeld: Deze query voegt een nieuwe pizza toe aan de tabel <i>pizza</i>:</p>

<pre><code class="language-sql">
INSERT INTO pizza 
VALUES (NULL, 'Pizza Hawaii', 'Ham en ananas', 8.50);
</code></pre>

<p>Toelichting:</p>
<ul>
  <li>Met <code>INSERT INTO</code> geven we aan dat we iets willen toevoegen aan de tabel <i>pizza</i>.</li>
  <li>Met <code>VALUES</code> geven we aan welke gegevens in de tabel moeten worden opgeslagen.</li>
  <li>Met <code>NULL</code> geven we aan dat het id-nummer automatisch gegenereerd wordt.</li>
  <li>In de tweede kolom, <i>naam</i>, komt 'Pizza Hawaii' te staan.</li>
  <li>In de derde kolom, <i>omschrijving</i>, komt 'Ham en ananas'.</li>
  <li>In de vierde kolom, <i>basisprijs</i>, komt 8.50.</li>
</ul>


### Verwerkingsopdracht 7.1.1 Pizza toevoegen en controleren

<ol type="a">
  <li>Voer de code hierboven uit om een <i>Pizza Hawaii</i> toe te voegen aan de tabel <i>pizza</i>.</li>
  <li>Controleer daarna of het is gelukt. Dit doe je met:</li>

<pre><code class="language-sql">
SELECT *
FROM pizza;
</code></pre>
</ol>

<p>Bekijk <a
href="https://rweeda.github.io/PythonIA/docs/IA_sql_oplossingen.html#opgave711"
target="_blank">hier</a> de voorbeelduitwerking.</p>

<!--
<ol type="a">
<pre><code class="language-sql"> 
SELECT *
FROM bodem
</code></pre>
<li>
<pre><code class="language-sql"> 
-- check:
SELECT *
FROM pizza;
</code></pre>
</ol>
-->


### Verwerkingsopdracht 7.1.2 Een nieuwe glutenvrije bodem

<p>We gebruiken de tabel <i>bodem</i>. Deze bevat de kolommen:</p>
<ul>
  <li><b>bodemcode</b> (AUTOINCREMENT, hoef je niet zelf in te vullen)</li>
  <li><b>omschrijving</b> (bijvoorbeeld "Dunne bodem")</li>
  <li><b>plusprijs</b> (bijvoorbeeld 1.00)</li>
</ul>

<p>Welke van de volgende <code>INSERT INTO</code>-statements voegt correct een nieuwe bodem toe met omschrijving <b>Glutenvrij</b> en een toeslag van €1,50?</p>

<ul type="A">
  <li>
<pre><code class="language-sql">
INSERT INTO bodem (bodemcode, omschrijving, plusprijs)
VALUES (5, "Glutenvrij", 1.50);
</code></pre>
  </li>
  <li>
<pre><code class="language-sql">
INSERT INTO bodem (omschrijving, plusprijs)
VALUES ("Glutenvrij", 1.50);
</code></pre>
  </li>
  <li>
<pre><code class="language-sql">
INSERT INTO bodem
VALUES ("Glutenvrij", 1.50);
</code></pre>
  </li>
  <li>
<pre><code class="language-sql">
INSERT INTO bodem (omschrijving, plusprijs)
VALUES (Glutenvrij, €1,50);
</code></pre>
  </li>
</ul>

<p>Bekijk de <a href="https://rweeda.github.io/PythonIA/docs/IA_sql_oplossingen.html#opgave712" target="_blank">voorbeelduitwerking</a>.</p>

### Verwerkingsopdracht 7.1.3 Pan-bodem toevoegen

<p>Gebruik de tabel <i>bodem</i>. Deze bevat de kolommen:</p>
<ul>
  <li><b>bodemcode</b> (AUTOINCREMENT)</li>
  <li><b>omschrijving</b></li>
  <li><b>plusprijs</b></li>
</ul>

<ol type="a">
  <li>Voeg een nieuwe dikke bodem toe met de omschrijving "Pan" en een toeslag van €2,00.</li>
  <li>Controleer daarna of het gelukt is. Dit doe je met:</li>
</ol>

<pre><code class="language-sql">
SELECT *
FROM bodem;
</code></pre>

<p>Bekijk de <a href="https://rweeda.github.io/PythonIA/docs/IA_sql_oplossingen.html#opgave713" target="_blank">voorbeelduitwerking</a>.</p>


<!--
<pre><code class="language-sql"> 
INSERT INTO bodem (bodemcode, omschrijving, plusprijs)
VALUES (NULL, "Pan", 2.00);


-- check:
SELECT *
FROM bodem;
</code></pre>
-->