## 6.2: Gegevens uit een tabel verwijderen

<p>Met DELETE FROM kun je een of meerdere rijen verwijderen uit een tabel:
<pre><code class="language-sql">
DELETE FROM tabelnaam
WHERE voorwaarde;
</code></pre>

<ul>
  <li>Achter DELETE FROM geef je de naam van de tabel aan.</li>
  <li>Met WHERE geef je aan welke rij(en) je wilt verwijderen. Gebruik hier bij voorkeur de <i>primary key</i>.</li>
  <li>Let op: Als je geen WHERE gebruikt, worden <i>alle</i> rijen uit de tabel verwijderd!</li>
</ul>

<p>Voorbeeld: Deze query verwijdert de rij uit de tabel <i>pizza</i> waarbij de <b>pizzacode</b> gelijk is aan 1:</p>
<pre><code class="language-sql">
DELETE FROM pizza
WHERE pizzacode = 1;
</code></pre>

### Verwerkingsopdracht 6.2.1 Pizza verwijderen en controleren

<ol type="a">
  <li>Voer de code hierboven uit waarmee de pizza met <i>pizzacode</i> 1 wordt verwijderd uit de tabel <i>pizza</i>.</li>
  <li>Controleer daarna of het is gelukt met is met SELECT *.</li>
</ol>

In [ ]:
DELETE FROM pizza
WHERE pizzacode = 1;

In [ ]:
SELECT *
FROM pizza;

### Verwerkingsopdracht 6.2.2 Verwijder de Pazza pizza

<p>Omdat deze nauwelijks besteld wordt, wil Danilo de "Pazza"-pizza van het menu halen.</p>

<ol type="a">
  <li>Schrijf een query om deze pizza uit de tabel te verwijderen.</li>
  <li>Controleer daarna, in het blok eronder, met SELECT * of het gelukt is.</li>
</ol>

In [ ]:
SELECT *
FROM pizza;


<p>Bekijk <a
href="https://rweeda.github.io/PythonIA/docs/IA_sql_oplossingen.html#opgave722"
target="_blank">hier</a> de voorbeelduitwerking.</p>

<!-- ANTWOORD
<pre><code class="language-sql">
-- verwijderen:
DELETE FROM pizza
WHERE naam = "Pazza";
-- check:
SELECT *
FROM pizza;
</code></pre>
-->