## 6.13: Afsluitende Opdrachten

<p>Klik <a href="https://raw.githubusercontent.com/rweeda/PythonIA/main/sql/img/DaniloIA_ERD.png" target="_blank">hier</a> voor een overzicht van alle tabellen van Danilo's Pizzeria.</p>


<p>
Bij Danilo’s Pizzeria kunnen klanten tegenwoordig ook online hun mening geven over pizza’s. Elke beoordeling wordt opgeslagen in een nieuwe tabel: <i>review</i>. In een review staat bij welke pizza de beoordeling hoort, welk cijfer de klant geeft (1 t/m 10) en of er een opmerking is achtergelaten.
</p>

### Afsluitende Opdracht 6.13.1 Keys bepalen

<p>Het schema hiernaast geeft aan hoe de tabel <i>review</i> gekoppeld is aan tabel <i>pizza</i>. Bekijk het schema en beantwoord dan de bijbehorende vragen.</p>

<img src="https://raw.githubusercontent.com/rweeda/PythonIA/main/sql/img/ERD_tabelReviewPizza.png" alt="Tabellen pizza en review" width="300">

<ol type="a">
<li>Welke kolom in de tabel <i>review</i> is de primary key?</li>
<li>In welke tabel staat de foreign key waarmee de tabellen zijn gekoppeld?</li>
</ol>



### Afsluitende Opdracht 6.13.2 Tabel <i>review</i> aanmaken

<p>Maak een tabel <i>review</i> aan om de beoordelingen van klanten bij te houden. De tabel heeft de volgende kolommen:

<ul>
<li><b>reviewcode</b> is de unieke code voor elke review en wordt automatisch opgehoogd.
<li><b>pizzacode</b> is een foreign key die verwijst naar een bestaande pizza.
<li><b>beoordeling</b> is een cijfer (bijv. 1–10).
<li><b>opmerking</b> is vrije tekst.
</ul>



<table width="100%"><tr><td style="text-align:left; vertical-align:top; font-size:1.25rem;" width="55%">
<p>
Hiernaast zie je de structuur en voorbeeldgegevens van de nieuwe tabel:
</p>


<ol type="a">
<li>Maak de tabel <i>review</i> aan met de juiste kolommen en datatypes.</li>
<li>Voeg drie rijen met gegevens toe aan de tabel, bijvoorbeeld die uit het voorbeeld.</li>
<li>Controleer met <code>SELECT *</code> of de tabel goed gevuld is.</li>
</ol>



</td><td width="45%">
Tabel: <i>review</i>
<table border="1" cellpadding="4" cellspacing="0">
  <thead>
    <tr>
      <th>reviewID</th>
      <th>pizzacode</th>
      <th>beoordeling</th>
      <th>opmerking</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>11</td>
      <td>8</td>
      <td>Lekkere bodem en goed belegd.</td>
    </tr>
    <tr>
      <td>2</td>
      <td>7</td>
      <td>6</td>
      <td>Beetje te pittig naar mijn smaak.</td>
    </tr>
    <tr>
      <td>3</td>
      <td>2</td>
      <td>9</td>
      <td>Heerlijke kaascombinatie!</td>
    </tr>
  </tbody>
</table>

</td></tr></table>

In [ ]:
-- a) maak hier de tabel 'review' aan

In [ ]:
-- b) vul hier de tabel 'review' met een paar voorbeeld reviews

In [ ]:
-- c) controleer of de tabel 'review' goed is aangemaakt en gevuld
SELECT *
FROM review

### Afsluitende Opdracht 6.13.3 Reviews verwijderen en aanpassen


<table width="100%"><tr><td style="text-align:left; vertical-align:top; font-size:1.25rem;" width="65%">

<p>Gebruik de tabel <code>review</code> die je in de vorige opdracht hebt aangemaakt en beantwoord de onderstaande vragen. Het resultaat ziet eruit zoals in het overzicht hiernaast.</p>

<ol type="a">
  <li>Verwijder de review met <code>reviewcode = 2</code> uit de tabel.</li>
  <li>Pas de beoordeling van <code>reviewcode = 1</code> aan naar een 9.</li>
  <li>Controleer of de aanpassingen goed zijn doorgevoerd.</li>
  <li>Wat gebeurt er als je een <code>DELETE</code>-opdracht uitvoert zonder <code>WHERE</code>-voorwaarde?</li>
</ol>


</td><td width="35%">

<table border="1" cellpadding="4" cellspacing="0">
  <thead>
    <tr>
      <th>reviewcode</th>
      <th>pizzacode</th>
      <th>beoordeling</th>
      <th>opmerking</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>11</td>
      <td>9</td>
      <td>Lekkere bodem en goed belegd.</td>
    </tr>
    <tr>
      <td>3</td>
      <td>2</td>
      <td>9</td>
      <td>Heerlijke kaascombinatie!</td>
    </tr>
  </tbody>
</table>


</td></tr></table>

In [ ]:
-- a) verwijder review met reviewcode 2

In [ ]:
-- b) pas de beoordeling van review met reviewcode 1 aan naar 9

In [ ]:
-- c) controleer of de tabel review goed is aangepast
SELECT *
FROM review

### Afsluitende Opdracht 6.13.4 Kolom <b>datum</b> toevoegen

<table width="100%"><tr><td style="text-align:left; vertical-align:top; font-size:1.25rem;" width="65%">


<p>
Danilo wil nu bijhouden wanneer een review is geplaatst. Voeg daarom een nieuwe kolom <b>datum</b> toe aan de tabel <i>review</i> om de datum vast te leggen.
</p>

<ol>
  <li>Voeg de kolom <b>datum</b> (type: <code>TEXT</code>) toe met een <code>ALTER TABLE</code>-opdracht.</li>
  <li>Vul daarna de datum in voor bestaande reviews, bijvoorbeeld '<code>2025-07-30</code>' voor de reviewcode 1 en '<code>2025-08-15</code>' voor reviewcode 3.</li>
  <li>Controleer of de aanpassingen correct zijn door de tabel opnieuw op te vragen.</li>
</ol>

</td><td width="35%">

<table border="1" cellpadding="4" cellspacing="0">
  <thead>
    <tr>
      <th>reviewcode</th>
      <th>pizzacode</th>
      <th>beoordeling</th>
      <th>opmerking</th>
      <th>datum</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>11</td>
      <td>9</td>
      <td>Lekkere bodem en goed belegd.</td>
      <td>2025-07-30</td>
    </tr>
    <tr>
      <td>3</td>
      <td>2</td>
      <td>9</td>
      <td>Heerlijke kaascombinatie!</td>
      <td>2025-08-15</td>
    </tr>
  </tbody>
</table>

</td></tr></table>

In [ ]:
-- a) voeg de kolom datum toe aan de tabel review

In [ ]:
-- b) vul datum in voor bestaande reviews

In [ ]:
-- c) controleer of de tabel review goed is aangepast en gevuld
SELECT *
FROM review

### Afsluitende Opdracht 6.13.5 Kolom <b>opmerking</b> hernoemen


<table width="100%"><tr><td style="text-align:left; vertical-align:top; font-size:1.25rem;" width="65%">

<p>
Danilo wil dat je de kolom <b>opmerking</b> hernoemt naar <b>toelichting</b>, omdat die naam beter past bij de inhoud.
</p>

<ol>
  <li>Gebruik een <code>ALTER TABLE</code>-opdracht om de kolom te hernoemen.</li>
  <li>Controleer of de kolom succesvol is hernoemd de tabel opnieuw op te vragen.</li>
</ol>

</td><td width="35%">

<table border="1" cellpadding="4" cellspacing="0">
  <thead>
    <tr>
      <th>reviewcode</th>
      <th>pizzacode</th>
      <th>beoordeling</th>
      <th>toelichting</th>
      <th>datum</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>11</td>
      <td>9</td>
      <td>Lekkere bodem en goed belegd.</td>
      <td>2025-07-30</td>
    </tr>
    <tr>
      <td>3</td>
      <td>2</td>
      <td>9</td>
      <td>Heerlijke kaascombinatie!</td>
      <td>2025-08-15</td>
    </tr>
  </tbody>
</table>

</td></tr></table>

In [ ]:
-- a) hernoem de kolom opmerking naar toelichting

In [ ]:
-- b) controleer je wijzigingen
SELECT *
FROM review

### Afsluitende Opdracht 6.13.6 Tabel <i>review</i> hernoemen

<p>
Danilo wil dat de tabel <i>review</i> voortaan <i>beoordeling</i> heet.
</p>

<ol>
  <li>Gebruik een <code>ALTER TABLE ... RENAME TO</code>-opdracht om de tabelnaam aan te passen.</li>
</ol>

### Afsluitende Opdracht 6.13.7 Tabel <i>beoordeling</i> verwijderen

<p>
Danilo wil dat je de tabel <i>beoordeling</i> helemaal verwijdert uit de database.
</p>

<ol type="a">
  <li>Gebruik de juiste SQL-opdracht om dit te doen.</li>
  <li>Controleer of de tabel inderdaad verwijderd is.</li>
</ol>

In [ ]:
-- a) verwijder de tabel beoordeling

In [ ]:
-- b) controleer of de tabel verwijderd is