## 6.3: Gegevens in een tabel aanpassen
<p>Met <code>UPDATE</code> kun je gegevens in een tabel aanpassen:</p>

<pre><code class="language-sql">UPDATE tabelnaam
SET kolom1 = nieuwe_waarde1, kolom2 = nieuwe_waarde2
WHERE voorwaarde;
</code></pre>
Toelichting:
<ul>
  <li>Achter <code>UPDATE</code> geef je de naam van de tabel aan.</li>
  <li>Met <code>SET</code> geef je aan welke kolom (of kolommen) je wilt aanpassen en wat de nieuwe waarde wordt.</li>
  <li>Met <code>WHERE</code> geef je aan welke rij(en) je wilt aanpassen, bij voorkeur via de <i>primary key</i>.</li>
  <li>Let op: Als je geen <code>WHERE</code> gebruikt, worden <i>alle</i> rijen aangepast!</li>
</ul>


<hr>
<p><b>Voorbeeld</b>. Deze query past de naam van de pizza met <b>pizzacode</b> 5 aan naar "Peperoni". Alle andere kolommen blijven ongewijzigd:</p>
<pre><code class="language-sql">UPDATE pizza
SET pizzanaam = "Peperoni"
WHERE pizzacode = 5;
</code></pre>

### Verwerkingsopdracht 6.3.1 Pas de prijs van een pizza aan
<p>
a. Schrijf een query die voor de pizza met <b>naam</b> gelijk aan "Margherita" de <b>basisprijs</b> verhoogt naar â‚¬8,00.
<br><br>
b. Controleer daarna of het gelukt is.</p>

In [ ]:
-- a. pas hier de prijs aan

In [ ]:
-- b. controleer of de tabel is aangepast