# 5.3: Meer dan 2 tabellen koppelen

Je kunt ook meer dan 3 tabellen koppelen met een <code>JOIN</code>. Je koppelt eerst twee tabellen via de kolom met gelijke waarden.
Daarna voeg je een derde tabel toe met een extra <code>JOIN</code>.

```SQL
SELECT ...
FROM tabel1
JOIN tabel2 ON tabel1.kolom = tabel2.kolom
JOIN tabel3 ON tabel2.kolom = tabel3.kolom;
```

<p>Voorbeeld. Deze query geeft een overzicht met <b>besteldepizzacode</b> (uit tabel <i>besteldePizza</i>), <b>naam</b> (uit tabel <i>pizza</i>) en <b>omschrijving</b> (uit tabel <i>formaat</i>) door de drie tabellen te koppelen via kolommen met gelijke waarden.</p>

<table width="100%"><tr><td style="text-align:left; vertical-align:top; font-size:1.25rem;" width="55%">
<pre><code class="language-sql">
SELECT besteldePizza.besteldepizzacode, pizza.naam, formaat.omschrijving
FROM besteldePizza
JOIN pizza ON besteldePizza.pizzacode = pizza.pizzacode 
JOIN formaat ON besteldePizza.formaatcode = formaat.formaatcode; 
</code></pre>

</td><td width="45%">

<table border="1" cellpadding="4" cellspacing="0">

  <thead>
    <tr>
      <th>besteldepizzacode</th>
      <th>naam</th>
      <th>omschrijving</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>1</td><td>Marinara</td><td>extra groot (40 cm)</td></tr>
    <tr><td>2</td><td>Hawai</td><td>groot (35 cm)</td></tr>
    <tr><td>3</td><td>Fantasia</td><td>klein (25 cm)</td></tr>
    <tr><td>4</td><td>Salmone</td><td>klein (25 cm)</td></tr>
    <tr><td>…</td><td>…</td><td>…</td></tr>
    <tr><td>5833</td><td>Prosciutto</td><td>medium (30 cm)</td></tr>
  </tbody>
</table>
</td></tr></table>


### Verwerkingsopdracht 5.3.1: Overzicht van naam en bodem van alle bestelde pizza's


<table width="100%"><tr><td style="text-align:left; vertical-align:top; font-size:1.25rem;" width="65%">

<p>Maak een overzicht van alle bestelde pizza’s met daarbij de <b>besteldepizzacode</b>, <b>naam</b> van de pizza (uit de tabel <i>pizza</i>) en de <b>omschrijving</b> van de bodem (uit de tabel <i>bodem</i>).</p>
<p>Tip: Je hebt een derde tabel nodig, namelijk <i>besteldepizza</i>, om de gegevens aan elkaar te koppelen.</p>


</td><td width="35%">

<table border="1" cellpadding="4" cellspacing="0">
  <thead>
    <tr>
      <th>besteldepizzacode</th>
      <th>pizzanaam</th>
      <th>bodem</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>1</td><td>Marinara</td><td>American style</td></tr>
    <tr><td>2</td><td>Hawaii</td><td>American style</td></tr>
    <tr><td>3</td><td>Fantasia</td><td>American style</td></tr>
    <tr><td>…</td><td>…</td><td>…</td></tr>   
    <tr><td>7</td><td>Vergetariana</td><td>Italian style</td></tr>
    <tr><td>…</td><td>…</td><td>…</td></tr>
    <tr><td>5833</td><td>Prosciutto</td><td>American style</td></tr>
  </tbody>
</table>


</td></tr></table>


### Verwerkingsopdracht 5.3.2: Overzicht van alle pizza's dat elk klant heeft besteld


<table width="100%"><tr><td style="text-align:left; vertical-align:top; font-size:1.25rem;" width="65%">

<p>Maak een overzicht van alle pizza's (uit de tabel <i>besteldePizza</i>) dat elk klant (uit de tabel <i>klant</i>) heeft besteld.</p>
<p>Tip: Je hebt een derde tabel nodig om de gegevens aan elkaar te koppelen.</p>


</td><td width="35%">

<table border="1" cellpadding="4" cellspacing="0">
<table border="1">
  <thead>
    <tr>
      <th>naam</th>
      <th>postcode</th>
      <th>pizzacode</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Katja Pas</td>
      <td>3766AM</td>
      <td>17</td>
    </tr>
    <tr>
      <td>Katja Pas</td>
      <td>3766AM</td>
      <td>8</td>
    </tr>
    <tr>
      <td>Katja Pas</td>
      <td>3766AM</td>
      <td>28</td>
    </tr>
    <tr>
      <td>Bram Kuipers</td>
      <td>6525EC</td>
      <td>27</td>
    </tr>
    <tr>
      <td>Bram Kuipers</td>
      <td>6525EC</td>
      <td>28</td>
    </tr>
    <tr>
      <td>Bram Kuipers</td>
      <td>6525EC</td>
      <td>32</td>
    </tr>
    <tr>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
  </tbody>
</table>



</td></tr></table>