## 6.8: Tabel aanpassen â€“ Tabel hernoemen

<p>Met ALTER TABLE ... RENAME TO geef je een bestaande tabel een nieuwe naam.<pre><code class="language-sql">
ALTER TABLE oude_tabelnaam
RENAME TO nieuwe_tabelnaam;
</code></pre>
</p>

<ul>
  <li>Achter ALTER TABLE geef je de oude tabelnaam op.</li>
  <li>Met RENAME TO geef je de nieuwe naam.</li>
</ul>

<p>Voorbeeld: hernoem tabel <i>bezorger</i> naar <i>medewerker</i>:</p>

<pre><code class="language-sql">
ALTER TABLE bezorger
RENAME TO medewerker;
</code></pre>


### Verwerkingsopdracht 6.8.1 Tabel hernoemen naar grootte
<p>Hernoem de tabel <i>formaat</i> naar <i>grootte</i>. Controleer daarna met SELECT * of het gelukt is.</p>

In [ ]:
SELECT *
FROM grootte;

<p>Bekijk <a
href="https://rweeda.github.io/PythonIA/docs/IA_sql_oplossingen.html#opgave781"
target="_blank">hier</a> de voorbeelduitwerking.</p>

<!--
<pre><code class="language-sql">
ALTER TABLE formaat
RENAME TO grootte;
</code></pre>
-->