## 6.12: Afsluitende Opdrachten

<p>Klik <a href="https://raw.githubusercontent.com/rweeda/PythonIA/main/sql/img/DaniloIA_ERD.png" target="_blank">hier</a> voor een overzicht van alle tabellen.</p>


### Afsluitende Opdracht 6.12.1 Nieuwe pizza

<table width="100%"><tr><td style="text-align:left; vertical-align:top; font-size:1.25rem;" width="65%">
Je wilt een nieuwe pizza "Pizza Tonno" toevoegen met als omschrijving "Tomaat, kaas en tonijn" en een prijs van €7,90. Schrijf de SQL-query die deze pizza toevoegt aan de tabel pizza.

</td><td width="35%">
<table border="1" cellpadding="4" cellspacing="0">

  </tbody>
</table>



</td></tr></table>


### Afsluitende Opdracht 6.12.2 Prijs verhoging

<table width="100%"><tr><td style="text-align:left; vertical-align:top; font-size:1.25rem;" width="65%">
De prijs van de pizza "Margherita" moet worden verhoogd naar €6,50. Schrijf de SQL-query waarmee je de prijs aanpast in de tabel pizza.

</td><td width="35%">
<table border="1" cellpadding="4" cellspacing="0">

  </tbody>
</table>



</td></tr></table>

### Afsluitende Opdracht 6.12.3 Bestelling verwijderen

<table width="100%"><tr><td style="text-align:left; vertical-align:top; font-size:1.25rem;" width="65%">
Er is een fout gemaakt: een bestelling met bestelcode 999 moet verwijderd worden. Schrijf de SQL-query waarmee je deze bestelling verwijdert uit de tabel bestelling.

</td><td width="35%">
<table border="1" cellpadding="4" cellspacing="0">

  </tbody>
</table>



</td></tr></table>

### Afsluitende Opdracht 6.12.4 Zoeken naar shoarma

<table width="100%"><tr><td style="text-align:left; vertical-align:top; font-size:1.25rem;" width="65%">
Controleer of er al een pizza bestaat met het woord "shoarma" in de naam of omschrijving. Schrijf een SQL-query die zoekt naar pizza’s waarin het woord "shoarma" voorkomt.



</td><td width="35%">
<table border="1" cellpadding="4" cellspacing="0">

  </tbody>
</table>



</td></tr></table>

### Afsluitende Opdracht 6.12.5

<table width="100%"><tr><td style="text-align:left; vertical-align:top; font-size:1.25rem;" width="65%">
Een klant heeft een nieuwe bestelling geplaatst:
<ul>
<li>De klant met klantnummer 3
<li>Bestelt pizza met pizzacode 8
<li>Bezorgd door bezorger 2
</ul>

Schrijf een reeks SQL-queries om:
<ol type="a">
<li>Een nieuwe bestelling toe te voegen (vul NULL in voor de bestelcode).
<li>De bestelde pizza toe te voegen aan besteldePizza.
</ol>
</td><td width="35%">
<table border="1" cellpadding="4" cellspacing="0">

  </tbody>
</table>



</td></tr></table>