
## 4.8: MAX() â€“ Hoogste waarde


<p><code>MAX(kolomnaam)</code> geeft de <b>hoogste waarde</b> (maximum) in een kolom terug. Deze gebruik je na de SELECT.</p>


<table width="100%"><tr><td style="text-align:left; vertical-align:top; font-size:1.25rem;" width="65%">

Bijvoorbeeld, de duurste pizza:

```sql
SELECT MAX(basisprijs) AS duurste_pizza
FROM pizza;
```

</td><td width="35%">
  
<table border="1">
  <thead>
    <tr>
      <th>duurste_pizza</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>10.5</td>
    </tr>
  </tbody>
</table>

</td></tr></table>

### Verwerkingsopdracht 4.8.1 Duurste bodem

<table width="100%"><tr><td style="text-align:left; vertical-align:top; font-size:1.25rem;" width="65%">
Wat is de hoogste <b>plusprijs</b> voor een pizzabodem? Gebruik de tabel <i>bodem</i> Maak het overzicht zoals hiernaast.

</td><td width="35%">
    <table border="1">
  <thead>
    <tr>
      <th>hoogste_toeslag</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
    </tr>
  </tbody>
</table>

</td></tr></table>