<!-- # ONDERWERP 2: SQL SELECT FROM -->

# 2.1: SQL


<p>SQL staat voor <i>Structured Query Language</i>. Het is de standaardtaal
om data in een database op te slaan, te bewerken en op te halen. Zo’n verzoek
aan de database noem je een <b>query</b>, wat ‘vraag’ betekent in
het Engels.</p>



<p>Als je een query schrijft, stel je dus eigenlijk een vraag aan de
database. Bijvoorbeeld: “Welke klanten wonen in Amsterdam?”. Met SQL haal je gegevens uit bestaande tabellen en maak je een overzicht hiervan.</p>


<img
src="https://raw.githubusercontent.com/rweeda/PythonIA/main/sql/img/H1_DbaseToTabel.png"
alt="Gegevens uit een database halen met SQL" width="300">



<p>In deze cursus leer je hoe je SQL gebruikt binnen <b>SQLite</b> — een
eenvoudige, lichtgewicht databasesysteem. We beginnen met leren hoe je
informatie kunt ophalen. Daarna leer je ook hoe je gegevens kunt opslaan,
aanpassen en verwijderen. Tot slot ga je zelfs je eigen tabellen
aanmaken.</p>




<p>Bij de volgende opgaven maken we gebruik van de database van Danilo's
pizzeria. Hieronder zie je hoe de tabel <code>pizza</code> eruitziet met de
gegevens van een aantal pizza’s erin.</p>

<!--De afbeelding hieronder toont de kolommen van tabel <i>pizza</i>:

<p><img
src="https://raw.githubusercontent.com/rweeda/PythonIA/main/sql/img/ERD_pizza.png"
alt="Tabel pizza" width="300"></p>


-->

<!--
<p><img
src="https://raw.githubusercontent.com/rweeda/PythonIA/main/sql/img/H1_tabel_pizza.png"
alt="Tabel pizza" width="800"></p>
-->

<table border="1">
  <thead>
    <tr>
      <th>pizzacode</th>
      <th>naam</th>
      <th>omschrijving</th>
      <th>basisprijs</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Margherita</td>
      <td>Tomaat,kaas en oregano</td>
      <td>6</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Napoletana</td>
      <td>Tomaat, kaas, ansjovis, olijven, kappertjes en oregano</td>
      <td>7.5</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Prosciutto</td>
      <td>Tomaat, kaas, ham en oregano</td>
      <td>7.5</td>
    </tr>
    <tr>
      <td>4</td>
      <td>Funghi</td>
      <td>Tomaat, kaas, champignons en oregano</td>
      <td>7.5</td>
    </tr>
    <tr>
      <td>5</td>
      <td>Salame</td>
      <td>Tomaat, kaas, salami en oregano</td>
      <td>7.5</td>
    </tr>
    <tr>
      <td>6</td>
      <td>Cippola</td>
      <td>Tomaat, kaas, uien en oregano</td>
      <td>6.5</td>
    </tr>
    <tr>
      <td>7</td>
      <td>Borromea</td>
      <td>Tomaat, kaas, ham, champignons en oregano</td>
      <td>7.5</td>
    </tr>
  </tbody>
</table>



<!-- | pizzacode | naam                  | omschrijving
| basisprijs |
|-----------|-----------------------|---------------------------------------------------------------------------|------------|
| 1         | Margherita            | Tomaat,kaas en oregano
| 6.0        | | 2         | Napoletana            | Tomaat, kaas, ansjovis,
olijven, kappertjes en oregano                   | 7.5        | | 3         |
Prosciutto            | Tomaat, kaas, ham en oregano
| 7.5        | | 4         | Funghi                | Tomaat, kaas,
champignons en oregano                                     | 7.5        | |
...       | ...                   | ...
| ...        | | 36        | Combinazione          | Eigen keuze pizza
| 10.5       |

-->


<p>Met een query kun je gegevens uit een tabel ophalen. Met SELECT kies je de kolommen die je wilt zien. Met FROM geef je
aan uit welke tabel de informatie komt. Hoe dat werkt leer je in dit onderwerp.</p>