## 2.5: Voorwaarden met de WHERE

<p>Met WHERE kun je beperken welke rijen getoond moet worden. Met WHERE kun je een voorwaarde aangeven, bijvoorbeeld: ’waarbij de informatie voldoet aan ...’</p>

<p>Je geeft altijd eerst een SELECT op voor de gegevens die opgehaald moeten worden, dan met FROM de tabel waaruit de gegevens moeten komen, en met WHERE welke beperking er is.</p>


Bijvoorbeeld, met de volgende query tonen we alle pizza's die precies 8 euro kosten:
```SQL
SELECT *
FROM pizza
WHERE basisprijs=8
```

| pizzacode | naam           | omschrijving                                                             | basisprijs |
|-----------|----------------|----------------------------------------------------------------------------|------------|
| 10        | Capricciosa    | Tomaat, kaas, ham, champignons, paprika, artisjokken en oregano          | 8.0        |
| 11        | Primavera      | Tomaat, kaas, ham, salami en oregano                                     | 8.0        |
| 12        | Venezia        | Tomaat, kaas, ham, champignons, ananas en oregano                        | 8.0        |
| ...       | ...            | ...                                                                      | 8.0        |
| 30        | Romana         | Tomaat, kaas, spek, uien, champignons, ei en oregano                     | 8.0        |



<p>Bijvoorbeeld, met de volgende query tonen we alle pizza's die precies 8 euro kosten:</p>

```SQL
SELECT *
FROM pizza
WHERE basisprijs=8
```


| pizzacode | naam           | omschrijving                                                             | basisprijs |
|-----------|----------------|----------------------------------------------------------------------------|------------|
| 10        | Capricciosa    | Tomaat, kaas, ham, champignons, paprika, artisjokken en oregano          | 8.0        |
| 11        | Primavera      | Tomaat, kaas, ham, salami en oregano                                     | 8.0        |
| 12        | Venezia        | Tomaat, kaas, ham, champignons, ananas en oregano                        | 8.0        |
| ...       | ...            | ...                                                                      | 8.0        |
| 30        | Romana         | Tomaat, kaas, spek, uien, champignons, ei en oregano                     | 8.0        |




### Opdracht 2.4: Omschrijving van een Inferno pizza
Schrijf een query om de omschrijving van de pizza 'Inferno' te tonen, zoals in het voorbeeld hieronder.

| omschrijving |
|--------------|
| Tomaat, kaas, ham, spaanse peper, kappertjes, salami, olijven en oregano  |

<p>Bekijk <a href="https://rweeda.github.io/PythonIA/docs/IA_sql_oplossingen.html#opgave24" target="_blank">hier</a> de voorbeelduitwerking.</p>

<!-- ANTWOORD:
<pre><code class="language-sql">
ANTWOORD:
SELECT omschrijving
FROM pizza
WHERE naam='Inferno'
</code></pre>
-->