### Afsluitende Opdracht 3.17.5 Klanten buiten Enschede met 06-nummer
<table width="100%"><tr><td style="text-align:left; vertical-align:top; font-size:1.25rem;" width="35%">

Tel het aantal klanten die een mobiel nummer (06) hebben maar <b>niet</b> in Enschede wonen. Noem de kolom zoals in het voorbeeld hiernaast.
</td><td width="65%">
<table border="1">
  <thead>
    <tr>
      <th>aantal_klanten</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>25</td>
    </tr>
  </tbody>
</table>
</td></tr></table>


<p>Bekijk <a href="https://rweeda.github.io/PythonIA/docs/IA_sql_oplossingen.html#opgave3175" target="_blank">hier</a> de voorbeelduitwerking.</p>
<!-- ANTWOORD:
<pre><code class="language-sql">
SELECT COUNT(*) AS aantal_klanten
FROM klant
WHERE telefoon LIKE '06%' 
  AND woonplaats <> 'Enschede';
</code></pre>
Ook goed:
<pre><code class="language-sql">
SELECT COUNT(*) AS aantal_klanten
FROM klant
WHERE telefoon LIKE '06%' 
  AND NOT woonplaats = 'Enschede';
</code></pre>
-->

### Afsluitende Opdracht 3.17.8 Totaal aantal bestelde pizza's
<table width="100%"><tr><td style="text-align:left; vertical-align:top; font-size:1.25rem;" width="35%">
Toon het totaal aantal bestelde pizza's, zoals hiernaast. De gegevens komen uit tabel <i>besteldePizza</i>.

</td><td width="65%">
<table border="1">
  <thead>
    <tr>
      <th>aantal_bestelde_pizzas</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>9757</td>
    </tr>
  </tbody>
</table>

</td></tr></table>

<p>Bekijk <a href="https://rweeda.github.io/PythonIA/docs/IA_sql_oplossingen.html#opgave3178" target="_blank">hier</a> de voorbeelduitwerking.</p>
<!-- ANTWOORD:
<pre><code class="language-sql">
SELECT SUM(aantal) AS aantal_bestelde_pizzas
FROM besteldePizza
</code></pre>
-->