
## 7.6: Tabel aanpassen â€“ Kolom toevoegen

<p>Met een <code>ALTER TABLE</code>-query kun je de structuur van een bestaande tabel aanpassen, bijvoorbeeld door een kolom toe te voegen.</p>

<pre><code class="language-sql">
ALTER TABLE tabelnaam
ADD kolomnaam datatype;
</code></pre>

<ul>
  <li>Achter <code>ALTER TABLE</code> geef je de naam van de tabel op.</li>
  <li>Met <code>ADD</code> voeg je een kolom toe, gevolgd door de naam en het datatype.</li>
</ul>

<p>Voorbeeld: deze query voegt een kolom <b>email</b> toe aan de tabel <i>bezorger</i>:</p>

<pre><code class="language-sql">
ALTER TABLE bezorger
ADD email TEXT;
</code></pre>


### Verwerkingsopdracht 7.6.1 Kolom geboortedatum toevoegen

Voeg de kolom <b>geboortedatum</b> toe aan tabel <i>klant</i>. Bedenk daarbij welk datatype in SQLite gebruikt wordt voor geboortedatum: TEXT, INT of REAL. Controleer dan met SELECT * of het gelukt is.


<p>Bekijk <a
href="https://rweeda.github.io/PythonIA/docs/IA_sql_oplossingen.html#opgave761"
target="_blank">hier</a> de voorbeelduitwerking.</p>

<!--
<pre><code class="language-sql">
ALTER TABLE klant
ADD geboortedatum TEXT;
</code></pre>
-->