### 5.4: Samenvatting

<ul>
  <li>5.1: Relaties tussen tabellen zijn zichtbaar in een ERD-schema (Entity-Relationship Diagram). Daarbij kun je zien hoe tabellen gekoppeld zijn, dus welke kolommen in verschillende tabellen hetzelfde informatie bevatten. Voorbeeld: kolom <em>pizzacode</em> uit tabel <em>besteldepizza</em> en kolom <em>pizzacode</em> uit tabel <em>pizza</em>:<br>
<img src="https://raw.githubusercontent.com/rweeda/PythonIA/main/sql/img/KoppelingTabellenBesteldepizzaPizza.png" alt="Tabellen met zelfde kolommen" width="500">

  
  </li>
  <li>5.2: Met een JOIN is het mogelijk om betekenisvolle combinaties van data uit verschillende tabellen te maken, zoals klantgegevens met bezorger, of pizza met formaat en bodem. Voorbeeld: toon de naam van elke bestelde pizza:
  
  ```SQL 
  SELECT besteldePizza.besteldepizzacode, pizza.naam
  FROM besteldePizza
  JOIN pizza ON besteldePizza.pizzacode = pizza.pizzacode;
  ```
</li>

  <li>5.2: Met <code>tabel.kolom</code> geef je aan uit welke tabel een kolom komt.</li>
  
<li>5.3: Je kunt meerdere tabellen aan elkaar koppelen via meerdere <code>JOIN</code>s. Voorbeeld: toon de naam van de klant en de pizza die hij/zij bestelde:

```sql
SELECT klant.naam, pizza.naam
FROM klant
JOIN bestelling ON klant.klantnummer = bestelling.klantnummer
JOIN besteldePizza ON bestelling.bestelcode = besteldePizza.bestelcode
JOIN pizza ON besteldePizza.pizzacode = pizza.pizzacode;
```
</li>


</ul>