In [ ]:
SELECT naam, basisprijs
FROM Pizza;

Even een testhe hier