## 2.9: Nette code 

<p>Net als andere programmeertalen, zijn er afspraken om
nette en leesbare queries te schrijven.</p>



<ol> 
<li>Schrijf de SQL-opdrachten altijd met HOOFDLETTERS. 
<li>Schrijf elke opdracht op een nieuwe regel;
<li>Als je meerdere items achter een SELECT of FROM opdracht hebt staan dan moet je deze scheiden met een komma;
<li>Gebruik spaties om de leesbaarheid tussen items te vergroten;
<li>Schrijf met <code>--</code> commentaar in je query om uit te leggen wat je doet (vooral bij WHERE en GROUP BY);
<li>Sluit een query af met een puntkomma <code>;</code>.
</ol>

Hieronder een voorbeeld van nette code: 

```SQL
SELECT naam, basisprijs FROM
pizza -- Alleen pizza's bekijken die goedkoper zijn dan 10 euro -- EN duurder
dan 8 euro 50 WHERE basisprijs <= 10 AND basisprijs >= 8.50;
```

### Opdracht 2.9.1 Query netjes opschrijven 

De query hieronder is niet zo netjes opgeschreven.
<ol style="list-style-type: lower-alpha"> 
<li>Voer de
onderstaande query uit, dan zul je zien dat de query het gewoon doet. Bekijk
de uitkomst. 
<li>Pas deze query aan zodat hij voldoet aan alle voorwaarden
van nette code. 
<li>Voeg bij elke regel commentaar toe om aan te geven voor
welk voorwaarde je het hebt aangepast. 
</ol>

In [ ]:
select naam,basisprijs From pizza wHERe basisprijs<8

<p>Bekijk <a
href="https://rweeda.github.io/PythonIA/docs/IA_sql_oplossingen.html#opgave31"
target="_blank">hier</a> de voorbeelduitwerking.</p>

<!--ANTWOORD -- (1) SQL commando in hoofdletters, (4) spatie na de komma
SELECT naam, basisprijs -- (2) Elke SQL commando op een nieuwe regel (en in
hoofdletters) FROM pizza -- (4) spaties in de voorwaarde zodat het beter
leesbaar is -- (6) en afsluiten met een ; (maar dat hoeft niet) WHERE
basisprijs < 8; -->