## 7.8: Tabel aanpassen â€“ Tabel hernoemen

<p>Met <code>ALTER TABLE ... RENAME TO</code> geef je een bestaande tabel een nieuwe naam.</p>

<pre><code class="language-sql">
ALTER TABLE oude_tabelnaam
RENAME TO nieuwe_tabelnaam;
</code></pre>

<ul>
  <li>Achter <code>ALTER TABLE</code> geef je de oude tabelnaam op.</li>
  <li>Met <code>RENAME TO</code> geef je de nieuwe naam.</li>
</ul>

<p>Voorbeeld: hernoem tabel <i>bezorger</i> naar <i>medewerker</i>:</p>

<pre><code class="language-sql">
ALTER TABLE bezorger
RENAME TO medewerker;
</code></pre>


### Verwerkingsopdracht 7.8.1 Tabel hernoemen naar grootte
<p>Hernoem de tabel <i>formaat</i> naar <i>grootte</i>.</p>

In [ ]:
SELECT *
FROM grootte;

<p>Bekijk de <a href="https://rweeda.github.io/PythonIA/docs/IA_sql_oplossingen.html#opgave781" target="_blank">voorbeelduitwerking</a>.</p>
<!--
<pre><code class="language-sql">
ALTER TABLE formaat
RENAME TO grootte;
</code></pre>
-->