


## 7.7: Tabel aanpassen â€“ Kolom hernoemen

<p>Met ALTER TABLE ... RENAME COLUMN kun je een bestaande kolom een nieuwe naam geven.</p>
<pre><code class="language-sql">
ALTER TABLE tabelnaam
RENAME COLUMN oude_kolomnaam TO nieuwe_kolomnaam;
</code></pre>

<ul>
  <li>Geef eerst de naam van de tabel op.</li>
  <li>Gebruik daarna RENAME COLUMN om de kolom te hernoemen.</li>
</ul>

<p>Voorbeeld: hernoem de kolom <b>plusprijs</b> naar <b>toeslag</b> in de tabel <i>bodem</i>:</p>
<pre><code class="language-sql">
ALTER TABLE bodem
RENAME COLUMN plusprijs TO toeslag;
</code></pre>


### Verwerkingsopdracht 7.7.1 Kolom hernoemen naar klantnaam

<p>Hernoem de kolom <b>naam</b> naar <b>klantnaam</b> in de tabel <i>klant</i>.</p>

In [ ]:
SELECT *
FROM klant;

<p>Bekijk de <a href="https://rweeda.github.io/PythonIA/docs/IA_sql_oplossingen.html#opgave771" target="_blank">voorbeelduitwerking</a>.</p>

<!--
<pre><code class="language-sql">
ALTER TABLE klant
RENAME COLUMN naam TO klantnaam;
</code></pre>
-->