## 4.6: COUNT() – Aantal rijen tellen

<p>`COUNT(kolomnaam)` telt <b>het aantal rijen</b> in een kolom van een tabel. Deze gebruik je na de SELECT, en tussen haakjes geef je een kolomnaam op. Er worden alleen de rijen geteld waarin een waarde staat.</p>

<table width="100%"><tr><td style="text-align:left; vertical-align:top; font-size:1.25rem;" width="65%">
Bijvoorbeeld, voor het telen van het aantal bestelling die zijn geplaatst:

```sql
SELECT COUNT(bestelcode)
FROM bestelling;
```
</td><td width="35%">
<table border="1">
  <thead>
    <tr>
      <th>COUNT(bestelcode)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1472</td>
    </tr>
  </tbody>
</table>

</td></tr></table>

Er is een verschil tussen COUNT(*) en COUNT(kolomnaam):
<ul>
<li>COUNT(*) telt alle rijen, ook als er NULL-waarden in staan. Zoals we bij <a href="https://moodle.informatica-actief.nl/mod/url/view.php?id=84029">Onderwerp 1.4</a> geleerd hebben: bij NULL is de waarde onbekend of niet ingevuld;
<li>COUNT(kolomnaam) telt alleen de rijen waar die kolom een waarde heeft (dus géén NULL).
</ul>

Voorbeeld. In het tabel hieronder geeft 
<ul>
<li>COUNT(*) geeft 3, alle rijen worden meegeteld want er zijn 3 klanten;
<li>COUNT(telefoon) geeft 2, omdat er 2 telefoonnummers bekend zijn.
</ul>

<table border="1">
  <thead>
    <tr>
      <th>klantnummer</th>
      <th>naam</th>
      <th>telefoon</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>101</td>
      <td>Hanneke Bolier</td>
      <td>06-16915427</td>
    </tr>
    <tr>
      <td>103</td>
      <td>Erika de Vries</td>
      <td>NULL</td>
    </tr>
    <tr>
      <td>104</td>
      <td>Nelleke op den Brouw</td>
      <td>035-6014464</td>
    </tr>
  </tbody>
</table>



### Verwerkingsopdracht 4.6.1 Bestelde pizza's tellen

<table width="100%"><tr><td style="text-align:left; vertical-align:top; font-size:1.25rem;" width="65%">
Hoeveel pizza's zijn er besteld? Tel hiervoor het aantal bestelde pizza's die in de tabel <i>besteldePizza</i> staan. Maak het overzicht zoals hiernaast.
</td><td width="35%">
    <table border="1">
  <thead>
    <tr>
      <th>aantal_bestelde_pizzas</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>5833</td>
    </tr>
  </tbody>
</table>

</td></tr></table>