## 2.11: Samenvatting

<ul>
<li><b>SQL</b> staat voor Structured Query Language. Het is de standaardtaal om gegevens in een database op te slaan, te bewerken en op te vragen;
<li>Een <b>query</b> is een vraag aan de database, bijvoorbeeld: "Welke pizzaâ€™s kosten minder dan 8 euro?";
<li>Een query levert een overzicht op met een deel van de data uit de database;
<li>Met SELECT kan je kolommen uit een tabel opvragen en weergeven;
<li>Na SELECT gebruikt je '*' om een overzicht van alle kolomen uit een tabel te krijgen;
<li>Je kunt een kolomnaam in een overzicht hernoemen met `AS`. 
</ul>