## 2.3: Meerdere kolommen uit een tabel halen

Je kunt ook een meerdere kolommen ophalen. Dat doe je als volgt:

```sql
SELECT kolom1, kolom2, ... 
FROM tabelnaam;
```

### Verwerkingsopdracht 2.3.1 Menu printen
<table width="100%">
 <tr><td style="text-align:left; vertical-align:top; font-size:1.25rem;" width="65%">
Maak een menu zoals hiernaast, door de <b>naam</b> en <b>basisprijs</b> van elk pizza uit het tabel <i>pizza</i> te halen.
    </td>
    <td width="35%">
      <table border="1">
        <thead>
          <tr>
            <th>naam</th>
            <th>basisprijs</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Margherita</td>
            <td>6.0</td>
          </tr>
          <tr>
            <td>Napoletana</td>
            <td>7.5</td>
          </tr>
          <tr>
            <td>Prosciutto</td>
            <td>7.5</td>
          </tr>
          <tr>
            <td>Funghi</td>
            <td>7.5</td>
          </tr>
          <tr>
            <td>...</td>
            <td>...</td>
          </tr>
          <tr>
            <td>Combinazione</td>
            <td>10.5</td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
</table>


<p>Bekijk <a
href="https://rweeda.github.io/PythonIA/docs/IA_sql_oplossingen.html#opgave231"
target="_blank">hier</a> de voorbeelduitwerking.</p>
 <!-- ANTWOORD:
<pre><code class="language-sql"> SELECT pizzanaam, omschrijving, basisprijs
FROM pizza; </code></pre> -->