## 6.8: Tabel aanpassen â€“ Tabel hernoemen

<p>Met <code>ALTER TABLE ... RENAME TO</code> geef je een bestaande tabel een nieuwe naam. Dit past de naam van een bestaande tabel aan zonder dat je de inhoud van de tabel verliest.</p>


<pre><code class="language-sql">ALTER TABLE oude_tabelnaam
RENAME TO nieuwe_tabelnaam;
</code></pre>
</p>
Toelichting:
<ul>
  <li>Achter ALTER TABLE geef je de oude tabelnaam op.</li>
  <li>Met RENAME TO geef je de nieuwe naam.</li>
  
</ul>

<hr>
<p><b>Voorbeeld</b>. Deze query hernoemt tabel <i>bezorger</i> naar <i>medewerker</i>:</p>

<pre><code class="language-sql">ALTER TABLE bezorger
RENAME TO medewerker;
</code></pre>


### Verwerkingsopdracht 6.8.1 Tabel hernoemen naar grootte
<p>Hernoem de tabel <i>formaat</i> naar <i>grootte</i>. Controleer daarna of het gelukt is.</p>

In [ ]:
-- hernoem de tabel

In [ ]:
-- controleer of de aanpassing gelukt is
SELECT *
FROM grootte;