## 6.12: Samenvatting


<ul>
<li>6.1: <strong>Gegevens toevoegen met <code>INSERT INTO ... VALUES (...)</code></strong>
        <ul>
        <li>Voorbeeld: voeg een nieuwe pizza toe <code>INSERT INTO pizza VALUES (NULL, 'Pizza Hawaii', 'Ham en ananas', 8.50);</code></li>
        <li>Bij tabellen met een <code>AUTOINCREMENT</code>-kolom gebruik je achter <code>VALUES</code> een <code>NULL</code> om automatisch te laten nummeren.</li>
        <li>De volgorde van waarden bij moet overeenkomen met de kolomvolgorde van de tabel.</li>
        <li>Tekstwaarden zet je tussen aanhalingstekens, getallen niet.</li>
        </ul>


  <li>6.2: <strong>Gegevens verwijderen met <code>DELETE FROM ... WHERE ...</code></strong>
    <ul>
      <li>Voorbeeld: verwijder een pizza met code 1 <code>DELETE FROM pizza WHERE pizzacode = 1;</code></li>
      <li>Zonder <code>WHERE</code> worden alle rijen in de tabel verwijderd!</li>
      <li>Gebruik bij voorkeur de <code>primary key</code> als voorwaarde.</li>
    </ul>
  </li>

  <li>6.3: <strong>Gegevens aanpassen met <code>UPDATE ... SET ... WHERE ...</code></strong>
    <ul>
      <li>Voorbeeld: wijzig de naam van een pizza <code>UPDATE pizza SET naam = "Hawaii" WHERE pizzacode = 1;</code></li>
      <li>Zorg altijd voor een <code>WHERE</code>-clausule, anders worden alle rijen aangepast.</li>
      <li>Meerdere kolommen aanpassen kan tegelijk, gescheiden door kommaâ€™s.</li>
    </ul>
  </li>

  <li>6.4: <strong>Nieuwe tabellen maken met <code>CREATE TABLE</code></strong>
    <ul>
      <li>Voorbeeld: maak een pizzatabel aan<br>
        <code>CREATE TABLE pizza (pizzacode INTEGER PRIMARY KEY AUTOINCREMENT, naam TEXT, omschrijving TEXT, basisprijs REAL);</code></li>
      <li>Elke kolom krijgt een datatype zoals <code>TEXT</code>, <code>INTEGER</code> of <code>REAL</code>.</li>
      <li>Een <code>PRIMARY KEY AUTOINCREMENT</code> zorgt voor automatisch oplopende unieke waarden.</li>
    </ul>
  </li>

  <li>6.5: <strong>Een tabel verwijderen met <code>DROP TABLE</code></strong>
    <ul>
      <li>Voorbeeld: <code>DROP TABLE kortingsbon;</code></li>
      <li>De hele tabel en alle gegevens worden verwijderd en dit kan niet ongedaan worden gemaakt.</li>
      <li>Gebruik dit alleen als je zeker weet dat je de tabel niet meer nodig hebt.</li>
    </ul>
  </li>

  <li>6.6: <strong>Een kolom toevoegen met <code>ALTER TABLE ... ADD</code></strong>
    <ul>
      <li>Voorbeeld: <code>ALTER TABLE bezorger ADD email TEXT;</code></li>
      <li>Voeg aan een bestaande tabel een nieuwe kolom toe met de naam en het datatype.</li>
      <li>Let op: bestaande rijen krijgen automatisch lege waarden (NULL) in de nieuwe kolom.</li>
    </ul>
  </li>

  <li>6.7: <strong>Een kolom hernoemen met <code>ALTER TABLE ... RENAME COLUMN</code></strong>
    <ul>
      <li>Voorbeeld: <code>ALTER TABLE bodem RENAME COLUMN plusprijs TO toeslag;</code></li>
      <li>Gebruik dit als je kolomnamen duidelijker of consistenter wilt maken.</li>
    </ul>
  </li>

  <li>6.8: <strong>Een tabel hernoemen met <code>ALTER TABLE ... RENAME TO</code></strong>
    <ul>
      <li>Voorbeeld: <code>ALTER TABLE bezorger RENAME TO medewerker;</code></li>
      <li>Pas de naam van een bestaande tabel aan zonder dat je de inhoud verliest.</li>
    </ul>
  </li>

  <li>6.10: <strong>Tabellen koppelen met een foreign key</strong>
    <ul>
      <li>Een <code>foreign key</code> is een verwijzing van een kolom in de ene tabel naar de <code>primary key</code> van een andere tabel.</li>
      <li>Voorbeeld: <code>FOREIGN KEY (boncode) REFERENCES kortingsbonnen(boncode)</code> in de tabel <i>bestelling</i>.</li>
      <li>Dit zorgt voor dataverificatie: je kunt alleen een waarde invoeren die bestaat in de gekoppelde tabel.</li>
    </ul>
  </li>

  <li>6.11: <strong>Een foreign key aanmaken in een nieuwe tabel</strong>
    <ul>
      <li>Voorbeeld:<br>
        <code>
          CREATE TABLE besteldePizza (<br>
          &nbsp;&nbsp;bestelcode INTEGER,<br>
          &nbsp;&nbsp;FOREIGN KEY (bestelcode) REFERENCES bestelling(bestelcode)<br>
          );
        </code>
      </li>
      <li>Een foreign key moet direct worden opgenomen bij het maken van een nieuwe tabel in SQLite.</li>
      <li>De foreign key verwijst naar een bestaande <code>PRIMARY KEY</code> in een andere tabel.</li>
      <li>Let op: je kunt in SQLite geen foreign key toevoegen aan een al bestaande tabel.</li>
    </ul>
  </li>
</ul>