
## 3.9: Meerdere logische operatoren combineren
Je kunt meerdere operatoren combineren. Als je verschillende AND, OR en NOT combineert moet je gebruik maken van haakjes voor de gewenste uitkomst.


<table width="100%"><tr><td style="text-align:left; vertical-align:top; font-size:1.25rem;" width="35%">
Bijvoorbeeld, met de volgende query tonen we de pizza's die tussen de €8,50 <b>en</b> €10,- kosten, <b>of</b> pizza's die geen <b>salami</b> bevatten:
```SQL
SELECT naam, omschrijving, basisprijs
FROM pizza
WHERE (basisprijs>=8.50 AND basisprijs<=10) OR NOT omschrijving LIKE '%salami%';
```
</td><td width="65%">
<table border="1">
  <thead>
    <tr>
      <th>naam</th>
      <th>omschrijving</th>
      <th>basisprijs</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>Margherita</td><td>Tomaat,kaas en oregano</td><td>6.0</td></tr>
    <tr><td>Napoletana</td><td>Tomaat, kaas, ansjovis, olijven, kappertjes en oregano</td><td>7.5</td></tr>
    <tr><td>Prosciutto</td><td>Tomaat, kaas, ham en oregano</td><td>7.5</td></tr>
    <tr><td>Funghi</td><td>Tomaat, kaas, champignons en oregano</td><td>7.5</td></tr>
    <tr><td>...</td><td>...</td><td>...</td></tr>
  </tbody>
</table>

</td></tr></table>


### Verwerkingsopdracht opdracht 3.9.1 Alle pizza's zonder paprika en zonder ui


<table width="100%"><tr><td style="text-align:left; vertical-align:top; font-size:1.25rem;" width="35%">

Luna wil een overzicht van alle pizza's waar <b>geen</b> paprika op zit, maar ook geen <b>ui</b>. 
Ze schrijft daarvoor de volgende query, maar er zitten een paar fouten in. Kan jij het aanpassen zodat de juiste overzicht gegeven wordt, zoals hiernaast?<b>



Tip: Gebruik eventueel commentaar '--' om een deel van je code te verbergen zodat je kunt kijken welke delen wel en niet goed werken.
</td><td width="65%">
   | naam        | omschrijving                                                       |
|-------------|---------------------------------------------------------------------|
| Margherita  | Tomaat, kaas en oregano                                            |
| Napoletana  | Tomaat, kaas, ansjovis, olijven, kappertjes en oregano            |
| Prosciutto  | Tomaat, kaas, ham en oregano                                       |
| Funghi      | Tomaat, kaas, champignons en oregano                               |
| Salame      | Tomaat, kaas, salami en oregano                                    |
 
</td></tr></table>

In [ ]:
SELECT naam, omschrijving
FROM pizza
WHERE omschrijving NOT LIKE 'paprika' OR 'uien';


<p>Bekijk <a href="https://rweeda.github.io/PythonIA/docs/IA_sql_oplossingen.html#opgave391" target="_blank">hier</a> de voorbeelduitwerking.</p>
<!-- ANTWOORD:
				<pre><code class="language-sql">
SELECT naam, omschrijving
FROM pizza
WHERE NOT (omschrijving LIKE '%paprika%' OR omschrijving LIKE '%ui%');
</code></pre>																								
Ook goed:							   
<pre><code class="language-sql">
SELECT naam, omschrijving
FROM pizza
WHERE omschrijving NOT LIKE '%paprika%' AND omschrijving NOT LIKE '%ui%';
</code></pre>
-->

### Verwerkingsopdracht 3.9.2 Toon pizza's die voldoen aan meerdere voorwaarden
<table width="100%"><tr><td style="text-align:left; vertical-align:top; font-size:1.25rem;" width="35%">
Toon alle pizza's die minder dan €7,50 kosten, <b>en</b> met de letter 'M' beginnen <b>of</b> letter 'A' eindigen. 

</td><td width="65%">
    <table border="1">
  <thead>
    <tr>
      <th>pizzacode</th>
      <th>naam</th>
      <th>omschrijving</th>
      <th>basisprijs</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Margherita</td>
      <td>Tomaat,kaas en oregano</td>
      <td>6</td>
    </tr>
    <tr>
      <td>6</td>
      <td>Cippola</td>
      <td>Tomaat, kaas, uien en oregano</td>
      <td>6.5</td>
    </tr>
  </tbody>
</table>

</td></tr></table>


<p>Bekijk <a href="https://rweeda.github.io/PythonIA/docs/IA_sql_oplossingen.html#opgave392" target="_blank">hier</a> de voorbeelduitwerking.</p>
<!-- ANTWOORD:
<pre><code class="language-sql">
SELECT *
FROM pizza
WHERE basisprijs < 7.5 AND (naam LIKE 'M%' OR naam LIKE '%A');
</code></pre>
-->