

## 4.9: SUM() – Totaal optellen

<p>Met <code>SUM(kolomnaam)</code> tel je <b>alle waarden in een kolom bij elkaar op</b>. Deze gebruik je na de SELECT.</p> 


<table width="100%"><tr><td style="text-align:left; vertical-align:top; font-size:1.25rem;" width="65%">

Bijvoorbeeld, als je wilt weten hoeveel het kost om van elke pizza één te bestellen, tel je de prijzen van alle pizza’s bij elkaar op:

```sql
SELECT SUM(basisprijs) AS totaal_waarde
FROM pizza;
```
</td><td width="35%">

<table border="1">
  <thead>
    <tr>
      <th>totaal_waarde</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>293.5</td>
    </tr>
  </tbody>
</table>

</td></tr></table>



### Verwerkingsopdracht 4.9.1 Totaal van alle kortingen

<table width="100%"><tr><td style="text-align:left; vertical-align:top; font-size:1.25rem;" width="65%">
Bereken de totale korting van alle bestellingen in de tabel <i>bestelling</i>. Maak een overzicht zoals hiernaast.

</td><td width="35%">
    <table border="1">
  <thead>
    <tr>
      <th>totaal_korting</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>40</td>
    </tr>
  </tbody>
</table>

</td></tr></table>



<p>Bekijk <a
href="https://rweeda.github.io/PythonIA/docs/IA_sql_oplossingen.html#opgave491"
target="_blank">hier</a> de voorbeelduitwerking.</p>
 <!-- ANTWOORD:
<pre><code class="language-sql"> 
SELECT SUM(korting) AS totaal_korting
FROM bestelling;
</code></pre>
-->