
## 3.2: Aantal rijen beperken met <code>LIMIT</code>
<p>Met LIMIT kun je bepalen hoeveel rijen er getoond moeten worden.</p>
```SQL
SELECT kolomnaam
FROM tabel
LIMIT aantal_rijen;
```

<table width="100%">
 <tr><td style="text-align:left; vertical-align:top; font-size:1.25rem;" width="35%">
<p>Met de volgende code toon je alleen de eerste vijf rijen:</p>
```SQL
SELECT *
FROM pizza
LIMIT 5;
```
    </td>
    <td width="65%">
<table border="1">
  <thead>
    <tr>
      <th>pizzacode</th>
      <th>naam</th>
      <th>omschrijving</th>
      <th>basisprijs</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Margherita</td>
      <td>Tomaat,kaas en oregano</td>
      <td>6</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Napoletana</td>
      <td>Tomaat, kaas, ansjovis, olijven, kappertjes en oregano</td>
      <td>7.5</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Prosciutto</td>
      <td>Tomaat, kaas, ham en oregano</td>
      <td>7.5</td>
    </tr>
    <tr>
      <td>4</td>
      <td>Funghi</td>
      <td>Tomaat, kaas, champignons en oregano</td>
      <td>7.5</td>
    </tr>
    <tr>
      <td>5</td>
      <td>Salame</td>
      <td>Tomaat, kaas, salami en oregano</td>
      <td>7.5</td>
    </tr>
  </tbody>
</table>
    </td>
  </tr>
</table>


### Verwerkingsopdracht 3.2.1 Alleen de eerste drie pizza's
<table width="100%">
 <tr><td style="text-align:left; vertical-align:top; font-size:1.25rem;" width="35%">
Toon de <b>naam</b> en <b>basisprijs</b> van de eerste drie pizza's, zoals in het overzicht hiernaast.
    </td><td width="65%">
    </td>
    <table border="1">
  <thead>
    <tr>
      <th>naam</th>
      <th>basisprijs</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Margherita</td>
      <td>6</td>
    </tr>
    <tr>
      <td>Napoletana</td>
      <td>7.5</td>
    </tr>
    <tr>
      <td>Prosciutto</td>
      <td>7.5</td>
    </tr>
  </tbody>
</table>

  </td></tr>
</table>

<p>Bekijk <a href="https://rweeda.github.io/PythonIA/docs/IA_sql_oplossingen.html#opgave321" target="_blank">hier</a> de voorbeelduitwerking.</p>
<!-- ANTWOORD:
<pre><code class="language-sql">
SELECT naam, basisprijs
FROM pizza
LIMIT 3;
</code></pre>
-->