### 2.4 Alle gegevens van een tabel ophalen

<p>Om alle kolommen op te halen gebruik je na de SELECT een '*'</p>

```SQL 
SELECT * 
FROM tabelnaam;
```

### Opdracht 2.4.1 Alle gegevens van tabel <code>pizza</code> ophalen
<table width="100%">
  <tr><td style="text-align:left; vertical-align:top; font-size:1.25rem;" width="35%">
Toon alle kolommen met gegevens van tabel <code>pizza</code>, zoals in het
voorbeeld hiernaast.
    </td>
    <td width="65%">
      <table border="1">
        <thead>
          <tr>
            <th>naam</th>
            <th>omschrijving</th>
            <th>basisprijs</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Margherita</td>
            <td>Tomaat, kaas en oregano</td>
            <td>6.0</td>
          </tr>
          <tr>
            <td>Napoletana</td>
            <td>Tomaat, kaas, ansjovis, olijven, kappertjes en oregano</td>
            <td>7.5</td>
          </tr>
          <tr>
            <td>Prosciutto</td>
            <td>Tomaat, kaas, ham en oregano</td>
            <td>7.5</td>
          </tr>
          <tr>
            <td>Funghi</td>
            <td>Tomaat, kaas, champignons en oregano</td>
            <td>7.5</td>
          </tr>
          <tr>
            <td>...</td>
            <td>...</td>
            <td>...</td>
          </tr>
          <tr>
            <td>Combinazione</td>
            <td>Eigen keuze pizza</td>
            <td>10.5</td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
</table>

<p>Bekijk <a
href="https://rweeda.github.io/PythonIA/docs/IA_sql_oplossingen.html#opgave241"
target="_blank">hier</a> de voorbeelduitwerking.</p>

<!-- ANTWOORD: <pre><code class="language-sql"> SELECT * FROM pizza;
</code></pre> -->