
##: 5.2 JOIN ...  ON ... - Gegevens uit meerdere tabellen combineren 


<p>Met een JOIN ... ON ... <strong>koppel je de gelijke rijen van twee tabellen aan elkaar</strong>. In het bovenstaande voorbeeld zien we dat <em>pizzacode</em> in zowel tabel <em>besteldepizza</em> voorkomt als in <em>pizza</em>. Achter <em>JOIN</em> geef je aan welke tabellen je combineert, en achter <em>ON</em> geef je aan welke kolommen gelijk moeten zijn.</p>

<p>De <em>.</em>-notatie (bijvoorbeeld <em>tabel.kolom</em>) gebruik je om aan te geven uit welke tabel een kolom komt.</p>

<p>Omdat de kolom <em>pizzacode</em> in beide tabellen voorkomt, geven we met de puntnotatie <em>besteldepizza.pizzacode</em> aan dat het uit tabel <em>besteldepizza</em> komt, en met <em>pizza.pizzacode</em> dat het uit tabel <em>pizza</em> komt.</p>

<table width="100%"><tr><td style="text-align:left; vertical-align:top; font-size:1.25rem;" width="65%">

<p>De query ziet er dus zo uit:</p>

<pre><code class="language-sql">
SELECT besteldepizza.besteldepizzacode, pizza.naam
FROM besteldepizza
JOIN pizza ON besteldepizza.pizzacode = pizza.pizzacode;
</code></pre>
</td><td width="35%">
<p>De uitvoer van deze query is:</p>

<table border="1" cellpadding="4" cellspacing="0">
  <thead>
    <tr>
      <th>besteldepizzacode</th>
      <th>naam</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>1</td><td>Margherita</td></tr>
    <tr><td>2</td><td>Quattro Formaggi</td></tr>
    <tr><td>3</td><td>Salami</td></tr>
  </tbody>
</table>

</td></tr></table>


### Verwerkingsopdracht 5.2.1 Nut van een JOIN
Stel we willen een overzicht van de pizzanaam met de besteldepizzacode.
Waarom is een JOIN nodig in de query hieronder?
<ol type="upper-alpha">
<li>Omdat tabel <i>besteldepizza</i> geen gegevens bevat over pizzacodes.
<li>Omdat je een extra filter op de gegevens wilt toepassen.
<li>Omdat de naam van de pizza niet in tabel <i>besteldepizza</i> staat.
<li>Omdat je gegevens uit dezelfde tabel wilt combineren.
</ol>


<pre><code class="language-sql">
SELECT besteldepizza.besteldepizzacode, pizza.naam
FROM besteldepizza
JOIN pizza ON besteldepizza.pizzacode = pizza.pizzacode;
</code></pre>


### Verwerkingsopdracht 5.2.2 BesteldePizza, besteldatum en bezorgtijd

<table width="100%"><tr><td style="text-align:left; vertical-align:top; font-size:1.25rem;" width="65%">

Maak een overzicht van de <b>besteldepizzacode</b>, en <b>besteldatum</b> en <b>bezorgtijd</b>. De gegevens komen uit tabellen <i>besteldePizza</i> en <i>bestelling</i>. <br>Toon het overzicht zoals hiernaast.


</td><td width="35%">

<table border="1" cellpadding="4" cellspacing="0">
  <thead>
    <tr>
      <th>besteldepizzacode</th>
      <th>bestel_datum</th>
      <th>bezorg_tijd</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>1</td><td>2021-12-01</td><td>18:37:00</td></tr>
    <tr><td>2</td><td>2021-12-01</td><td>18:37:00</td></tr>
    <tr><td>3</td><td>2021-12-01</td><td>18:37:00</td></tr>
    <tr><td>4</td><td>2021-12-01</td><td>18:41:00</td></tr>
    <tr><td>…</td><td>…</td><td>…</td></tr>
    <tr><td>5833</td><td>2022-03-03</td><td>19:50:00</td></tr>
  </tbody>
</table>

</td></tr></table>


### Verwerkingsopdracht 5.2.3 JOIN uitleggen
Schrijf in je eigen woorden wat er gebeurt bij een JOIN. Wat moet er kloppen tussen twee tabellen om een JOIN te kunnen maken?