## 3.4: Logische operator AND 
Je kunt de WHERE voorwaarde ook uitbreiden met de logische operatoren AND, OR, NOT of combinaties daarvan. 

Met <b>AND</b> (in het Nederlands: EN) moet aan <i>alle voorwaarden</i> worden voldaan om een resultaat te krijgen. 



<table width="100%"><tr><td style="text-align:left; vertical-align:top; font-size:1.25rem;" width="35%">
Bijvoorbeeld, met de volgende query tonen we alle klanten die in <b>Enschede</b> wonen en een naam hebben die met <b>'H' begint</b>:

```SQL
SELECT *
FROM klant
WHERE woonplaats = 'Enschede' 
   AND naam LIKE 'H%';
```
</td><td width="65%">
<table border="1">
  <thead>
    <tr>
      <th>klantnummer</th>
      <th>wachtwoord</th>
      <th>naam</th>
      <th>adres</th>
      <th>postcode</th>
      <th>woonplaats</th>
      <th>telefoon</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>101</td>
      <td>uqOpgECQ_</td>
      <td>Hanneke Bolier</td>
      <td>Gladioolstraat 11</td>
      <td>3742TC</td>
      <td>Enschede</td>
      <td>06-16915427</td>
    </tr>
    <tr>
      <td>209</td>
      <td>m1nbsrweOFJ2u5</td>
      <td>Hermina de Pater</td>
      <td>Koekoeksbloemlaan 40</td>
      <td>3742EK</td>
      <td>Enschede</td>
      <td>06-62552908</td>
    </tr>
    <tr>
      <td>221</td>
      <td>Qe4W62f70D_YlHR</td>
      <td>Heleen van Harberden</td>
      <td>Acacialaan 27</td>
      <td>3741WB</td>
      <td>Enschede</td>
      <td>035-8523955</td>
    </tr>
    <tr>
      <td>401</td>
      <td>dJiorsEkNLE</td>
      <td>Henrike Teeuw</td>
      <td>Dahliastraat 17</td>
      <td>3742RK</td>
      <td>Enschede</td>
      <td>035-8294605</td>
    </tr>
  </tbody>
</table>


</td></tr></table>

### Verwerkingsopdracht 3.4.1 Pizza's tussen de 8,50 en 10 euro

<table width="100%"><tr><td style="text-align:left; vertical-align:top; font-size:1.25rem;" width="65%">
Toon alle pizza's die tussen de €8,50 en €10,- kosten, zoals in het overzicht hiernaast.<br><br>
Tip: de basisprijs is groter of gelijk aan 8,50 en kleiner of gelijk aan 10 euro.
</td><td width="35%">
<table border="1">
  <thead>
    <tr>
      <th>naam</th>
      <th>basisprijs</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>Calzone (dichte pizza)</td><td>9.0</td></tr>
    <tr><td>Marinara</td><td>8.5</td></tr>
    <tr><td>Mozzarella</td><td>8.5</td></tr>
    <tr><td>Quattro stragioni</td><td>8.5</td></tr>
    <tr><td>Americana</td><td>8.5</td></tr>
    <tr><td>...</td><td>...</td></tr>
    <tr><td>Specialità di Danilo</td><td>9.5</td></tr>
  </tbody>
</table>


</td></tr></table>


<p>Bekijk <a href="https://rweeda.github.io/PythonIA/docs/IA_sql_oplossingen.html#opgave341" target="_blank">hier</a> de voorbeelduitwerking.</p>
<!-- ANTWOORD:
<pre><code class="language-sql">
SELECT naam, basisprijs
FROM pizza
WHERE basisprijs>=8.50 AND basisprijs<=10;
</code></pre>
-->