## 6.1: Gegevens in een tabel invoeren

<p>Met een <code>INSERT INTO... VALUES (...)</code>-query voeg je nieuwe gegevens toe aan een tabel.</p>

<pre><code class="language-sql">INSERT INTO tabelnaam 
VALUES (waarde1, waarde2, waarde3, ... );
</code></pre>
Toelichting:
<ul>
  <li>Achter <code>INSERT INTO</code> geef je de naam van de tabel aan.</li>
  <li>Achter <code>VALUES</code> geef je tussen haakjes voor elke kolom afzonderlijk de gegevens die ingevuld moeten worden.</li>
</ul>

<p>Bij sommige tabellen wordt voor de primary key gebruikgemaakt van <code>AUTOINCREMENT</code>. Een kolom met <code>AUTOINCREMENT</code> betekent dat de database zelf een oplopend nummer verzint. Bijvoorbeeld: de eerste rij krijgt automatisch nummer 1, de volgende 2, enzovoort. Voor zo'n kolom hoef je dat nummer niet zelf in te vullen — in plaats daarvan geef je <code>NULL</code> op.</p>

<p><strong>Let op:</strong></p>
<ul>
  <li>De volgorde van kolommen en waarden moet overeenkomen.</li>
  <li>Tekst moet tussen aanhalingstekens staan. Bij getallen is dat niet nodig.</li>
  <li>Bij een <code>AUTOINCREMENT</code> geef je <code>NULL</code> op, zodat automatisch wordt genummerd.</li>
</ul>

<hr>
<p><b>Voorbeeld</b></p>

<table width="100%"><tr><td style="text-align:left; vertical-align:top; font-size:1.25rem;" width="60%">
<p>Deze query voegt een nieuwe pizza toe aan de tabel <i>pizza</i>:</p>


<pre><code class="language-sql">INSERT INTO pizza 
VALUES (NULL, 'Pizza Hawaii', 'Ham en ananas', 8.50);</code></pre>

<p>Toelichting:</p>
  <ul>
    <li>Met <code>INSERT INTO</code> geven we aan dat we iets willen toevoegen aan de tabel <i>pizza</i>.</li>
    <li>Met <code>VALUES</code> geven we aan welke gegevens in de tabel moeten worden opgeslagen.</li>
    <li>In de eerste kolom geven we met <code>NULL</code> aan dat het id-nummer automatisch gegenereerd wordt.</li>
    <li>In de tweede kolom, <b>naam</b>, komt 'Pizza Hawaii' te staan.</li>
    <li>In de derde kolom, <b>omschrijving</b>, komt 'Ham en ananas'.</li>
    <li>In de vierde kolom, <b>basisprijs</b>, komt 8.50.</li>
  </ul>
<td width="40%">
  <table border="1" cellspacing="0">
    <thead>
      <tr>
        <th>pizzacode</th>
        <th>naam</th>
        <th>omschrijving</th>
        <th>basisprijs</th>
      </tr>
    </thead>
    <tbody>
      <tr><td>1</td><td>Margherita</td><td>Tomaat, kaas en oregano</td><td>6</td></tr>
      <tr><td>2</td><td>Napoletana</td><td>Tomaat, kaas, ansjovis, olijven, kappertjes en oregano</td><td>7.5</td></tr>
      <tr><td>3</td><td>Prosciutto</td><td>Tomaat, kaas, ham en oregano</td><td>7.5</td></tr>
      <tr><td>...</td><td>...</td><td>...</td><td>...</td></tr>
      <tr><td>36</td><td>Combinazione</td><td>Eigen keuze pizza</td><td>10.5</td></tr>
      <tr><td>37</td><td>Pizza Hawaii</td><td>Ham en ananas</td><td>8.5</td></tr>
    </tbody>
  </table>
</td></tr></table>


### Verwerkingsopdracht 6.1.1 Pizza toevoegen en controleren

<table border = 0>
<tr><td>
<ol type="a">
  <li>Voer de code hieronder uit om een 'Pizza Hawaii' toe te voegen aan de tabel <i>pizza</i>.</li>
  <li>Controleer daarna of het is gelukt. Dit doe je met:<pre><code class="language-sql">SELECT *
FROM pizza;</code></pre>
</li>
</ol>
<p>Klik <a href="https://raw.githubusercontent.com/rweeda/PythonIA/main/sql/img/DaniloIA_ERD.png" target="_blank">hier</a> voor een overzicht van alle tabellen.</p>

</td><td>
<img src="https://raw.githubusercontent.com/rweeda/PythonIA/main/sql/img/pizza_hawaii.jpg" width="200">
</td></tr>
</table>

In [ ]:
-- a) voeg de pizza toe
INSERT INTO pizza 
VALUES (NULL, 'Pizza Hawaii', 'Ham en ananas', 8.50);

In [ ]:
-- b) controleer of de pizza is toegevoegd


### Verwerkingsopdracht 6.1.2 Een nieuwe glutenvrije bodem



<table width="100%"><tr><td style="text-align:left; vertical-align:top; font-size:1.25rem;" width="55%">
<p>
Hiernaast zie de tabel <i>bodem</i> met de volgende kolommen:</p>
<ul>
  <li><b>bodemcode</b> (AUTOINCREMENT, hoef je niet zelf in te vullen)</li>
  <li><b>omschrijving</b> (bijvoorbeeld "Dunne bodem")</li>
  <li><b>plusprijs</b> (bijvoorbeeld 1.00)</li>
</ul>


</td><td width="45%">
Tabel: <i>bodem</i>
<table border="1" cellpadding="4" cellspacing="0">
  <thead>
    <tr>
      <th>bodemcode</th>
      <th>omschrijving</th>
      <th>plusprijs</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Italian style</td>
      <td>0</td>
    </tr>
    <tr>
      <td>2</td>
      <td>American style</td>
      <td>0</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Calzone</td>
      <td>0</td>
    </tr>
    <tr>
      <td>4</td>
      <td>Glutenvrij</td>
      <td>1</td>
    </tr>
  </tbody>
</table>

</td></tr></table>
<p>Welke van de volgende INSERT INTO-statements voegt correct een nieuwe bodem toe met omschrijving <b>Glutenvrij</b> en een toeslag van €1,50?</p> 
<ol type="a">
<li><pre><code class="language-sql">INSERT INTO bodem (bodemcode, omschrijving, plusprijs)
VALUES (5, "Glutenvrij", 1.50);
</code></pre>

<li><pre><code class="language-sql">INSERT INTO bodem (omschrijving, plusprijs)
VALUES ("Glutenvrij", 1.50);
</code></pre>
  
  
<li><pre><code class="language-sql">INSERT INTO bodem
VALUES ("Glutenvrij", 1.50);
</code></pre>
  
<li><pre><code class="language-sql">INSERT INTO bodem (omschrijving, plusprijs)
VALUES (Glutenvrij, €1,50);
</code></pre>
</ol>

### Verwerkingsopdracht 6.1.3 XXL formaat toevoegen
<ol type="a">
  <li>Voeg een nieuw <b>formaat</b> toe met de omschrijving "XXL" en een toeslag van €2,00. Gebruik de tabel <i>formaat</i>. Deze bevat de kolommen:
<ul>
  <li><b>formaatcode</b> (AUTOINCREMENT)</li>
  <li><b>omschrijving</b></li>
  <li><b>plusprijs</b></li>
</ul>
<p>Klik <a href="https://raw.githubusercontent.com/rweeda/PythonIA/main/sql/img/DaniloIA_ERD.png" target="_blank">hier</a> voor een overzicht van alle tabellen.</p>
</li>
  <li>Controleer daarna of het gelukt is. Dit doe je met:<pre><code class="language-sql">SELECT *
FROM formaat;
</code></pre></li>
</ol>

In [ ]:
-- a) voeg hier een nieuw formaat toe

In [ ]:
-- b) controleer of de tabel is aangepast
SELECT *
FROM formaat;