In [ ]:
SELECT naam, basisprijs
FROM pizza
LIMIT 5

De achterliggende database is Danilo pizzeria

<p>Hier een overzicht van de tabellen in de database:</p><img src="https://raw.githubusercontent.com/rweeda/PythonIA/main/sql/DaniloIA_ERD.png" alt="overzicht tabellen" width="500"></p>

In [ ]:
INSERT INTO pizza VALUES
('Pizza Hawaii', 8.50);

In [ ]:
SELECT *
FROM klant, bestelling
WHERE klant.klantnummer = bestelling.klantnummer
AND plaats="Hengelo"

In [ ]:
CREATE TABLE kortingsbonnen (
    bon_code INT PRIMARY KEY,
    korting REAL,
    datum DATE,
    plaats VARCHAR(50)
);

In [ ]:
SELECT *
FROM pizza