
## 5.2 <code>JOIN ...  ON ...</code> - Gegevens uit meerdere tabellen combineren 


<p>Met een <code>JOIN ... ON ...</code> koppel je de <strong>gelijke rijen</strong> van twee tabellen aan elkaar. De gegevens in de twee kolommen moeten gelijk zijn. In het onderstaande voorbeeld zien we dat <b>pizzacode</b> in zowel tabel <i>besteldepizza</i> voorkomt als in <i>pizza</i>, en in beide tabellen dezelfde gegevens bevat:</p>

<img src="https://raw.githubusercontent.com/rweeda/PythonIA/main/sql/img/JoinBesteldepizzaPizza.png" alt="tabellen" width="600">

<p>Achter <code>JOIN</code> geef je aan welke tabellen je combineert, en achter <code>ON</code> geef je aan welke kolommen gelijk moeten zijn.</p>

<p>De notatie met de punt (<code>.</code>) tussen tabelnaam en kolomnaam (bijvoorbeeld <code>tabel.kolom</code>) gebruik je om aan te geven uit welke tabel een kolom komt.</p>

<p>Omdat de kolom <b>pizzacode</b> in beide tabellen voorkomt, geven we met de puntnotatie <code>besteldepizza.pizzacode</code> aan dat het uit tabel <i>besteldepizza</i> komt, en met <code>pizza.pizzacode</code> dat het uit tabel <i>pizza</i> komt.</p>

<table width="100%"><tr><td style="text-align:left; vertical-align:top; font-size:1.25rem;" width="65%">

<p>De query ziet er dus zo uit:</p>

<pre><code class="language-sql">
SELECT besteldepizza.besteldepizzacode, pizza.naam
FROM besteldepizza
JOIN pizza ON besteldepizza.pizzacode = pizza.pizzacode;
</code></pre>
</td><td width="35%">
<p>De uitvoer van deze query is:</p>

<table border="1" cellpadding="4" cellspacing="0">
  <thead>
    <tr>
      <th>besteldepizzacode</th>
      <th>naam</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>1</td><td>Margherita</td></tr>
    <tr><td>2</td><td>Quattro Formaggi</td></tr>
    <tr><td>3</td><td>Salami</td></tr>
  </tbody>
</table>

</td></tr></table>


### Verwerkingsopdracht 5.2.1 Nut van een <code>JOIN</code>
Stel we willen een overzicht maken van de pizzanaam met de besteldepizzacode.


<pre><code class="language-sql">
SELECT besteldepizza.besteldepizzacode, pizza.naam
FROM besteldepizza
JOIN pizza ON besteldepizza.pizzacode = pizza.pizzacode;
</code></pre>

<p>
Waarom is een <code>JOIN</code> nodig in de query hieronder?
</p>
<p>
A. Omdat tabel <i>besteldepizza</i> geen pizzacodes heeft.
<br>
B. Omdat je een extra filter op de gegevens wilt toepassen.
<br>
C. Omdat de naam van de pizza niet in tabel <i>besteldepizza</i> staat.
<br>
D. Omdat je gegevens uit dezelfde tabel wilt combineren.
</p>


### Verwerkingsopdracht 5.2.2 BesteldePizza, besteldatum en bezorgtijd

<table width="100%"><tr><td style="text-align:left; vertical-align:top; font-size:1.25rem;" width="65%">

Maak een overzicht van de <b>besteldepizzacode</b>, en <b>besteldatum</b> en <b>bezorgtijd</b>. De gegevens komen uit tabellen <i>besteldePizza</i> en <i>bestelling</i>. <br>Toon het overzicht zoals hiernaast.


</td><td width="35%">

<table border="1" cellpadding="4" cellspacing="0">
  <thead>
    <tr>
      <th>besteldepizzacode</th>
      <th>bestel_datum</th>
      <th>bezorg_tijd</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>1</td><td>2021-12-01</td><td>18:37:00</td></tr>
    <tr><td>2</td><td>2021-12-01</td><td>18:37:00</td></tr>
    <tr><td>3</td><td>2021-12-01</td><td>18:37:00</td></tr>
    <tr><td>4</td><td>2021-12-01</td><td>18:41:00</td></tr>
    <tr><td>…</td><td>…</td><td>…</td></tr>
    <tr><td>5833</td><td>2022-03-03</td><td>19:50:00</td></tr>
  </tbody>
</table>

</td></tr></table>


### Verwerkingsopdracht 5.2.3 <code>JOIN</code> uitleggen
Schrijf in je eigen woorden wat er gebeurt bij een <code>JOIN</code>. Wat moet er kloppen tussen twee tabellen om een <code>JOIN</code> te kunnen maken?