## 4.5: DISTINCT – Unieke waarden selecteren

Stel dat je een overzicht wilt van alle woonplaatsen van de tabel <i>klant</i>.


<table width="100%"><tr><td style="text-align:left; vertical-align:top; font-size:1.25rem;" width="35%">
Deze query:

```sql
SELECT woonplaats
FROM klant;
```

geeft het overzicht zoals hiernaaast.
</td><td width="65%">

<table border="1">
  <tr>
    <th>woonplaats</th>
  </tr>
  <tr>
    <td>Enschede</td>
  </tr>
  <tr>
    <td>Enschede</td>
  </tr>
  <tr>
    <td>Enschede</td>
  </tr>
  <tr>
    <td>Enschede</td>
  </tr>
  <tr>
    <td>Hengelo</td>
  </tr>
  <tr>
    <td>...</td>
  </tr>
    <tr>
    <td>Nijmegen</td>
  </tr>

</table>

</td></tr></table>


<p>Om te voorkomen dat er dubbele waarden worden getoond, kun je <code>DISTINCT</code> gebruiken. Deze gebruik je na de <code>SELECT</code>.</p>
 
<p>Met <code>DISTINCT kolomnaam</code> toon je alleen <b>verschillende (unieke)</b> waarden uit een kolom. </p>


<table width="100%"><tr><td style="text-align:left; vertical-align:top; font-size:1.25rem;" width="35%">

Bijvoorbeeld: alle verschillende woonplaatsen waar klanten wonen.

```sql
SELECT DISTINCT woonplaats
FROM klant;
```
</td><td width="65%">

<table border="1">
  <thead>
    <tr>
      <th>woonplaats</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>Enschede</td></tr>
    <tr><td>Hengelo</td></tr>
    <tr><td>Nijmegen</td></tr>
  </tbody>
</table>

</td></tr></table>


### Verwerkingsopdracht 4.5.1 Unieke bezorgdata

<table width="100%"><tr><td style="text-align:left; vertical-align:top; font-size:1.25rem;" width="35%">
Toon een overzicht van de dagen waarop bestellingen zijn gedaan. De informatie komt uit kolom <b>bestel_datum</b> en tabel <i>bestelling</i>. 
<br><br>Dus: elk datum mag maar één keer voorkomen.
</td><td width="65%">
  <table border="1">
  <thead>
    <tr>
      <th>bestel_datum</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>2021-12-01</td></tr>
    <tr><td>2021-12-02</td></tr>
    <tr><td>2021-12-03</td></tr>
    <tr><td>2021-12-04</td></tr>
    <tr><td>2021-12-05</td></tr>
    <tr><td>...</td></tr>
    <tr><td>2022-03-03</td></tr>
  </tbody>
</table>

</td></tr></table>