## 7.5: Een tabel verwijderen

<p>Met DROP TABLE verwijder je een hele tabel uit de database. Alle gegevens in de tabel gaan dan verloren.</p>

<pre><code class="language-sql">
DROP TABLE tabelnaam;
</code></pre>

<ul>
  <li>Achter DROP TABLE geef je de naam van de tabel die je wilt verwijderen.</li>
  <li>Let op: Deze actie kan niet ongedaan worden gemaakt!</li>
  <li>Wil je de oorspronkelijke database herstellen? Ververs dan de webpagina. Sla wel eerst je werk op via 'Bestand' en vervolgens 'Bewaar notebook als...'.</li>
</ul>

<p>Voorbeeld: deze query verwijdert de tabel <i>kortingsbon</i>:</p>

<pre><code class="language-sql">
DROP TABLE kortingsbon;
</code></pre>


### Verwerkingsopdracht 7.5.1 Verwijder tabel bodem

<ol type="a">
  <li>Verwijder de tabel <i>bodem</i>.</li>
  <li>Probeer daarna met <code>SELECT *</code> de gegevens uit de tabel op te halen. Welke foutmelding krijg je?</li>
</ol>

<p>Bekijk de <a href="https://rweeda.github.io/PythonIA/docs/IA_sql_oplossingen.html#opgave761" target="_blank">voorbeelduitwerking</a>.</p>

<!-- ANTWOORD
<ol type="a">
<li>
<pre><code class="language-sql">
-- verwijderen:
DROP TABLE bodem;
</code></pre>
<li>
-- check:
<pre><code class="language-sql">
SELECT *
FROM bodem;-- ophalen lukt niet omdat de tabel in de vorige stap verwijderd is.
</code></pre>
</ol>
-->