
# SQL 

<p>SQL staat voor <i>Structured Query Language</i>. Het is de 
standaardtaal om data in een database op te slaan, te bewerken en op te 
halen. Zo’n verzoek aan de database noem je een <b>query</b>, wat letterlijk 
‘vraag’ betekent in het Engels. Als je een query schrijft, stel je dus eigenlijk een vraag aan de database. Bijvoorbeeld: “Welke klanten wonen in 
Amsterdam?”</p>

<p>In deze cursus leer je hoe je SQL gebruikt binnen 
<b>SQLite</b> — een eenvoudige, lichtgewicht databasesysteem. We beginnen met 
leren hoe je informatie kunt ophalen. Daarna leer je ook hoe je gegevens kunt 
opslaan, aanpassen en verwijderen. Tot slot ga je zelfs je eigen tabellen 
aanmaken.</p> 




<p>Bij de volgende opgaven maken we gebruik van de database van Danilo's pizzeria. 

<!--De afbeelding hieronder toont de kolommen van tabel <i>pizza</i>:

<p><img src="https://raw.githubusercontent.com/rweeda/PythonIA/main/sql/img/ERD_pizza.png" alt="Tabel pizza" width="300"></p>


-->

<p><img src="https://raw.githubusercontent.com/rweeda/PythonIA/main/sql/img/H1_tabel_pizza.png" alt="Tabel pizza" width="300"></p>

Hieronder zie je hoe de tabel <i>pizza</i> er uitziet met de gegevens van een aantal pizza's erin.

<!--
| pizzacode | naam                  | omschrijving                                                             | basisprijs |
|-----------|-----------------------|---------------------------------------------------------------------------|------------|
| 1         | Margherita            | Tomaat,kaas en oregano                                                    | 6.0        |
| 2         | Napoletana            | Tomaat, kaas, ansjovis, olijven, kappertjes en oregano                   | 7.5        |
| 3         | Prosciutto            | Tomaat, kaas, ham en oregano                                              | 7.5        |
| 4         | Funghi                | Tomaat, kaas, champignons en oregano                                     | 7.5        |
| ...       | ...                   | ...                                                                       | ...        |
| 36        | Combinazione          | Eigen keuze pizza                                                        | 10.5       |

-->


<p>Met een query kun je gegevens uit een tabel ophalen. Met SELECT kun je data selecteren van een database en in een overzicht tonen. 
Met FROM geef je aan uit welke tabel de informatie gehaald moet worden. Hoe dat werkt leer je nu.</p>


---------------------------------------


## Je eerste query

Om één kolom op te halen geef je na de SELECT de kolomnaam op, en na de FROM de tabelnaam:
 
 ```SQL
SELECT kolomnaam
FROM tabelnaam;
```

Run de code hieronder (dat kan met CRTR+ENTER of door bovenin op 'Run' te drukken):


## Eén kolom uit een tabel hale






Om één kolom op te halen geef je na de SELECT de kolomnaam op:
 
``` SQL
SELECT kolomnaam
FROM tabelnaam;
```

Bijvoorbeeld:

In [ ]:
SELECT pizzanaam 
FROM pizza;

Daarmee krijg je de volgende overzicht:

| pizzanaam                    |
|-------------------------|
| Margherita              |
| Napoletana              |
| Prosciutto              |
| Funghi                  |
| Salame                  |
| ...                     |
| Combinazione            |

### Opdracht 1.4: Pizzacodes
<ol style="list-style-type: lower-alpha">
<li>Toon alle pizzacodes (kolom <i>pizzacode</i>) die in tabel <i>pizza</i> voorkomen..
<li>Wat zie je als je naar de pizzacodes kijkt? Leg uit wat dat te maken heeft met de 'primary key'.
</ol>

| pizzacode |
|-----------|
| 1         |
| 2         |
| 3         |
| 4         |
| ...       |
| 36        |



<p>Bekijk <a href="https://rweeda.github.io/PythonIA/docs/IA_sql_oplossingen.html#opgave14" target="_blank">hier</a> de voorbeelduitwerking.</p>


<!--
<ol style="list-style-type: lower-alpha">
<li>
```SQL
SELECT pizzacode 
FROM pizza;
```
<li>Elke pizzacode komt maar één keer voor. Dat betekent dat elke pizza een unieke code heeft. Zo’n unieke code noemen we een primary key. Een primary key zorgt ervoor dat je elk record in een tabel kunt herkennen. In dit geval herken je elke pizza aan zijn pizzacode.
</ol>
-->