
## 2.6: Kennis maken met de andere tabellen


<p>Danilo's pizzeria database bestaat uit meer tabellen dan alleen pizza's. Er wordt ook bijvoorbeeld ook informatie opgeslagen over klanten, berzorgers en bestellingen. In de afbeelding hieronder zie je alle 7 tabellen.</p>


<p>
<a href="https://raw.githubusercontent.com/rweeda/PythonIA/main/sql/img/DaniloIA_ERD.png" target="_blank">
  <img src="https://raw.githubusercontent.com/rweeda/PythonIA/main/sql/img/DaniloIA_ERD.png" alt="Klik om in een nieuw venster te openen" width="1000"/>
</a></p>


### Opdracht 2.5 Alle gegevens uit tabel <i>klant</i>
<p>Toon alle gegevens uit tabel <i>klant</i>.


<p>Bekijk <a href="https://rweeda.github.io/PythonIA/docs/IA_sql_oplossingen.html#opgave25" target="_blank">hier</a> de voorbeelduitwerking.</p>

<!-- ANTWOORD:
<pre><code class="language-sql">
SELECT *
FROM klant;
</code></pre>
-->


### Opdracht 2.6 Alle klanten uit Enschede

<p>Toon het adres, de postcode en de plaats van alle klanten die in Enschede wonen, zoals hieronder. Tip: de gegevens komen uit tabel <i>klant</i>.</p>

| adres              | postcode | woonplaats    |
|--------------------|----------|-----------|
| Gladioolstraat 11  | 3742TC   | Enschede  |
| Banckertlaan 7     | 3742MG   | Enschede  |
| Talmalaan 11       | 3741TX   | Enschede  |
| Krugerlaan 9       | 3743CJ   | Enschede  |
| Zandvoortweg 199   | 3741BE   | Enschede  |



<p>Bekijk <a href="https://rweeda.github.io/PythonIA/docs/IA_sql_oplossingen.html#opgave26" target="_blank">hier</a> de voorbeelduitwerking.</p>

<!-- ANTWOORD:
<pre><code class="language-sql">
SELECT adres, postcode, woonplaats
FROM klant
WHERE plaats='Enschede';
</code></pre>
-->


### Opdracht 2.7 Wachtwoord van Ronald
Toon het wachtwoord van de bezorger met de naam Ronald Marbus, zoals hieronder.<br>


| wachtwoord  |
|-------------|
| R0nalt      |


Tips:
<ul>
<li>de gegevens komen uit tabel <i>bezorger</i>,</li>
<li>toon eerst alle kolommen, en kies dan welk kolom je nodig hebt.</li>
</ul>



<p>Bekijk <a href="https://rweeda.github.io/PythonIA/docs/IA_sql_oplossingen.html#opgave27" target="_blank">hier</a> de voorbeelduitwerking.</p>

<!-- ANTWOORD:
<pre><code class="language-sql">
SELECT wachtwoord
FROM bezorger
WHERE naam = 'Ronald Marbus';
WHERE plaats='Enschede';
</code></pre>
-->

### Opdracht 2.8 Fout in query voor goedkope pizza's
Piet wil een overzicht van alle pizza's die minder dan 7 euro kosten. Wat is de fout in deze query? Los die op.

In [ ]:
SELECT naam basisprijs < 7.0 FROM WHERE pizza;

<p>Bekijk <a href="https://rweeda.github.io/PythonIA/docs/IA_sql_oplossingen.html#opgave28" target="_blank">hier</a> de voorbeelduitwerking.</p>


<!-- ANTWOORD:
<pre><code class="language-sql">
SELECT naam 
FROM pizza
WHERE basispijs < 7.0;
</code></pre>
-->