
## GROUP BY

<p>
<code>GROUP BY</code> groepeert rijen die dezelfde waarde hebben in één of meer kolommen. Daarna kun je functies zoals <code>COUNT()</code>, <code>SUM()</code>, <code>AVG()</code>, <code>MAX()</code> of <code>MIN()</code> toepassen <b>per groep</b>, in plaats van op de hele tabel. Deze functies heb je eerder geleerd in <a href="https://moodle.informatica-actief.nl/course/view.php?id=1193#section-7">onderdeel 4</a>. Tussen haakjes geef je aan op welke kolom de functie moet worden toegepast.<br><br>
In de vraag staat vaak iets als: hoeveel ‘per’ bestelling of ‘per’ klant. Dit geeft aan dat je moet groeperen.
</p>

<p>
<table width="100%"><tr><td style="text-align:left; vertical-align:top; font-size:1.25rem;" width="65%">

<h3>Voorbeeld 1</h3>
<p>De query hieronder geeft een overzicht van hoe vaak elke soort bodem is besteld.<br>
De rijen worden gegroepeerd op <code>bodemcode</code>, en met <code>COUNT()</code> wordt geteld hoe vaak elke <code>bodemcode</code> voorkomt:</p>

<pre><code>SELECT bodemcode, COUNT(aantal) AS aantal_besteld
FROM besteldepizza
GROUP BY bodemcode;
</code></pre>

</td><td width="35%">

<table border="1">
  <thead>
    <tr>
      <th>bodemcode</th>
      <th>aantal_besteld</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>2788</td>
    </tr>
    <tr>
      <td>2</td>
      <td>2905</td>
    </tr>
    <tr>
      <td>3</td>
      <td>140</td>
    </tr>
  </tbody>
</table>

</td></tr></table>

</p>
<p>

<table width="100%"><tr><td style="text-align:left; vertical-align:top; font-size:1.25rem;" width="65%">

<h3>Voorbeeld 2</h3>
<p>De query hieronder laat het totaal aantal bestellingen per pizza zien.<br>
De rijen worden gegroepeerd op <code>pizzacode</code>, en met <code>SUM()</code> worden alle aantallen opgeteld per pizza:</p>

<pre><code>SELECT pizzacode, SUM(aantal) AS totaal_besteld
FROM besteldePizza
GROUP BY pizzacode;
</code></pre>

</td><td width="35%">

<table border="1">
  <thead>
    <tr>
      <th>pizzacode</th>
      <th>totaal_besteld</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>315</td>
    </tr>
    <tr>
      <td>2</td>
      <td>284</td>
    </tr>
    <tr>
      <td>3</td>
      <td>224</td>
    </tr>
    <tr>
      <td colspan="2" style="text-align:center;">…</td>
    </tr>
  </tbody>
</table>

</td></tr></table>
</p>

### Verwerkingsopdracht 6.2.1 Bestelde pizzasoorten


<table width="100%"><tr><td style="text-align:left; vertical-align:top; font-size:1.25rem;" width="65%">
<p>Toon van elk soort pizza (<b>pizzacode</b>) hoeveel er gemiddeld gelijktijdig besteld worden, zoals in het overzicht hiernaast. De gegevens komen uit tabel <i>besteldepizza</i>.


</td><td width="35%">
<table border="1">
  <thead>
    <tr>
      <th>pizzacode</th>
      <th>gemiddeld_aantal</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>1.7119565217391304</td>
    </tr>
    <tr>
      <td>2</td>
      <td>1.7423312883435582</td>
    </tr>
    <tr>
      <td>3</td>
      <td>1.6115107913669064</td>
    </tr>
    <tr>
      <td>4</td>
      <td>1.7692307692307692</td>
    </tr>
    <tr>
      <td>5</td>
      <td>1.5813953488372092</td>
    </tr>
    <tr>
      <td colspan="2" style="text-align:center;">...</td>
    </tr>
  </tbody>
</table>

</td></tr></table>



<p>Bekijk <a
href="https://rweeda.github.io/PythonIA/docs/IA_sql_oplossingen.html#opgave621"
target="_blank">hier</a> de voorbeelduitwerking.</p>
 <!-- ANTWOORD:
<pre><code class="language-sql"> 
SELECT pizzacode, AVG(aantal) AS gemiddeld_aantal
FROM besteldepizza
GROUP BY pizzacode;
</code></pre>
-->

### Verwerkingsopdracht 6.2.2 Aantal bestellingen per bodemcode


<table width="100%"><tr><td style="text-align:left; vertical-align:top; font-size:1.25rem;" width="35%">
<p>Tel het aantal bestellingen per bodemcode, zoals in het overzicht hiernaast. De gegevens komen uit tabel <i>besteldepizza</i>.</p>

</td><td width="65%">
<table border="1">
  <thead>
    <tr>
      <th>bodemcode</th>
      <th>aantal_besteld</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>2788</td>
    </tr>
    <tr>
      <td>2</td>
      <td>2905</td>
    </tr>
    <tr>
      <td>3</td>
      <td>140</td>
    </tr>
  </tbody>
</table>

</td></tr></table>


<p>Bekijk <a
href="https://rweeda.github.io/PythonIA/docs/IA_sql_oplossingen.html#opgave622"
target="_blank">hier</a> de voorbeelduitwerking.</p>
 <!-- ANTWOORD:
<pre><code class="language-sql"> 
SELECT bodemcode, COUNT(*) 
FROM besteldepizza 
GROUP BY bodemcode;
</code></pre>
-->

### Verwerkingsopdracht 6.2.3 Meest pizza's van één soort

<table width="100%"><tr><td style="text-align:left; vertical-align:top; font-size:1.25rem;" width="35%">
<p>Toon een overzicht van het grootst aantal pizza’s van één soort per bestelling (<b>bestelcode</b>), zoals hiernaast.</p>

</td><td width="65%">
<table border="1">
  <thead>
    <tr>
      <th>bestelcode</th>
      <th>max_aantal</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <td>2</td>
      <td>3</td>
    </tr>
    <tr>
      <td>3</td>
      <td>2</td>
    </tr>
    <tr>
      <td colspan="2" style="text-align:center;">...</td>
    </tr>
  </tbody>
</table>

</td></tr></table>


<p>Bekijk <a
href="https://rweeda.github.io/PythonIA/docs/IA_sql_oplossingen.html#opgave623"
target="_blank">hier</a> de voorbeelduitwerking.</p>
 <!-- ANTWOORD:
<pre><code class="language-sql">
SELECT bestelcode, MAX(aantal) AS max_aantal
FROM besteldePizza
GROUP BY bestelcode;
</code></pre>
-->

### Verwerkingsopdracht 6.2.3 Meest pizza's van één soort

<table width="100%"><tr><td style="text-align:left; vertical-align:top; font-size:1.25rem;" width="35%">
<p>Toon een overzicht van het grootst aantal pizza’s van één soort per bestelling (<b>bestelcode</b>), zoals hiernaast.</p>

</td><td width="65%">
<table border="1">
  <thead>
    <tr>
      <th>bestelcode</th>
      <th>max_aantal</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <td>2</td>
      <td>3</td>
    </tr>
    <tr>
      <td>3</td>
      <td>2</td>
    </tr>
    <tr>
      <td colspan="2" style="text-align:center;">...</td>
    </tr>
  </tbody>
</table>

</td></tr></table>

<p>Bekijk <a
href="https://rweeda.github.io/PythonIA/docs/IA_sql_oplossingen.html#opgave623"
target="_blank">hier</a> de voorbeelduitwerking.</p>
 <!-- ANTWOORD:
<pre><code class="language-sql">
SELECT bestelcode, MAX(aantal) AS max_aantal
FROM besteldePizza
GROUP BY bestelcode;
</code></pre>
-->