## 4.5: COUNT() â€“ Aantal rijen tellen

<p>`COUNT(kolomnaam)` telt <b>het aantal rijen</b> in een kolom van een tabel. Deze gebruik je na de SELECT, en tussen haakjes geef je een kolomnaam op. Er worden alleen de rijen geteld waarin een waarde staat.</p>

<table width="100%"><tr><td style="text-align:left; vertical-align:top; font-size:1.25rem;" width="65%">
Bijvoorbeeld, voor het telen van het aantal bestelling die zijn geplaatst:

```sql
SELECT COUNT(bestelcode)
FROM bestelling;
```
</td><td width="35%">
<table border="1">
  <thead>
    <tr>
      <th>COUNT(bestelcode)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1472</td>
    </tr>
  </tbody>
</table>

</td></tr></table>

(Wil je ook de lege rijen tellen, gebruik dan COUNT(*))



### Verwerkingsopdracht 4.5.1 Pizza's tellen

<table width="100%"><tr><td style="text-align:left; vertical-align:top; font-size:1.25rem;" width="65%">
Hoeveel pizza's staan er in de tabel <i>besteldePizza</i>? Maak het overzicht zoals hiernaast.
</td><td width="35%">
    <table border="1">
  <thead>
    <tr>
      <th>aantal_pizzas</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>5833</td>
    </tr>
  </tbody>
</table>

</td></tr></table>

<!--
<pre><code class="language-sql">
SELECT COUNT(besteldepizzacode) AS aantal_pizzas
FROM besteldePizza;
</code></pre>
-->
<p>Bekijk <a
href="https://rweeda.github.io/PythonIA/docs/IA_sql_oplossingen.html#opgave451"
target="_blank">hier</a> de voorbeelduitwerking.</p>