
### 3.17: Afsluitende Opdrachten


### Afsluitende Opdracht 3.17.1 Menu

<table width="100%"><tr><td style="text-align:left; vertical-align:top; font-size:1.25rem;" width="35%">
Toon van alle pizza's de omschrijving en de naam (in die volgorde).
</td><td width="65%">
    <table border="1">
  <thead>
    <tr>
      <th>omschrijving</th>
      <th>naam</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>Tomaat,kaas en oregano</td><td>Margherita</td></tr>
    <tr><td>Tomaat, kaas, ansjovis, olijven, kappertjes en oregano</td><td>Napoletana</td></tr>
    <tr><td>Tomaat, kaas, ham en oregano</td><td>Prosciutto</td></tr>
    <tr><td>Tomaat, kaas, champignons en oregano</td><td>Funghi</td></tr>
    <tr><td>Tomaat, kaas, salami en oregano</td><td>Salame</td></tr>
    <tr><td>...</td><td>...</td></tr>
    <tr><td>Eigen keuze pizza</td><td>Combinazione</td></tr>
  </tbody>
</table>

</td></tr></table>

<p>Bekijk <a href="https://rweeda.github.io/PythonIA/docs/IA_sql_oplossingen.html#opgave3171" target="_blank">hier</a> de voorbeelduitwerking.</p>
<!-- ANTWOORD:
<pre><code class="language-sql">
SELECT omschrijving, naam
FROM pizza;
</code></pre>
-->


### Afsluitende Opdracht 3.17.2 Alle goedkope pizza's met een 'C'

<table width="100%"><tr><td style="text-align:left; vertical-align:top; font-size:1.25rem;" width="35%">

Toon een overzicht van alle pizza's waarvan de naam met 'C' begint maar niet meer kost dan 8 euro.

</td><td width="65%">
    
<table border="1">
  <thead>
    <tr>
      <th>naam</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>Cippola</td></tr>
    <tr><td>Calimero</td></tr>
    <tr><td>Capricciosa</td></tr>
  </tbody>
</table>


</td></tr></table>



<p>Bekijk <a href="https://rweeda.github.io/PythonIA/docs/IA_sql_oplossingen.html#opgave3172" target="_blank">hier</a> de voorbeelduitwerking.</p>
<!-- ANTWOORD:
<pre><code class="language-sql">
SELECT naam
FROM pizza
WHERE naam LIKE 'C%' AND basisprijs <= 8.0;
</code></pre>
-->



### Afsluitende Opdracht 3.17.3 Dure salami

<table width="100%"><tr><td style="text-align:left; vertical-align:top; font-size:1.25rem;" width="35%">

Toon een overzicht zoals hiernaast van alle pizza's met een basisprijs van minimaal €9,00 <b>én</b> die het woord 'salami' in de omschrijving bevatten.


</td><td width="65%">
<table border="1">
  <thead>
    <tr>
      <th>naam</th>
      <th>basisprijs</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>Calzone (dichte pizza)</td><td>9.0</td></tr>
    <tr><td>Fantasia</td><td>9.0</td></tr>
    <tr><td>Specialità di Danilo</td><td>9.5</td></tr>
  </tbody>
</table>

</td></tr></table>


<p>Bekijk <a href="https://rweeda.github.io/PythonIA/docs/IA_sql_oplossingen.html#opgave3173" target="_blank">hier</a> de voorbeelduitwerking.</p>
<!-- ANTWOORD:
<pre><code class="language-sql">
SELECT naam, basisprijs
FROM pizza
WHERE basisprijs >= 9
  AND omschrijving LIKE '%salami%';
</code></pre>
-->

### Afsluitende Opdracht 3.17.4 Toon 3 pizza’s zonder vlees, met een ‘a’ in de naam

<table width="100%"><tr><td style="text-align:left; vertical-align:top; font-size:1.25rem;" width="35%">
Toon de eerste drie pizza’s (alfabetisch op naam) die <b>geen</b> vlees (ham, salami, kip) bevatten <b>en</b> een ‘a’ in de naam hebben. Toon de kolommen <b>naam</b> en <b>omschrijving</b>.
</td><td width="65%">
    <table border="1">
  <thead>
    <tr>
      <th>naam</th>
      <th>omschrijving</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Cippola</td>
      <td>Tomaat, kaas, uien en oregano</td>
    </tr>
    <tr>
      <td>Combinazione</td>
      <td>Eigen keuze pizza</td>
    </tr>
    <tr>
      <td>Margherita</td>
      <td>Tomaat,kaas en oregano</td>
    </tr>
  </tbody>
</table>

</td></tr></table>



<p>Bekijk <a href="https://rweeda.github.io/PythonIA/docs/IA_sql_oplossingen.html#opgave3174" target="_blank">hier</a> de voorbeelduitwerking.</p>

<!-- ANTWOORD:
<pre><code class="language-sql">
SELECT naam, omschrijving
FROM pizza
WHERE omschrijving NOT LIKE '%ham%'
  AND omschrijving NOT LIKE '%salami%'
  AND omschrijving NOT LIKE '%kip%'
  AND naam LIKE '%a%'
ORDER BY naam
LIMIT 3;
</code></pre>
-->

### Afsluitende Opdracht 3.17.5 Klanten buiten Enschede met 06-nummer
<table width="100%"><tr><td style="text-align:left; vertical-align:top; font-size:1.25rem;" width="35%">

Tel het aantal klanten die een mobiel nummer (06) hebben maar <b>niet</b> in Enschede wonen. Noem de kolom zoals in het voorbeeld hiernaast.
</td><td width="65%">
<table border="1">
  <thead>
    <tr>
      <th>aantal_klanten</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>25</td>
    </tr>
  </tbody>
</table>
</td></tr></table>


<p>Bekijk <a href="https://rweeda.github.io/PythonIA/docs/IA_sql_oplossingen.html#opgave3175" target="_blank">hier</a> de voorbeelduitwerking.</p>
<!-- ANTWOORD:
<pre><code class="language-sql">
SELECT COUNT(*) AS aantal_klanten
FROM klant
WHERE telefoon LIKE '06%' 
  AND woonplaats <> 'Enschede';
</code></pre>
Ook goed:
<pre><code class="language-sql">
SELECT COUNT(*) AS aantal_klanten
FROM klant
WHERE telefoon LIKE '06%' 
  AND NOT woonplaats = 'Enschede';
</code></pre>
-->

### Afsluitende Opdracht 3.17.6 Pizza’s met ‘special’ of duurder dan €10
<table width="100%"><tr><td style="text-align:left; vertical-align:top; font-size:1.25rem;" width="35%">
Toon de namen van alle pizza’s waarvan de omschrijving het woord 'special' bevat, <b>óf</b> die duurder zijn dan €9,00.

</td><td width="65%">
    <table border="1">
  <thead>
    <tr>
      <th>naam</th>
    </tr>
  </thead>
  <tbody>
      <tr>
      <td>Specialità di Danilo</td>
    </tr>
    <tr>
      <td>Combinazione</td>
    </tr>
  </tbody>
</table>

</td></tr></table>

<p>Bekijk <a href="https://rweeda.github.io/PythonIA/docs/IA_sql_oplossingen.html#opgave3176" target="_blank">hier</a> de voorbeelduitwerking.</p>
<!-- ANTWOORD:
<pre><code class="language-sql">
SELECT naam
FROM pizza
WHERE omschrijving LIKE '%special%'
   OR basisprijs > 9;
</code></pre>
-->

### Afsluitende Opdracht 3.17.7 Bezorgers met naam H maar die NIET met J begint
<table width="100%"><tr><td style="text-align:left; vertical-align:top; font-size:1.25rem;" width="35%">
Toon de namen van de bezorgers met de letter 'H' in hun naam naar <b>niet</b> met de letter 'J' beginnen. Noem de kolom <i>bezorgernaam</i>. Sorteer de namen van hoog naar laag.

</td><td width="65%">
<table border="1">
  <thead>
    <tr>
      <th>bezorgernaam</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>Marleen Hoekstra</td></tr>
    <tr><td>Herman Prent</td></tr>
    <tr><td>Hans Boonstra</td></tr>
    <tr><td>Han Fröling</td></tr>
    <tr><td>Eric Henze</td></tr>
    <tr><td>Ageeth Mooy</td></tr>
    <tr><td>Afhalen</td></tr>
  </tbody>
</table>
</td></tr></table>


<p>Bekijk <a href="https://rweeda.github.io/PythonIA/docs/IA_sql_oplossingen.html#opgave3177" target="_blank">hier</a> de voorbeelduitwerking.</p>
<!-- ANTWOORD:
<pre><code class="language-sql">
SELECT naam AS bezorgernaam
FROM bezorger
WHERE naam LIKE '%H%' AND naam NOT LIKE 'J%'
ORDER BY naam DESC;
</code></pre>
-->

### Afsluitende Opdracht 3.17.8 Totaal aantal bestelde pizza's
<table width="100%"><tr><td style="text-align:left; vertical-align:top; font-size:1.25rem;" width="35%">
Toon het totaal aantal bestelde pizza's, zoals hiernaast. De gegevens komen uit tabel <i>besteldePizza</i>.

</td><td width="65%">
<table border="1">
  <thead>
    <tr>
      <th>aantal_bestelde_pizzas</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>9757</td>
    </tr>
  </tbody>
</table>

</td></tr></table>

<p>Bekijk <a href="https://rweeda.github.io/PythonIA/docs/IA_sql_oplossingen.html#opgave3178" target="_blank">hier</a> de voorbeelduitwerking.</p>
<!-- ANTWOORD:
<pre><code class="language-sql">
SELECT SUM(aantal) AS aantal_bestelde_pizzas
FROM besteldePizza
</code></pre>
-->