
## 6.4: Nieuwe tabel aanmaken

<p>Met <code>CREATE TABLE</code> maak je een nieuwe tabel aan in de database.</p>
<pre><code class="language-sql">CREATE TABLE tabelnaam (
  kolom1 datatype,
  kolom2 datatype,
  kolom3 datatype,
  ...
);
</code></pre>

Toelichting:
<ul>
  <li>Achter CREATE TABLE geef je de naam van de nieuwe tabel aan.</li>
  <li>Tussen haakjes zet je per kolom de kolomnaam en het datatype:<br> <code>TEXT</code> (tekst), <code>INTEGER</code> (geheel getal) of <code>REAL</code> (kommagetal).</li>
</ul>

<p>Elke tabel moet een <b>primary key</b> hebben. In die kolom mag elke waarde maar één keer voorkomen. De database kan automatisch doornummeren zodra er nieuwe gegevens worden toegevoegd. Dit doe je met: <code>INTEGER PRIMARY KEY AUTOINCREMENT</code>.</p>

<hr>
<p><b>Voorbeeld</b>. Deze query maakt een tabel <i>pizza</i> waarbij de <b>pizzacode</b> als primary key automatisch wordt genummerd:</p>

<pre><code class="language-sql">CREATE TABLE pizza (
  pizzacode INTEGER PRIMARY KEY AUTOINCREMENT, 
  naam TEXT,
  omschrijving TEXT,
  basisprijs REAL
);
</code></pre>

### Verwerkingsopdracht 6.4.1 Nieuwe tabel <i>kortingsbonnen</i> aanmaken


<p>Maak een nieuwe tabel <i>kortingsbonnen</i> aan waarin je informatie opslaat over kortingsbonnen die in omloop zijn: <b>boncode</b>, hoeveel <b>korting</b> ze geven en tot welke <b>datum</b> ze geldig zijn.</p>
</td><td>
<img src="https://raw.githubusercontent.com/rweeda/PythonIA/main/sql/img/voucher.jpg" width="200">




<ol type="a">
  <li>Schrijf een CREATE TABLE-query voor de tabel <i>kortingsbon</i>. Bedenk welke kolommen je nodig hebt, en welke datatypes je gebruikt. Denk aan:
    <ul>
      <li>Een primary key: <b>boncode</b></li>
      <li>Automatisch doornummeren met AUTOINCREMENT</li>
      <li>De juiste datatypes: TEXT, INTEGER, REAL</li>
    </ul>
  </li>
  <li>Als je met <code>SELECT *</code> controleert of de tabel is aangemaakt, zie je geen gegevens. Waarom is dat?</li>
</ol>

In [ ]:
-- a) maak hier een nieuw tabel aan

In [ ]:
-- b) controleer of de tabel is aangemaakt