

## 3.1: Voorwaarden met de <code>WHERE</code>

<p>Met <code>WHERE</code> kun je beperken welke rijen getoond moet worden. Met <code>WHERE</code> kun
je een voorwaarde aangeven, bijvoorbeeld: "<i>waarbij de informatie voldoet aan
...</i>"</p>

<p>Je geeft altijd eerst een <code>SELECT</code> op voor de gegevens die opgehaald moeten
worden, dan met <code>FROM</code> de tabel waaruit de gegevens moeten komen, en met <code>WHERE</code>
welke beperking geldt.</p>

<table>
  <tr><td style="text-align:left; vertical-align:top; font-size:1.25rem;" width="50%">
<p>Bijvoorbeeld, met de volgende query tonen we alle pizza's die precies 8
euro kosten:</p>

```SQL 
 SELECT * 
 FROM pizza
 WHERE basisprijs=8;
 ```
  </td>
  <td width="50%">
<table border="1">
  <thead>
    <tr>
      <th>pizzacode</th>
      <th>naam</th>
      <th>omschrijving</th>
      <th>basisprijs</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>10</td>
      <td>Capricciosa</td>
      <td>Tomaat, kaas, ham, champignons, paprika, artisjokken en oregano</td>
      <td>8.0</td>
    </tr>
    <tr>
      <td>11</td>
      <td>Primavera</td>
      <td>Tomaat, kaas, ham, salami en oregano</td>
      <td>8.0</td>
    </tr>
    <tr>
      <td>12</td>
      <td>Venezia</td>
      <td>Tomaat, kaas, ham, champignons, ananas en oregano</td>
      <td>8.0</td>
    </tr>
    <tr>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>8.0</td>
    </tr>
    <tr>
      <td>30</td>
      <td>Romana</td>
      <td>Tomaat, kaas, spek, uien, champignons, ei en oregano</td>
      <td>8.0</td>
    </tr>
  </tbody>
</table>
</td></tr></table>

### Opdracht 3.1.1 Omschrijving tonen van de Inferno pizza 
<table>
<tr><td style="text-align:left; vertical-align:top; font-size:1.25rem" width="50%">
Schrijf een query om de
omschrijving van de pizza <b>Inferno</b> te tonen, zoals in het voorbeeld
hiernaast.
</td> <td width="50%">
  <table border="1">
    <thead>
      <tr>
        <th>omschrijving</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Tomaat, kaas, ham, spaanse peper, kappertjes, salami, olijven en oregano</td>
      </tr>
    </tbody>
  </table>
</td></tr></table>