
### 3.12: Afsluitende Opdrachten


<p>Klik <a href="https://raw.githubusercontent.com/rweeda/PythonIA/main/sql/img/DaniloIA_ERD.png" target="_blank">hier</a> voor een overzicht van alle tabellen.</p>

### Afsluitende Opdracht 3.12.1: Klanten in een specifieke plaats


<table width="100%">
  <tr><td style="text-align:left; vertical-align:top; font-size:1.25rem;" width="65%">
Toon het <b>klantnummer</b>, <b>naam</b> en <b>woonplaats</b> van alle klanten die wonen in <b>Hengelo</b>. 
, zoals in het overzicht hiernaast.
    </td>
    <td width="35%">
<table border="1">
  <thead>
    <tr>
      <th>klantnummer</th>
      <th>naam</th>
      <th>woonplaats</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>107</td><td>Josette Soede</td><td>Hengelo</td></tr>
    <tr><td>123</td><td>Miranda LeBlanche</td><td>Hengelo</td></tr>
    <tr><td>124</td><td>Peter van Tol</td><td>Hengelo</td></tr>
        <tr><td>...</td><td>...</td><td>...</td></tr>
    <tr><td>395</td><td>Tom van Wifferen</td><td>Hengelo</td></tr>
  </tbody>
</table>
    </td>
  </tr>
</table>

### Afsluitende Opdracht 3.12.2 Debuggen en herschrijven van slordige query
De volgende query werkt niet goed. Voer hem eerst uit en analyseer de foutmelding. Herschrijf daarna de query netjes én correct:

<!--
<pre><code class="language-sql">
SELECT naam basisprijs FROM pizza WHERE basisprijs<7
</code></pre>
-->

<ol style="list-style-type: lower-alpha;">
<li>Wat is er fout?
<li>Schrijf een correcte en goed opgemaakte versie met commentaar.
</ol>

In [ ]:
SELECT naam basisprijs FROM pizza WHERE basisprijs<7


### Afsluitende Opdracht 3.12.3 Alle goedkope pizza's met een 'C'

<table width="100%"><tr><td style="text-align:left; vertical-align:top; font-size:1.25rem;" width="65%">

Toon een overzicht van alle pizza's waarvan de naam met 'C' begint maar niet meer kost dan 8 euro.

</td><td width="35%">
    
<table border="1">
  <thead>
    <tr>
      <th>naam</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>Cippola</td></tr>
    <tr><td>Calimero</td></tr>
    <tr><td>Capricciosa</td></tr>
  </tbody>
</table>


</td></tr></table>



### Afsluitende Opdracht 3.12.4 Dure salami

<table width="100%"><tr><td style="text-align:left; vertical-align:top; font-size:1.25rem;" width="65%">

Toon een overzicht zoals hiernaast van alle pizza's met een basisprijs van minimaal €9,00 <b>én</b> die het woord 'salami' in de omschrijving bevatten.


</td><td width="35%">
<table border="1">
  <thead>
    <tr>
      <th>naam</th>
      <th>basisprijs</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>Calzone (dichte pizza)</td><td>9.0</td></tr>
    <tr><td>Fantasia</td><td>9.0</td></tr>
    <tr><td>Specialità di Danilo</td><td>9.5</td></tr>
  </tbody>
</table>

</td></tr></table>

### Afsluitende Opdracht 3.12.5 Toon 3 pizza’s zonder vlees, met een ‘a’ in de naam

<table width="100%"><tr><td style="text-align:left; vertical-align:top; font-size:1.25rem;" width="65%">
Toon de pizza's die <b>geen</b> vlees (ham, salami, kip) bevatten <b>en</b> een ‘a’ in de naam hebben. Toon de kolommen <b>naam</b> en <b>omschrijving</b>.
</td><td width="35%">
<table border="1">
  <thead>
    <tr>
      <th>Naam</th>
      <th>Omschrijving</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>Margherita</td><td>Tomaat, kaas en oregano</td></tr>
    <tr><td>Napoletana</td><td>Tomaat, kaas, ansjovis, olijven, kappertjes en oregano</td></tr>
    <tr><td>Cippola</td><td>Tomaat, kaas, uien en oregano</td></tr>
    <tr><td>...</td><td>...</td></tr>
    <tr><td>Combinazione</td><td>Eigen keuze pizza</td></tr>
  </tbody>
</table>

</td></tr></table>

### Afsluitende Opdracht 3.12.6 Pizza’s met ‘special’ of duurder dan €9
<table width="100%"><tr><td style="text-align:left; vertical-align:top; font-size:1.25rem;" width="65%">
Toon de namen van alle pizza’s waarvan de omschrijving het woord 'special' bevat, <b>óf</b> die duurder zijn dan €9,00.

</td><td width="35%">
    <table border="1">
  <thead>
    <tr>
      <th>naam</th>
    </tr>
  </thead>
  <tbody>
      <tr>
      <td>Specialità di Danilo</td>
    </tr>
    <tr>
      <td>Combinazione</td>
    </tr>
  </tbody>
</table>

</td></tr></table>

### Afsluitende Opdracht 3.12.7 Bezorgers met naam H maar die NIET met A begint
<table width="100%"><tr><td style="text-align:left; vertical-align:top; font-size:1.25rem;" width="65%">
Toon de namen van de bezorgers van wie hun naam begint met de letter 'H' of 'J' maar <b>niet</b> de letter 'A' bevat. Noem de kolom <i>bezorgernaam</i>.

</td><td width="35%">
<table border="1">
  <thead>
    <tr>
      <th>Bezorgernaam</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>Jeroen Groenheiden</td></tr>
  </tbody>
</table>

</td></tr></table>