## 5.1 Gegevens uit meerdere tabellen combineren

<p>In het <b>ERD-schema</b> (Entity-Relationship Diagram) hieronder zie je een overzicht van de tabellen en hoe ze met elkaar verbonden zijn. De pijlen geven de koppelingen tussen tabellen aan. Een bestelde pizza (in tabel <i>besteldePizza</i>) heeft een <b>pizzacode</b>. Aan het pijltje zie je dat de gegevens over de pizza te vinden zijn in de tabel <i>pizza</i>.</p>

<a href="https://raw.githubusercontent.com/rweeda/PythonIA/main/sql/img/DaniloIA_ERD.png" target="_blank">
<img src="https://raw.githubusercontent.com/rweeda/PythonIA/main/sql/img/DaniloIA_ERD.png" alt="overzicht tabellen" width="800"></a>





<p>Tot nu toe heb je geleerd hoe je gegevens uit één tabel opvraagt. Maar soms wil je gegevens uit meerdere tabellen combineren. Daarvoor gebruik je <em>JOIN .. ON ..</em>.</p>

<p>Stel je voor: je wilt van elk <b>besteldepizzacode</b> weten hoe de pizza heet. <br>
In de tabel <em>besteldepizza</em> zie je welke pizza is besteld, maar niet de naam — alleen een <em>pizzacode</em>. De namen van de pizza’s staan in een andere tabel: <em>pizza</em>. Als je wilt weten welke pizza’s er precies besteld zijn, moet je gegevens <strong>uit beide tabellen combineren</strong>.</p>

<p>
Zoals je in dit ERD-schema ziet, de tabellen <em>besteldepizza</em> en <em>pizza</em> zijn aan elkaar gekoppeld:
<img src="https://raw.githubusercontent.com/rweeda/PythonIA/main/sql/img/DaniloIA_ERD_besteldePizza_pizza.png" alt="tabellen" width="400">
</p>

<p>Ook zie je:</p>
<ul>
  <li><em>besteldepizza</em> staat wél welke pizzacode er besteld is, bijvoorbeeld 8</li>
  <li>maar alleen in tabel <em>pizza</em> staat dat dit de 'Hawaii' is.</li>
</ul>
<p>Door de gegevens uit beide tabellen te combineren kun je tot een overzicht komen waarbij je van elk bestelde pizza weet hoe die heet:</p>
<img src="https://raw.githubusercontent.com/rweeda/PythonIA/main/sql/img/JoinBesteldepizzaPizza.png" alt="tabellen" width="400">

<!--
<p>
<table cellpadding= "10">
<tr><td>
Tabel: <em>besteldepizza</em>


<table border="1" cellpadding="4" cellspacing="0">
  <thead>
    <tr>
      <th>besteldepizzacode</th>
      <th>pizzacode</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>1</td><td>17</td></tr>
    <tr><td>2</td><td>8</td></tr>
    <tr><td>3</td><td>28</td></tr>
      <tr><td>...</td><td>...</td></tr>
  </tbody>
</table>
</td><td>


Tabel: <em>pizza</em>

<table border="1" cellpadding="4" cellspacing="0">
  <thead>
    <tr>
      <th>pizzacode</th>
      <th>naam</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>7</td><td>Borromea</td></tr>
    <tr><td>8</td><td>Hawaii</td></tr>
    <tr><td>9</td><td>Calimero</td></tr>
    <tr><td>...</td><td>...</td></tr>
  </tbody>
</table>
</td></tr></table>

</p>

<table border="1">
  <thead>
    <tr>
      <th>besteldepizzacode</th>
      <th>pizzacode</th>
      <th>naam</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>17</td>
      <td>Marinara</td>
    </tr>
    <tr>
      <td>2</td>
      <td>8</td>
      <td>Hawaii</td>
    </tr>
    <tr>
      <td>3</td>
      <td>28</td>
      <td>Fantasia</td>
    </tr>
    <tr>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
  </tbody>
</table>

-->



### Verwerkingsopdracht 5.1.1 Koppelingen tussen tabellen

Welke twee tabellen zijn in het ERD-schema direct aan elkaar gekoppeld via de kolom pizzacode?

<ul style="list-style-type: upper-alpha;">
  <li><em>klant</em> en <em>bestelling</em></li>
  <li><em>klant</em> en <em>pizza</em></li>
  <li><em>bestelling</em> en <em>bezorger</em></li>
  <li><em>bodem</em> en <em>klant</em></li>
</ul>

<p>Bekijk <a href="https://rweeda.github.io/PythonIA/docs/IA_sql_oplossingen.html#opgave511" target="_blank">hier</a> de voorbeelduitwerking.</p>
<!--
A (<em>klant</em> en <em>bestelling</em>).<p> Toelichting: De tabel <em>bestelling</em> bevat de kolom <b>klantnummer</b> die verwijst naar een rij in de tabel <em>klant</em>.</p>
-->