## 2.5: Kolom in overzicht hernoemen met <code>AS</code>

Met `AS` kan je een kolomnaam in de getoonde overzicht hernoemen. Dit doe je na de `SELECT`:

``` SQL
SELECT kolomnaam_in_tabel AS kolomnaam_in_overzicht
FROM tabel;
```


<table width="100%">
  <tr>
 <tr><td style="text-align:left; vertical-align:top; font-size:1.25rem;" width="35%">
Bijvoorbeeld, om de kolom <b>naam</b> te tonen als <b>pizzanaam</b>:

```SQL
SELECT naam AS pizzanaam
FROM pizza;
```
  </td>
  <td width="65%">
<table border="1">
  <thead>
    <tr>
      <th>pizzanaam</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>Margherita</td></tr>
    <tr><td>Napoletana</td></tr>
    <tr><td>Prosciutto</td></tr>
    <tr><td>Funghi</td></tr>
    <tr><td>Salame</td></tr>
  </tbody>
</table>
    </td>
  </tr>
</table>

<p>
N.B.: De kolomnaam in de database wordt niet aangepast. De kolomnaam wordt alleen in de getoond overzicht aangepast.</p>

### Verwerkingsopdracht 2.5.1 Kolom hernoemen
<table>
 <tr><td style="text-align:left; vertical-align:top; font-size:1.25rem;" width="65%">
Toon een overzicht van alle namen van de bezorgers zoals het overzicht hiernaast. Noem het kolom <b>bezorgernaam</b>. De gegevens komen uit tabel <i>bezorger</i>. Tip: Gebruik <code>SELECT *</code> om te zien hoe de kolommen heten.
</td><td width=35%>
  <table border="1">
    <tr>
      <th>bezorgernaam</th>
    </tr>
    <tr><td>Afhalen</td></tr>
    <tr><td>Ageeth Mooy</td></tr>
    <tr><td>Eric Henze</td></tr>
    <tr><td>...</td></tr>
    <tr><td>Herman Prent</td></tr>
  </table>
</td>
</tr>
</table>


<p>Klik <a href="https://raw.githubusercontent.com/rweeda/PythonIA/main/sql/img/DaniloIA_ERD.png" target="_blank">hier</a> voor een overzicht van alle tabellen.</p>